@use '~@/themes/default/style/globals';

.EventTotals {
    display: flex;

    &__infos,
    &__billing {
        flex: 1;
    }

    &__billing {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__items-count,
    &__duration,
    &__total-replacement {
        margin-bottom: globals.$spacing-medium;
        font-size: 1.2rem;
        font-weight: 600;
    }

    &__line {
        $line: &;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: globals.$spacing-small;
        font-size: 1.1rem;

        &__title {
            width: 240px;
            margin-right: 5px;
        }

        &__price {
            width: 120px;
            text-align: right;
        }

        &--secondary {
            margin-bottom: globals.$spacing-medium;
            color: globals.$text-light-color;
        }

        &--grand-total {
            margin-bottom: globals.$spacing-medium;

            #{$line}__title,
            #{$line}__price {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }
}
