@use '~@/style/globals';

// - Les !important sont là pour surcharger le style injecté par VueTables
/* stylelint-disable declaration-no-important */
.MaterialsListUnits {
    padding: 0.5rem 0 0;

    &__table {
        width: 100%;

        &--header {
            margin-bottom: 0.4rem;
            border-collapse: collapse;
        }

        &--body {
            border-collapse: separate;
            border-spacing: 0 0.8rem;
        }
    }

    &__heading {
        padding: 0 0.45rem !important;
        background: transparent !important;
        font-size: 0.9rem;

        //
        // - Colonnes
        //

        &--selector {
            width: 5rem;
        }

        &--is-broken,
        &--is-lost {
            width: 100px;
            text-align: center !important;
        }

        &--park,
        &--state {
            width: 20%;
        }
    }

    &__mini-action-button,
    &__mini-action-button:hover,
    &__mini-action-button:focus,
    &__mini-action-button:active {
        padding: 0 0.2rem;
        background: none;
        color: globals.$text-nav-color;
    }

    &__body {
        overflow-y: auto;
        max-height: 350px;
    }

    &__empty {
        margin: 0.6rem 0 1rem;
        color: globals.$text-light-color;
        font-size: 1.1rem;
        font-style: italic;
        text-align: center;
    }
}
/* stylelint-enable declaration-no-important */
