<div class="page__content">
    <h2>{{stepNumber}} - Categories</h2>
    <p>
        Perfect! The installation is now done.
    </p>
    <p>
        However, you can create some <strong>main materials categories</strong>
        if you want to.<br>
        These categories should reflect the different kind of things you'll manage
        into Robert2. For example, if you're a sound equipment rental company, you
        could create the categories <em>"mixers"</em>, <em>"speakers"</em>,
        <em>"microphones"</em>, <em>"processors"</em>, etc.
    </p>
    <p>
        Of course, these categories may still be <strong>modified later</strong>.
    </p>
    <form method="POST" class="form">
        <div class="form__field">
            <p class="form__field-description">
                Write a list of categories, separated by commas (,).
            </p>
            <input
                type="text"
                name="categories"
                id="categories"
                class="form__input-categories"
                value="{{stepData['categories']}}"
                onKeyUp="onInputKeyUp()"
                autocomplete="off"
                autofocus
            />
            {% if validationErrors %}
            <div class="form__field-error">
                <pre>{{validationErrors}}</pre>
            </div>
            {% endif %}
            <p class="form__field-description" style="margin-top: .5rem;">
                <span class="categories-count">2</span> categories will be created.
            </p>
        </div>
        <div class="form__submit">
            <button role="submit" class="form__submit-button">Create categories and finish</button>
            <a href="/install/end">Directly access the application</a>
        </div>
    </form>
</div>

<script src="{{ asset('/install/js/categories.js') }}"></script>
