<div class="page__content">
    <h2>That's it!</h2>
    <p>
        You have successfully installed Robert.
    </p>
    <p>
        Well done!
    </p>
    <div class="form__end">
        <a href="/" class="button button--centered">Start Robert2</a>
    </div>
</div>
