@use '~@/themes/default/style/globals';

.GlobalSettings {
    display: flex;
    height: 100%;
    gap: globals.$spacing-large;

    &__sidebar {
        flex: 0 0 auto;
        width: 250px;
    }

    &__body {
        width: 100%;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        &__sidebar {
            width: 300px;
        }
    }
}
