@use '~@/themes/default/style/globals';

.Page--global-settings {
    display: flex;
    height: 100%;

    .GlobalSettings {
        flex: 1;
    }
}

.GlobalSettings {
    display: flex;
    gap: globals.$spacing-large;

    &__sidebar {
        flex: 0 0 auto;
        width: 250px;
    }

    &__body {
        width: 100%;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        &__sidebar {
            width: 300px;
        }
    }
}
