@use '~@/themes/default/style/globals';

$drop-zone-background-color: transparent !default;
$drop-zone-color: globals.$text-base-color !default;
$drop-zone-border-radius: 10px !default;
$drop-zone-border-width: 5px !default;
$drop-zone-border-color: globals.$divider-color !default;
$drop-zone-icon-color: globals.$text-soft-color !default;

$drop-zone-active-color: $drop-zone-color !default;
$drop-zone-active-icon-color: $drop-zone-icon-color !default;
$drop-zone-active-background-color: rgba(224, 68, 6, 0.3) !default;
