.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #fff;
    background: #2a282a;
    gap: 8px;
}

.header__logo {
    height: 30px;
}

.header__title {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: .03em;
}

@media(min-width: 600px) {
    .header {
        padding: 20px;
        gap: 10px;
    }
    .header__logo {
        height: 35px;
    }
}
