* {
    box-sizing: border-box;
}

h1 {
    font-size: 1.4rem;
    margin: 0 0 15px 0;
}

h2 {
    font-size: 1.25rem;
    margin: 0 0 15px 0;
}

h3 {
    font-size: 1.15rem;
    margin: 0 0 15px 0;
}

h4 {
    font-size: 1.05rem;
    margin: 0 0 15px 0;
}

a:not(.button) {
    color: #e14406;
    text-decoration: none;
    outline: 0;
}

a:not(.button):hover,
a:not(.button):active,
a:not(.button):focus {
    color: #993006;
    border-bottom: 1px dotted #993006;
}

p {
    margin: 0 0 25px;
    text-align: justify;
}

input {
    flex: 0 0 auto;
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    color: #333;
}
input:focus {
    border-color: #e14406;
}
input[type='number'] {
    max-width: 100px;
}
input[type='radio'] {
    width: 18px;
    height: 18px;
    margin: 0;
    cursor: pointer;
}
label[for] {
    display: inline-block;
    padding-left: .3rem;
    cursor: pointer;
}
input[type='radio']:not(:first-of-type) {
    margin-left: 1.2rem;
}

select {
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    color: #333;
}

button,
.button {
    background: #e14406;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
button:hover,
.button:hover {
    background: #cb3e06;
    color: #fff;
    border: none;
}

.button--centered {
    text-align: center;
}
