@use '~@/themes/default/style/globals';

.MaterialsSelectorList {
    $block: &;

    height: 100%;

    /* stylelint-disable selector-max-type, selector-max-compound-selectors */
    .VueTables {
        .table-responsive {
            margin-top: 0;
        }

        &__table {
            > thead {
                display: none;
            }

            .VueTables__row {
                > td {
                    border-bottom-color: globals.$list-left-border-color;
                    background: none;
                }

                &:first-child > td {
                    border-top: 1px solid globals.$list-left-border-color;
                }
            }
        }
    }
    /* stylelint-enable selector-max-type, selector-max-compound-selectors */

    &__col {
        &--quantity {
            width: 65px;
            // stylelint-disable-next-line declaration-no-important
            color: globals.$text-light-color !important;
            font-weight: 600;
            text-align: right;
        }

        &--availability {
            width: 200px;
            text-align: center;
        }

        &--price {
            width: 120px;
            text-align: right;
            white-space: nowrap;

            .Icon {
                margin-left: 0.3rem;
                color: globals.$text-light-color;
            }
        }

        &--quantity-input {
            width: 9rem;
            text-align: center;
        }

        &--amount {
            width: 7rem;
            min-width: 5rem;
            text-align: right;
        }

        &--actions {
            width: 1%;
            min-width: 48px;
            text-align: right;
            white-space: nowrap;

            .Button + .Button {
                margin-left: globals.$spacing-thin;
            }
        }
    }

    &__item {
        &__name {
            display: block;
            font-weight: 600;

            &__name {
                display: block;

                &--unsynced {
                    margin-bottom: 4px;
                }
            }

            &__reference {
                display: block;
                color: globals.$text-light-color;
                font-weight: 400;
            }
        }

        &__name__name,
        &__name__reference,
        &__price,
        &__total-price {
            &--unsynced {
                text-decoration: underline;
                text-underline-offset: 3px;
                text-decoration-style: wavy;
                text-decoration-color: globals.$primary-color;
            }
        }
    }

    //
    // - State
    //

    &--empty {
        display: flex;
        align-items: center;
        justify-content: center;

        #{$block}__table {
            display: none;
        }
    }
}
