@use '~@/themes/default/style/globals';

.BeneficiaryEditCompanySelect {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: globals.$spacing-medium;

    &__select {
        flex: 1;
    }

    &__edit-button {
        margin-left: 10px;
    }
}
