@use '~@/style/globals';

.MaterialView {
    height: 100%;

    > .Help {
        margin-bottom: 1rem;
    }

    &__menu {
        margin-left: auto;
    }

    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: globals.$text-base-color;

        .vue-tablist {
            margin-bottom: 1rem;
        }

        .vue-tabpanel {
            flex: 1;
        }
    }
}
