@use '~@/themes/default/style/globals';

.Fieldset {
    $block: &;

    &__title {
        margin: 0 0 globals.$spacing-medium;
        font-size: 1.3rem;
    }

    &__help {
        margin: 0 0 globals.$spacing-medium;
        color: globals.$text-light-color;
        white-space: pre-line;
    }

    & + & {
        margin-top: globals.$spacing-large;
    }

    //
    // - Variantes
    //

    &--with-help {
        #{$block}__title {
            margin-bottom: globals.$spacing-small;
        }
    }
}
