@use '~@/themes/default/style/globals';

.Fieldset {
    $block: &;

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: globals.$spacing-medium;
        gap: globals.$spacing-small;

        &__main {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: globals.$spacing-small;
        }

        &__title {
            flex: 1;
            margin: 0;
            font-size: 1.3rem;
        }

        &__actions {
            margin-left: auto;
        }

        &__help {
            margin: 0;
            color: globals.$text-soft-color;
            white-space: pre-line;
        }
    }

    & + & {
        margin-top: globals.$spacing-large;
    }
}
