@use '~@/themes/default/style/globals';

.Embed {
    //
    // - Custom properties
    //

    --Embed--background-color: #{globals.$bg-color-body};
    --Embed--color: #{globals.$text-base-color};
    --Embed--font-size: #{globals.$base-font-size};

    //
    // - Règles
    //

    width: 100%;
    height: 300px;
    border: none;
}
