.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.page__sidebar {
    flex: 0 0 auto;
    display: flex;
}

.page__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    font-weight: 200;
}

.page__error {
    flex: 0 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 1.3rem 2rem;
    background: #f00;
    color: #fff;
    line-height: 1.4rem;
    font-weight: 600;
    white-space: pre-wrap;
}

@media(min-width: 1200px) {
    .page__content,
    .page__error {
        max-width: 800px;
    }
}
