@import '../../../../themes/default/index';

.EventReturnMaterialItem {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    border-radius: $input-border-radius;
    color: $text-base-color;
    background: rgba(#fff, 0.05);

    &__reference,
    &__name,
    &__quantity-out {
        padding: 0 $content-padding-large-horizontal;
    }

    &__reference {
        flex: 0 0 150px;
    }

    &__name {
        flex: 1;
        color: $text-nav-color;
    }

    &__error {
        flex: 1;
        color: $text-danger-color;
    }

    &__quantity-out {
        flex: 0 0 auto;
        text-align: right;
        color: $text-nav-color;

        &__count {
            color: $text-base-color;
            font-size: 1.1rem;
        }
    }

    &__quantity-returned,
    &__quantity-broken {
        flex: 0 0 auto;
        text-align: center;
    }

    &__quantity-broken {
        margin-left: $content-padding-large-vertical;
    }

    &--locked {
        .EventReturnMaterialItem__quantity-returned,
        .EventReturnMaterialItem__quantity-broken {
            flex: 0 0 95px;
            font-size: 1.1rem;
            color: $text-light-color;
            padding: $content-padding-small-horizontal 0;
        }
    }

    &--complete {
        background: rgba($text-success-color, 0.25);

        .EventReturnMaterialItem__quantity-returned {
            font-weight: 600;
            color: $text-base-color;
        }
    }

    &--warning {
        background: rgba($text-warning-color, 0.25);

        .EventReturnMaterialItem__quantity-returned {
            font-weight: 600;
            color: $text-warning-color;
        }

        .EventReturnMaterialItem__quantity-broken {
            font-weight: 600;
            color: $text-danger-color;
        }
    }

    &--error {
        background: rgba($text-danger-color, 0.25);

        .EventReturnMaterialItem__quantity-returned {
            font-weight: 600;
            color: $text-danger-color;
        }
    }
}
