@use '~@/themes/default/style/globals';
@use 'sass:math';
@use 'sass:color';

.Page--materials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .Materials {
        flex: 1;
    }
}

.Materials {
    $block: &;

    display: flex;
    flex-direction: column;

    &__filters {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: globals.$spacing-small;
        gap: globals.$spacing-small;

        .MaterialsFilters {
            flex: 0 1 auto;
        }
    }

    &__quantities-date {
        flex: 1 0 auto;

        &__input {
            width: 280px;
        }

        &__clear-button {
            margin-left: globals.$spacing-small;
        }
    }

    &__link {
        padding: 10px 0;

        // "important", pour surcharger la définition globale du <a>
        // stylelint-disable-next-line declaration-no-important
        color: globals.$text-base-color !important;

        &:hover {
            // "important", pour surcharger la définition globale du <a>
            // stylelint-disable-next-line declaration-no-important
            color: globals.$link-hover-color !important;
        }
    }

    &__row {
        cursor: pointer;

        &:hover > #{$block}__cell {
            background-color: color.adjust(globals.$bg-color-table-td, $lightness: 5%);
        }
    }

    &__cell {
        &--ref,
        &--park,
        &--category,
        &--description,
        &--rental-price,
        &--replacement-price,
        &--quantity-broken,
        &--tags {
            display: none;
        }

        &--tags {
            max-width: 400px;
        }

        &--category {
            white-space: nowrap;
        }

        &--not-categorized {
            color: globals.$text-light-color;
            font-style: italic;
        }

        &--rental-price,
        &--replacement-price {
            text-align: right;
        }

        &--quantity,
        &--quantity-broken {
            // Important, pour éviter l'overwrite du TH de vue-tables
            /* stylelint-disable-next-line declaration-no-important */
            text-align: center !important;
        }

        &--actions {
            width: 1%;
            text-align: right;
            white-space: nowrap;
        }
    }

    &__sub-category {
        margin-top: 3px;
    }

    &__quantity-broken {
        color: globals.$text-danger-color;
        font-weight: 800;
    }

    &__tags-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: -0.35rem;
        cursor: pointer;

        &:hover {
            color: globals.$link-hover-color;
        }
    }

    &__add-tags {
        flex: 1;
        margin-bottom: 0.35rem;
        padding: 0.4rem 0.55rem;
        font-size: 0.85rem;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        &__cell {
            &--ref,
            &--rental-price,
            &--replacement-price,
            &--category {
                display: table-cell;
            }
        }
    }

    @media (min-width: globals.$screen-desktop) {
        &__cell {
            &--quantity-broken,
            &--tags {
                display: table-cell;
            }
        }
    }

    @media (min-width: globals.$screen-big-desktop) {
        &__cell {
            &--park,
            &--description {
                display: table-cell;
            }
        }

        &__filters {
            position: absolute;
            z-index: 1;
            left: globals.$table-search-input;
            right: calc(#{globals.$spacing-large} + 45px + #{globals.$spacing-medium});
            flex-wrap: nowrap;
            align-items: center;
            margin-bottom: 0;
            margin-left: globals.$spacing-small;

            .MaterialsFilters {
                flex-wrap: nowrap;
            }
        }
    }
}
