@use '~@/themes/default/style/globals';
@use 'sass:color';

.DefaultLayoutHeaderMenu {
    &__button {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 globals.$spacing-medium;
        border: none;
        border-radius: 0;
        background-color: globals.$bg-color-emphasis;

        &:hover {
            background-color: color.adjust(globals.$bg-color-emphasis, $lightness: 8%);
        }
    }
}
