.EventStep4 {
  padding-bottom: 3rem;

  .Form__actions {
    position: fixed;
    bottom: 0;
    left: 193px;
    right: 15px;
    margin: 0;
    padding: 1rem 0 1.5rem;
    background: $bg-color-body;
  }
}

@media (min-width: $screen-mobile) {
  .EventStep4 {
    .Form__actions {
      left: 256px;
    }
  }
}

@media(min-width: $screen-desktop) {
  .EventStep4 {
    .Form__actions {
      left: 376px;
    }
  }
}
