@use '~@/themes/default/style/globals';

.Page--event-return {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;

    .EventReturn {
        flex: 1;
        align-self: center;
    }
}

.EventReturn {
    overflow: auto;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 globals.$content-padding-small-vertical globals.$content-padding-large-horizontal;

    .EventReturnHeader {
        margin-bottom: globals.$content-padding-large-horizontal;
    }

    .EventReturnFooter {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
