<style>
    {% if env is same as('development') -%}
    html,
    body {
        padding: 0;
        margin: 0;
    }
    {% endif %}

    .app-loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        color: #8a8a8a;
        font-size: 1.5rem;
        animation: 500ms linear 2s forwards app-loading--visibility;
        visibility: hidden;
    }
    .app-loading__spinner {
        width: 65px;
        height: 65px;
        animation: 1.4s linear infinite app-loading--spin;
    }
    .app-loading__spinner__path {
        stroke: currentColor;
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation:  1.4s ease-in-out infinite app-loading--dash;
    }
    @keyframes app-loading--visibility {
        from { opacity: 0; }
        to {
            visibility: visible;
            opacity: 1;
        }
    }
    @keyframes app-loading--spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(270deg); }
    }
    @keyframes app-loading--dash {
        0% { stroke-dashoffset: 187; }
        50% {
            stroke-dashoffset: 46.75;
            transform: rotate(135deg);
        }
        100% {
            stroke-dashoffset: 187;
            transform: rotate(450deg);
        }
    }
</style>
<div class="app-loading">
    <svg class="app-loading__spinner" viewBox="0 0 66 66" aria-hidden="true">
        <circle class="app-loading__spinner__path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>
