@use '~@/style/globals';

.Input {
    $block: &;

    //
    // - Custom properties
    //

    --input-width: var(--Input--input-width, 100%);

    //
    // - Règles
    //

    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    &__field {
        flex: 1;
        max-width: var(--input-width);
    }

    &__input {
        width: 100%;
        padding: globals.$input-padding-vertical globals.$input-padding-horizontal;
        border: globals.$input-border-size solid globals.$bg-color-input-normal;
        border-radius: globals.$input-border-radius;
    }

    &__addon {
        flex: 0 0 auto;
        display: inline-block;
        min-width: 2.7rem;
        padding: globals.$input-padding-vertical globals.$input-padding-horizontal;
        border: globals.$input-border-size solid globals.$bg-color-input-normal;
        border-left: 0;
        border-radius: 0 globals.$input-border-radius globals.$input-border-radius 0;
        background-color: globals.$bg-color-input-normal;
        color: globals.$color-input;
        text-align: center;
    }

    //
    // - Focused
    //

    &--focused {
        #{$block}__input,
        #{$block}__addon {
            border-color: globals.$input-focus-border-color;
        }
    }

    //
    // -- Avec addon.
    //

    &--with-addon {
        #{$block}__input {
            display: inline-block;
            padding-right: 0;
            border-right: 0;
            border-radius: globals.$input-border-radius 0 0 globals.$input-border-radius;
        }
    }

    //
    // - Invalide
    //

    &--invalid {
        &:not(&--focused) {
            /* stylelint-disable selector-class-pattern */
            #{$block}__input,
            #{$block}__addon {
                border-color: globals.$input-error-border-color;
            }
            /* stylelint-enable selector-class-pattern */
        }
    }
}
