<div class="page__content">
    <h2>C'est fini !</h2>
    <p>
        Vous avez installé Robert avec succès.
    </p>
    <p>
        Bien joué !
    </p>
    <div class="form__end">
        <a href="/" class="button button--centered">Démarrer Robert2</a>
    </div>
</div>
