@use '~@/themes/default/style/globals';

.ProfileUserSettings {
    $block: &;

    &__section {
        margin-top: globals.$spacing-large;

        &__title {
            margin: 0;
        }

        &__help {
            margin-top: 0.2rem;
            font-style: italic;
        }

        &__body {
            margin-top: 1.2rem;
        }
    }

    &__name {
        display: flex;
        margin-bottom: globals.$spacing-medium;

        #{$block}__first-name,
        #{$block}__last-name {
            flex: 1;
            width: 50%;
            margin: 0;
        }

        #{$block}__first-name {
            margin-right: 5px;
        }

        #{$block}__last-name {
            margin-left: 5px;
        }
    }

    &__actions {
        margin-top: globals.$spacing-large;
        text-align: center;
    }
}
