// - Core definitions
@import './style/index';

#app {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    color: $text-base-color;
}

.main {
    flex: 1;
    display: flex;
    height: 100%;
    overflow: auto;
    flex-direction: column;
    color: $text-nav-color;

    &__body {
        flex: 1;
        display: flex;
        height: 100%;
        overflow: auto;
        align-items: stretch;
    }
}
