// - Core definitions
@import './style/index';

// stylelint-disable-next-line selector-max-id
#app {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    color: $text-base-color;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    color: $text-nav-color;

    &__body {
        flex: 1;
        display: flex;
        align-items: stretch;
        overflow: auto;
        height: 100%;
    }
}
