@use '~@/style/globals';

.InventoryPageInventory {
    $footer-height: 55px;

    // stylelint-disable-next-line declaration-no-important
    margin-bottom: $footer-height !important;

    > .Inventory {
        margin-bottom: globals.$content-padding-large-horizontal;
    }

    &__footer {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        height: $footer-height;
        padding: globals.$content-padding-large-horizontal 0;
        background-color: globals.$bg-color-body;
        text-align: center;

        &__action + &__action {
            margin-left: globals.$content-padding-small-vertical;
        }
    }

    //
    // - Empty (pas de matériel)
    //

    &--empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
