@import '../../../themes/default/index';

.InventoryPageInventory {
  $footer-height: 55px;

  margin-bottom: $footer-height !important;

  > .Inventory {
    margin-bottom: $content-padding-large-horizontal;
  }

  &__footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: $footer-height;
    padding: $content-padding-large-horizontal 0;
    background-color: $bg-color-body;
    text-align: center;

    &__action + &__action {
      margin-left: $content-padding-small-vertical;
    }
  }
}
