@use '~@/themes/default/style/globals';

.EventDetailsMainBeneficiary {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: globals.$spacing-thin;

    &__address,
    &__phone,
    &__email {
        margin: 0;
    }

    &__address {
        white-space: pre-line;
    }
}
