.Company {
  &__main {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
  }

  .CompanyForm {
    flex: 2;
    min-width: $form-min-width;
    max-width: $form-max-width;
    margin-right: 0;
  }

  &__extras {
    flex: 1;
    margin-top: 2.8rem;
    min-width: 180px;
  }

  .Help {
    display: none;
    margin-bottom: 1rem;
  }

  &__persons {
    padding: .5rem 1rem;
    max-width: 350px;
    background-color: $bg-color-side-nav;
    color: $text-base-color;

    &__title {
      margin: .5rem 0;
      font-size: 1.1rem;
    }

    &__list {
      margin: 0;
      padding: .5rem;
    }

    &__item {
      list-style: none;
      margin-bottom: .5rem;

      .fas {
        margin-right: .2rem;
      }
    }
  }

  @media screen and (min-width: $screen-tablet) {
    .CompanyForm {
      margin-right: 1.5rem;
    }

    .Help {
      display: block;
    }
  }
}
