.Company {
    &__main {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3rem;
    }

    .CompanyForm {
        flex: 2;
        max-width: $form-max-width;
        min-width: $form-min-width;
        margin-right: 0;
    }

    &__extras {
        flex: 1;
        min-width: 180px;
        margin-top: 2.8rem;
    }

    .Help {
        display: none;
        margin-bottom: 1rem;
    }

    &__persons {
        max-width: 350px;
        padding: 0.5rem 1rem;
        background-color: $bg-color-side-nav;
        color: $text-base-color;

        &__title {
            margin: 0.5rem 0;
            font-size: 1.1rem;
        }

        &__list {
            margin: 0;
            padding: 0.5rem;
        }

        &__item {
            margin-bottom: 0.5rem;
            list-style: none;

            .fas {
                margin-right: 0.2rem;
            }
        }
    }

    @media screen and (min-width: $screen-tablet) {
        .CompanyForm {
            margin-right: 1.5rem;
        }

        .Help {
            display: block;
        }
    }
}
