@use '~@/style/globals';

.Page--company-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .CompanyEdit {
        flex: 1;
        align-self: center;
    }
}

.CompanyEdit {
    display: flex;
    align-items: flex-start;
    width: 600px;
    max-width: 100%;

    .CompanyEditForm {
        flex: 1;
    }

    // &__persons {
    //     display: none;
    //     width: 260px;
    //     margin-top: 2.5rem;
    //     margin-left: 1.5rem;
    //     padding: 1.5rem;
    //     border-radius: 5px;
    //     background-color: globals.$bg-color-side-nav;
    //     color: globals.$text-base-color;

    //     &__title {
    //         margin: 0 0 0.5rem;
    //         font-size: 1.1rem;
    //     }

    //     &__list {
    //         margin-bottom: 0;
    //         padding-left: 1.2rem;
    //         word-wrap: break-word;
    //     }
    // }

    // @media screen and (min-width: globals.$screen-tablet) {
    //     &__persons {
    //         display: block;
    //     }
    // }
}
