/dist

#
# - Fichiers spécifiques à certains systèmes.
#

.DS_Store
.AppleDouble
.LSOverride

# - Minitatures
._*

# - Fichiers qui peuvent apparaître à la racine de volumes.
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# - IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
