/dist

#
# - Fichiers spécifiques aux systèmes.
#

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns

#
# - Fichiers spécifiques aux éditeurs.
#

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-*
*.stTheme.cache
*.tmlanguage.cache
*.tmPreferences.cache
