# - Interdit l'`autoindex`.
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # - Redirige toutes les requêtes vers le dossier `server/src/public/`.
    RewriteRule ^$ server/src/public/ [QSA,NC,L]
    RewriteRule ^(.*)$ server/src/public/$1 [QSA,NC,L]
</IfModule>
