@import '../../../themes/default/';

.EventDetailsMaterials {
  display: flex;
  flex-direction: column;

  .EventMissingMaterials__title {
    margin-top: 0;
  }

  .EventTotals {
    padding: 0;
    text-align: left;
  }
}
