.EventDetailsMaterials {
    display: flex;
    flex-direction: column;

    .MaterialsSorted__categories {
        overflow-y: auto;
        max-height: 350px;
        padding-right: 10px;
    }

    .EventMissingMaterials__title {
        margin-top: 0;
    }

    .EventTotals {
        padding: 0;
        text-align: left;
    }
}
