@import '../../themes/default/index';

.EventReturn {
    width: 100%;
    overflow: auto;
    margin-bottom: 55px;
    padding: 0 $content-padding-small-vertical $content-padding-large-horizontal;

    .EventReturnHeader,
    &__list {
        max-width: 1100px;
        margin: 0 auto;
    }

    .EventReturnHeader {
        margin-bottom: $content-padding-large-horizontal;
    }

    &__error {
        margin: $content-padding-large-vertical 0;
        text-align: center;
        color: $text-danger-color;
        font-size: 1.2rem;
    }

    &__footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: $content-padding-large-horizontal 0;
        background-color: $bg-color-body;
        text-align: center;
    }

    &__done {
        display: inline-block;
        color: $text-success-color;
        padding: $content-padding-large-horizontal $content-padding-large-vertical;
    }

    &__action {
        margin-left: $content-padding-small-vertical;
    }
}
