.MaterialsList {
  display: flex;
  flex-direction: column;
  color: $text-base-color;

  &__header {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .MaterialsFilters {
      flex: 1;
      margin: $content-padding-small-vertical 0;

      select,
      button,
      input,
      .v-select {
        margin-right: .3rem;
        margin-bottom: .3rem;
      }
    }

    &__extra-filters {
      flex: 0 0 auto;
      margin: $content-padding-small-vertical;

      &__filter {
        display: flex;
        flex-direction: column;
        align-items: center;

        .SwitchToggle {
          margin-top: .3rem;
        }
      }
    }
  }

  &__error {
    color: $text-danger-color;
    margin: $content-padding-small-vertical 0;
  }

  &__main {
    flex: 1;
    position: relative;
  }

  &__loading {
    position: absolute;
    right: 0;
    top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .fas {
      margin-right: .3rem;
    }
  }

  .VueTables__table {
    thead {
      display: none;
    }

    .VueTables__row {
      td {
        background: none;
        border-bottom-color: $list-left-border-color;
      }

      &:first-child td {
        border-top: 1px solid $list-left-border-color;
      }
    }
  }

  &__qty {
    color: $text-light-color !important;
    font-weight: 600;
  }

  &__ref {
    font-weight: 600;
  }

  &__name {
    color: $text-light-color !important;
  }

  &__remaining {
    min-width: 4.5rem;

    &--zero {
      color: $text-warning-color;
    }

    &--empty {
      color: $text-danger-color;
    }
  }

  &__price {
    text-align: right;

    .fas {
      margin-left: .3rem;
      color: $text-light-color;
    }
  }

  &__quantity {
    width: 9rem;
    min-width: 9rem;

    button {
      padding: 6px 8px;
    }

    &__number {
      width: 3rem;
      margin: 0 .3rem;
      padding: 5px 8px 6px;
    }
  }

  &__amount {
    width: 5rem;
    min-width: 5rem;
    text-align: right;
  }

  &__actions {
    width: 45px;
    min-width: 45px;

    button {
      padding: 6px 8px;
    }
  }
}
