@use '~@/themes/default/style/globals';

.ErrorDetails {
    font-size: 1.1rem;
    font-weight: 400;

    &__header {
        display: flex;
        align-items: center;
        padding: 0.7rem 1rem;
        background-color: globals.$bg-color-main-header;
    }

    &__title {
        flex: 1;
        color: globals.$text-danger-color;
        font-size: 1.5rem;
    }

    &__btn-close {
        flex: 0 0 auto;
        border: none;
        background: none;
    }

    &__main {
        padding: 0.7rem 1rem 2rem;
    }

    &__no-details-info {
        color: globals.$text-warning-color;
        font-weight: 600;
    }

    &__separator {
        opacity: 0.15;
    }

    &__content {
        color: globals.$text-nav-color;
    }

    &__subtitle {
        font-size: 1.3rem;
    }

    &__message,
    &__file {
        font-family: monospace;
        font-weight: 600;
    }

    &__trace {
        overflow-y: auto;
        max-height: 150px;
        color: globals.$bg-color-body;
    }

    &__trace-item {
        margin-bottom: 0.5rem;
        color: globals.$text-nav-color;

        &__index {
            display: inline-block;
            width: 3rem;
            font-weight: 600;
        }

        &__info {
            color: globals.$text-nav-color;
            font-family: monospace;
        }

        &__info:not(:nth-child(2)) {
            margin-left: 3rem;
        }
    }

    &__footer {
        padding: 1.5rem 1rem 0;
        text-align: center;
    }

    &__is-copied {
        margin-top: 0;
        color: globals.$text-success-color;
    }
}
