@use '~@/themes/default/style/globals';

.DefaultLayout {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    color: globals.$text-nav-color;

    &__body {
        flex: 1;
        display: flex;
        align-items: stretch;
        overflow: auto;
        height: 100%;
    }
}
