@use '~@/themes/default/style/globals';
@use 'sass:math';

.FormField {
    $block: &;

    //
    // - Custom properties
    //

    --label-width: var(--FormField--label-width, #{globals.$form-label-width});
    --input-width: var(--FormField--input-width, 100%);

    //
    // - Règles
    //

    &__label {
        display: block;
        padding: math.div(globals.$input-padding-vertical, 1.8) 0;

        &__required {
            color: globals.$text-danger-color;
        }
    }

    &__field {
        flex: 1;
    }

    &__input-wrapper {
        // - Là pour supprimer le spacing ajouté par les `display: inline-block`.
        display: flex;
    }

    &__input {
        width: 100%;
        max-width: var(--input-width);
    }

    //
    // -- Aide / Erreur
    //

    &__help,
    &__error {
        overflow: hidden;
        margin-top: 0.3rem;
        text-overflow: ellipsis;
        white-space: pre-line;
    }

    &__help {
        font-style: italic;
    }

    &__error {
        color: globals.$text-danger-color;
    }

    & + & {
        margin-top: globals.$spacing-medium;
    }

    //
    // -- Type: "Input" (text, number, etc.)
    //

    &--text,
    &--email,
    &--tel,
    &--password,
    &--number {
        #{$block}__input {
            --input-width: inherit;

            max-width: 100%;
        }
    }

    //
    // -- Type: Static
    //

    &--static {
        #{$block}__input {
            margin: 0;
            padding: 10px 0;
            font-weight: 500;
            font-style: italic;
        }
    }

    //
    // - Responsive
    //

    @media screen and (min-width: globals.$screen-tablet) {
        &--switch {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            #{$block}__label {
                text-align: right;

                /* stylelint-disable declaration-no-important, order/properties-order -- Pour surcharger la mise en forme verticale */
                padding: 0 globals.$input-padding-horizontal 0 0 !important;
                align-self: auto !important;
                /* stylelint-enable declaration-no-important */
            }

            // - Si le switch est en mode vertical, on ne met pas le label
            //   au dessus du switch mais on augmente la marge haute dans le
            //   cas ou le champ est précédé par un autre champ.
            #{$block} + &#{$block}--vertical {
                margin-top: globals.$spacing-medium * 1.5;
            }
        }

        &:not(&--vertical) {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            #{$block}__label {
                flex: 0 0 var(--label-width);
                padding: 0.76rem globals.$input-padding-horizontal;
                text-align: right;
                align-self: flex-start;
            }
        }
    }
}
