@use '~@/style/globals';

.Page--tags {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Tags {
        flex: 1;
    }
}

.Tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__list {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    &__item {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 15px 20px;
        border-radius: 10px;
        background: globals.$bg-color-emphasis;
        font-size: 1.2rem;

        & + & {
            margin-top: 20px;
        }

        &__name {
            flex: 1;
            color: globals.$text-base-color;

            > .Icon {
                margin-right: 0.5rem;
                color: globals.$text-light-color;
            }
        }

        &__actions {
            margin-left: 1rem;
            transition: none;
        }

        @media (min-width: globals.$screen-tablet) {
            min-width: 350px;
        }

        @media (min-width: globals.$screen-desktop) {
            min-width: 450px;

            &__actions {
                visibility: hidden;
            }

            &:hover {
                .Tags__item__actions {
                    visibility: visible;
                }
            }
        }
    }
}
