.Tags {
  &__empty {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    color: $text-muted-color;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
  }

  &__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  &__edit-button {
    padding: .33rem .6rem;
    margin-left: .5rem;
    transition: 10ms visibility;
  }

  &__item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    min-height: 2rem;
    min-width: 18rem;
    margin: .5rem 2rem .5rem 0;
    padding: .6rem 1rem;
    background: $bg-color-emphasis;
    border-radius: 10px;
    font-size: 1.2rem;

    &__name {
      flex: 1;
      color: $text-base-color;

      .fas {
        margin-right: .4rem;
        color: $text-light-color;
      }
    }

    &--protected {
      .Tags__item__name {
        color: $text-muted-color;
      }
    }
  }
}

@media(min-width: $screen-desktop) {
  .Tags {
    &__edit-button {
      visibility: hidden;
    }

    &__item {
      &:hover {
        .Tags__edit-button {
          visibility: visible;
        }
      }
    }
  }
}
