@use '~@/themes/default/style/globals';

.MaterialsPageFilters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: globals.$spacing-small;

    &__search {
        flex: 1;
    }

    &__quantities-period {
        max-width: 100%;
        min-width: 320px;

        &__input {
            width: 100%;
        }
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-desktop) {
        &__search {
            min-width: 500px;
        }
    }
}
