@use '~@/themes/default/style/globals';

.Event {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    &__sidebar {
        position: fixed;
        display: none;
        width: 160px;
        padding: 0 0 7px;
        text-align: right;

        &__help {
            display: flex;
            justify-content: center;

            .Help {
                margin: 1rem 0.5rem;
                line-height: 1.5;

                &__error {
                    text-align: center;
                }

                &__loading {
                    justify-content: center;
                }
            }
        }
    }

    &__body {
        flex: 1;
        overflow: auto;
    }

    .EventMiniSummary {
        width: 100%;
        margin-top: 1rem;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        &__sidebar {
            display: block;
        }

        &__body {
            margin-left: 180px;
        }
    }

    @media (min-width: globals.$screen-desktop) {
        &__sidebar {
            width: 200px;
        }

        &__body {
            margin-left: 220px;
        }
    }
}
