@use '~@/themes/default/style/globals';

.EventSummaryGlobalSettings {
    &__section {
        margin-top: globals.$spacing-large;

        .FormField {
            --label-width: 200px;
        }
    }

    &__actions {
        margin-top: globals.$spacing-large;
        text-align: center;
    }
}
