.content {
    position: relative;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    overflow: auto;
    height: 100%;

    &__header {
        flex: 0 0 auto;
    }

    &__main-view {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        padding: 1rem;
    }

    &__header + &__main-view {
        padding-top: 0;
    }

    &__footer {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem 1rem;
    }

    @media (min-width: $screen-tablet) {
        &__main-view {
            padding: 2rem;
        }

        &__footer {
            padding: 0 2rem 2rem;
        }
    }
}
