@use '~@/themes/default/style/globals';

.EventDetailsInfos {
    display: flex;
    flex-direction: column;

    &__base-infos {
        display: flex;
        flex-wrap: wrap;

        .LocationText,
        .EventBeneficiaries,
        .EventTechnicians,
        &__creator {
            flex: 1 0 auto;
            max-width: 100%;
            margin: 0 globals.$content-padding-small-horizontal globals.$content-padding-large-vertical 0;
        }

        &__creator {
            font-size: 1rem;

            &__icon {
                margin-right: 0.3rem;
            }

            &__link {
                margin-left: 0.3rem;
            }
        }
    }

    &__description,
    &__confirmation {
        margin-bottom: globals.$content-padding-large-vertical;
        font-size: 1.2rem;

        .fas {
            width: 1.5rem;
            margin-right: 0.5rem;
            text-align: center;
        }
    }

    &__description {
        margin-top: 0;
        color: globals.$text-nav-color;
        line-height: 1.5;
        white-space: pre-wrap;
    }

    &__confirmation {
        color: globals.$text-warning-color;

        &--confirmed {
            color: globals.$text-success-color;
        }
    }

    .EventTotals {
        padding: 0;
        text-align: left;
    }
}
