.CalendarSettingsPreview {
    position: relative;
    min-height: 250px;
    background-color: #363636;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;

        &__col {
            width: 90px;

            & + & {
                border-left: 1px solid #545454;
            }
        }
    }
}
