@use '~@/themes/default/style/globals';

.EventEditStepMaterials {
    display: flex;
    height: 100%;
    padding-bottom: 50px;

    &__selector {
        flex: 1;
    }

    &__actions {
        position: fixed;
        left: 13px;
        bottom: 0;
        right: 13px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 1rem 1rem 1.5rem;
        background: globals.$bg-color-body;
        gap: globals.$spacing-small;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-mobile) {
        &__actions {
            left: 63px;
        }
    }

    @media (min-width: globals.$screen-tablet) {
        &__actions {
            left: 256px;
        }
    }

    @media (min-width: globals.$screen-desktop) {
        &__actions {
            left: 376px;
            gap: globals.$spacing-medium;
        }
    }
}
