@use '~@/themes/default/style/globals';

.Page--material-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .MaterialEdit {
        flex: 1;
        align-self: center;
    }
}

.MaterialEdit {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 500px;
    max-width: 100%;

    &__side {
        margin-bottom: globals.$spacing-medium;
    }

    //
    // - Responsive
    //

    @media screen and (min-width: globals.$screen-desktop) {
        flex-direction: row;
        width: auto;

        &__body {
            width: 500px;
            margin-right: globals.$spacing-large;
            margin-bottom: globals.$form-fixed-actions-margin-bottom;
        }

        &__side {
            width: 300px;
            margin-top: 0;
        }
    }
}
