@use '~@/themes/default/style/globals';

.EventEditStepBeneficiariesSelect {
    $block: &;

    &__item {
        display: flex;
        gap: globals.$spacing-small;

        &__field {
            flex: 1;
        }

        &__value {
            flex: 1;
            min-height: 2.7rem;
            padding: globals.$input-padding-vertical globals.$input-padding-horizontal;
            border: globals.$input-border-width solid globals.$input-border-color;
            border-radius: globals.$input-border-radius;
            color: globals.$input-text-color;

            &__error {
                color: globals.$text-danger-color;
                font-style: italic;
            }
        }
    }

    &__actions {
        margin-top: globals.$spacing-medium;
        margin-left: globals.$form-label-width;
    }

    //
    // - Empty state
    //

    &--empty {
        #{$block}__actions {
            margin-left: 0;
        }
    }
}
