@use '~@/themes/default/style/globals';
@use 'sass:color';

.InvoiceEditorMaterials {
    &__item {
        &__cell {
            &--name {
                min-width: 200px;
            }

            &--price {
                width: 300px;
            }

            &--quantity {
                width: 130px;

                // stylelint-disable-next-line declaration-no-important -- Pour surcharger le `<th>`.
                text-align: center !important;
            }

            &--discount {
                width: 200px;
            }

            &--total-without-taxes {
                width: 110px;

                // stylelint-disable-next-line declaration-no-important -- Pour surcharger le `<th>`.
                text-align: right !important;
            }

            &--actions {
                width: 1%;
                min-width: 57px;
            }
        }

        &__name {
            display: block;
            font-weight: 600;

            &__name {
                display: block;

                &--unsynced {
                    margin-bottom: 4px;
                }
            }

            &__reference {
                display: block;
                color: globals.$text-light-color;
                font-weight: 400;
            }
        }

        &__price {
            display: flex;
            align-items: center;
            gap: globals.$spacing-small;
            white-space: nowrap;

            &__static-value {
                width: 125px;
                padding: 0 14px;
            }

            &__input {
                width: 125px;
                padding: 1px;
                border-radius: 4px;

                &--unsynced {
                    outline: 1px dashed color.adjust(globals.$primary-color, $alpha: -0.3);
                }
            }

            &__degressive-rate {
                width: 40px;

                @include globals.icon('times') {
                    margin-right: globals.$spacing-thin;
                    color: globals.$text-soft-color;
                    font-size: 0.7rem;
                }
            }

            &__total {
                font-weight: 500;

                @include globals.icon('equals') {
                    margin-right: 10px;
                    color: globals.$text-soft-color;
                    font-size: 0.7rem;
                }
            }
        }

        &__quantity {
            font-weight: 500;
        }

        &__discount {
            &__static-value {
                padding: 0 14px;
            }

            &__input {
                max-width: 150px;
            }

            &--not-applicable {
                margin: 0;
                color: globals.$text-light-color;
                font-style: italic;
            }
        }

        &__total-without-taxes {
            font-weight: 600;
        }

        &__name__name,
        &__name__reference,
        &__price__degressive-rate {
            &--unsynced {
                text-decoration: underline;
                text-underline-offset: 3px;
                text-decoration-style: wavy;
                text-decoration-color: globals.$primary-color;
            }
        }
    }

    &__empty {
        padding: globals.$spacing-large;
        border-radius: globals.$border-radius-normal;
        background-color: globals.$bg-color-emphasis-warning;
        color: globals.$color-emphasis-warning-base;

        &__title {
            margin: 0 0 globals.$spacing-medium;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1;

            @include globals.icon('exclamation-triangle') {
                margin-right: globals.$spacing-small;
            }
        }

        &__content {
            margin: 0;
            white-space: pre-line;
        }
    }

    //
    // - Responsive
    //

    @media (min-width: 1600px) {
        &__item {
            &__cell {
                &--price {
                    width: 310px;
                }

                &--discount {
                    width: 300px;
                }
            }
        }
    }
}
