.MaterialsListUnit {
  user-select: none;
  cursor: pointer;

  // - Les !important sont là pour surcharger le style injecté par VueTables sur les tds.
  &__col {
    border: 0 !important;
    background: rgba(0, 0, 0, 0.2) !important;
    color: inherit !important;
    padding: .8rem .45rem !important;

    &:first-child {
      padding-left: 1rem !important;
      border-top-left-radius: .8rem;
      border-bottom-left-radius: .8rem;
    }

    &:last-child {
      padding-right: 1rem !important;
      border-top-right-radius: .8rem;
      border-bottom-right-radius: .8rem;
    }

    //
    // - Colonnes
    //

    &--selector {
      width: 5rem;
    }

    &--is-broken,
    &--is-lost {
      width: 100px;
      text-align: center;
      color: $text-light-color !important;
    }

    &--park,
    &--state {
      width: 20%;
    }
  }

  //
  // - États
  //

  &--broken {
    .MaterialsListUnit__col--is-broken {
      color: $text-warning-color !important;
      font-weight: 600;
    }
  }

  &--lost {
    .MaterialsListUnit__col {
      &--reference {
        color: $text-danger-color !important;
      }

      &--is-lost {
        color: $text-danger-color !important;
        font-weight: 600;
      }
    }

    &.MaterialsListUnit--selected {
      .MaterialsListUnit__col {
        border-top: 1px solid $text-danger-color !important;
        border-bottom: 1px solid $text-danger-color !important;

        &:first-child {
          border-left: 1px solid $text-danger-color !important;
        }

        &:last-child {
          border-right: 1px solid $text-danger-color !important;
        }
      }
    }
  }

  &--unavailable {
    opacity: .3;

    &:not(.MaterialsListUnit--selected) {
      cursor: default;
    }
  }

  &--selected {
    opacity: 1 !important;

    .MaterialsListUnit__col {
      background: rgba(0, 0, 0, .4) !important;
    }
  }
}
