.CalendarHeader {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: $content-padding-large-horizontal $content-padding-small-vertical 0;

    &__timeline-actions {
        flex: 0 1 auto;
        display: flex;
        align-items: center;
        margin-bottom: $content-padding-large-horizontal;
    }

    &__filters {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: $content-padding-large-horizontal;
    }

    &__loading-container {
        flex: 0 0 130px;
        min-width: 130px;
        margin-bottom: $content-padding-large-horizontal;
    }

    &__actions {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: $content-padding-large-horizontal;
    }

    &__loading {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-warning-color;
        font-weight: 600;

        .fa-spin {
            margin-bottom: 0.1rem;
            margin-right: $content-padding-small-horizontal;
            font-size: 1.8rem;
        }
    }

    &__center-date {
        flex: 1;
        margin-right: 0.5rem;

        .FormField__label {
            display: none;
            flex: 0 0 auto;
            padding-left: 0;
        }

        .FormField__datepicker {
            width: 100%;

            &__input {
                padding: 8px 10px;
            }
        }
    }

    &__button {
        flex: 0 0 auto;
        margin: 0 0.5rem 0 0;

        &__title {
            display: none;
            margin-left: 0.5rem;
        }
    }

    &__filter {
        flex: 0 0 auto;
        margin-right: 1rem;
        display: flex;
        align-items: center;

        &__label {
            max-width: 170px;
        }

        .SwitchToggle {
            margin-top: 3px;
        }

        &__select {
            padding: 0.55rem 0.78rem;
        }

        &--active {
            color: $text-warning-color;

            .CalendarHeader__filter__select {
                background-color: $bg-color-button-warning;
            }

            .CalendarHeader__filter__label {
                color: $text-warning-color;
            }

            .SwitchToggle__button {
                background-color: $bg-color-button-warning;
            }
        }
    }

    @media (min-width: $screen-mobile) {
        padding: $content-padding-large-horizontal $content-padding-large-vertical 0;

        &__button__title {
            display: inline-block;
        }
    }

    @media (min-width: $screen-tablet) {
        &__center-date {
            min-width: 200px;

            .FormField__label {
                display: block;
            }
        }
    }

    @media (min-width: $screen-big-desktop) {
        &__filters {
            justify-content: flex-end;
        }
    }
}
