@use '~@/style/globals';

.CompanySelect {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: globals.$content-padding-small-vertical;

    &__select {
        flex: 1;
        margin: 0 globals.$content-padding-small-vertical 0 globals.$form-label-width;
    }

    .ErrorMessage {
        width: 100%;
        text-align: right;
    }
}
