@use '~@/themes/default/style/globals';

.EventMissingMaterials {
    color: globals.$text-base-color;

    &__title {
        margin: 0 0 globals.$spacing-medium;
        font-size: 1.2rem;

        .fas {
            width: 1.5rem;
            margin-right: globals.$spacing-thin;
            text-align: center;
        }
    }

    &__help {
        color: globals.$text-soft-color;
    }

    &__error {
        margin: 0 0 globals.$spacing-medium;
        color: globals.$text-danger-color;
        font-style: italic;
    }

    &__list {
        margin: 0 0 globals.$spacing-medium;
        padding: 0;
    }

    &__item {
        display: flex;
        padding: 0.7rem 0;
        border-bottom: 1px dashed globals.$list-left-border-color;
        color: globals.$text-danger-color;
        list-style: none;
        gap: globals.$spacing-small;

        &__name {
            flex: 1;
        }

        &__quantity {
            flex: 0 0 14.5rem;
        }
    }
}
