@use '~@/themes/default/style/globals';

.MultiSwitch {
    display: inline-flex;
    border-radius: globals.$border-radius-normal;
    background-color: #2b2b2b;
    color: rgba(globals.$text-base-color, 0.35);
}
