.item-actions {
    text-align: right;

    &__button {
        min-width: 27px;
        min-height: 24px;
        padding: 0.35rem 0.6rem;
    }

    &__button + &__button {
        margin-left: 0.5rem;
    }
}
