.timeline-event {
  font-size: 1.2em !important;
  .fas,
  .far {
    font-size: 1.2em;
    width: 1.75rem;
    text-align: center;
  }

  .fa-exclamation-triangle {
    color: $text-danger-color;
  }

  &--closed {
    background-color: $calendar-event-closed-color !important;
    color: $text-base-color !important;

    &.vis-selected {
      background-color: lighten($calendar-event-closed-color, 10%) !important;
    }
  }

  &--unclosed {
    background-color: $calendar-event-unclosed-color !important;
    color: $calendar-event-unclosed-text-color !important;

    &.vis-selected {
      background-color: lighten($calendar-event-unclosed-color, 10%) !important;
    }
  }

  &--confirmed {
    background-color: $calendar-event-confirmed-color !important;

    &.vis-selected {
      background-color: lighten($calendar-event-confirmed-color, 10%) !important;
    }

    .vis-item-content::before {
      color: $text-base-color;
    }
  }

  &--invalid {
    background-color: $calendar-event-invalid-color !important;
    color: $calendar-event-invalid-text-color !important;

    &.vis-selected {
      background-color: lighten($calendar-event-invalid-color, 5%) !important;
    }

    .fas {
      color: $calendar-event-invalid-text-color;
    }
  }

  &--with-warning {
  }

  &--current {
    background-size: 40px 40px;
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.1) 75%,
      transparent 75%,
      transparent
    );
    animation: animBackground 3s linear infinite;
  }
}
