@import '../../themes/default/index';

.Inventory {
    &__section {
        &__header {
            display: flex;
            align-items: flex-end;
        }

        &__title {
            flex: 1;
        }

        &__quantity-title {
            flex: 0 0 95px;
            text-align: center;
            font-size: 1rem;
            margin-left: $content-padding-large-vertical;
        }

        & + & {
            margin-top: $content-padding-large-vertical;
        }
    }

    &__list {
        padding: 0 0 0 $content-padding-small-horizontal;
        border-left: 3px solid $list-left-border-color;
    }

    .InventoryItem {
        margin-bottom: $content-padding-small-horizontal;
    }
}
