.EventEstimates {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $content-padding-large-vertical;

    &__no-estimate,
    &__create-new {
        margin: 0 0 $content-padding-large-horizontal;
        color: $text-light-color;
        font-style: italic;
        text-align: center;
    }

    &__create-new {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__text {
            margin: 0 0 $content-padding-large-horizontal;
        }
    }

    &__list {
        width: 100%;
        max-width: 500px;
        margin: 0 0 1rem;
        padding: 0;
        font-size: 1.1rem;

        &__item {
            display: flex;
            list-style: none;
            align-items: center;
            margin-bottom: $content-padding-large-horizontal;
            width: 100%;

            &__icon {
                flex: 0 0 auto;
                font-size: 1.5rem;
            }

            &__text {
                flex: 1;
                padding: 0 $content-padding-small-vertical;
                line-height: 1.3;
                font-size: 1rem;
            }

            &__actions {
                flex: 0 0 auto;
            }

            &__download {
                display: inline-block;
                padding: 6px 9px;
                border: 1px solid;
                border-radius: $input-border-radius;
                font-size: 1rem;
                cursor: pointer;

                &--disabled {
                    opacity: 0.6;
                    cursor: not-allowed !important;
                }
            }

            &__delete {
                margin-left: $content-padding-small-vertical;
            }

            &--old {
                .EventEstimates__list__item__icon,
                .EventEstimates__list__item__text {
                    color: $text-light-color;
                }
            }
        }
    }

    &__loading {
        margin: $content-padding-large-vertical 0;
        font-size: 1.2rem;
        text-align: center;
    }

    &__warning-has-bill {
        margin: 0 0 $content-padding-large-horizontal;
        color: $text-warning-color;
        font-size: 1.1rem;
        text-align: center;
    }

    &__not-billable {
        color: $text-danger-color;

        &__text {
            margin: 0;
            font-style: italic;
        }
    }

    .BillEstimateCreationForm {
        padding-right: $form-label-width;
    }
}
