@use '~@/themes/default/style/globals';

.MaterialsSelector {
    display: flex;
    flex-direction: column;
    min-width: 0;

    &__header {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column-reverse;
        gap: globals.$spacing-medium;

        &__filters {
            flex: 1;
            max-width: 100%;
            min-width: 0;
        }

        &__actions {
            display: flex;
            margin-left: auto;
            gap: globals.$spacing-small;
        }
    }

    &__main {
        flex: 1;
        margin-top: globals.$spacing-large;
    }

    //
    // - States.
    //

    &--not-ready {
        align-items: center;
        justify-content: center;
        min-height: 300px;
    }

    //
    // - Responsive
    //

    @media (min-width: 1500px) {
        &__header {
            flex-direction: row;
            align-items: center;
        }
    }
}
