@use '~@/themes/default/style/globals';

.Parks {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__table {
        flex: 1;
    }

    &__cell {
        &__empty {
            color: globals.$text-light-color;
            font-style: italic;
        }

        &--address,
        &--opening-hours,
        &--note,
        &--total-amount,
        &--events {
            display: none;
        }

        &--address {
            white-space: pre-line;
        }

        &--total-amount {
            width: 105px;

            // - Important pour surcharger la définition du <th> de `.VueTables`.
            // stylelint-disable-next-line declaration-no-important
            text-align: center !important;
        }

        &--note {
            max-width: 200px;
            white-space: pre-line;
        }

        &--events {
            min-width: 150px;

            // - Important pour surcharger la définition du <th> de `.VueTables`.
            // stylelint-disable-next-line declaration-no-important
            text-align: center !important;
        }

        //
        // - Responsive
        //

        @media (min-width: globals.$screen-mobile) {
            &--address {
                display: table-cell;
            }
        }

        @media (min-width: globals.$screen-tablet) {
            &--opening-hours,
            &--total-amount {
                display: table-cell;
            }
        }

        @media (min-width: globals.$screen-desktop) {
            &--events {
                display: table-cell;
            }
        }

        @media (min-width: globals.$screen-big-desktop) {
            &--note {
                display: table-cell;
            }
        }
    }
}
