.User {
    display: flex;
    flex-flow: column-reverse wrap;

    .Form {
        flex: 2;
        min-width: $form-min-width;
        max-width: $form-max-width;
        margin-right: $content-padding-large-horizontal;
    }

    &__postal-code .FormField__input {
        max-width: 70px;
    }

    .Help {
        flex: 1;
        margin: 0 0 $content-padding-large-vertical;
        min-width: 150px;
    }

    @media screen and (min-width: $screen-tablet) {
        flex-direction: row;

        .Help {
            margin: 30px 0 0;
        }
    }
}
