@use '~@/style/globals';

.MaterialsSorted {
    &__categories {
        margin-bottom: 1.5rem;
    }

    &__switch {
        margin-bottom: globals.$content-padding-small-horizontal;

        &__text {
            margin-left: globals.$content-padding-small-horizontal;
        }
    }
}
