.EventStep1 {
    &__save-btn {
        margin-bottom: 1rem;
    }

    &__dates {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        &__fields {
            flex: 1;
        }

        &__duration {
            flex: 0 0 150px;
            text-align: center;
        }
    }

    &__location .FormField__input,
    &__description .FormField__textarea {
        max-width: 500px;
    }

    &__is-billable {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        .FormField {
            flex: 1;
        }

        &__help {
            flex: 1;
        }
    }
}
