.AssignTagsHeader {
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    background-color: $bg-color-main-header;

    &__title {
        flex: 1;
        margin: 0 0 0.4rem;
        font-size: 1.1rem;
        font-weight: 800;
        color: $text-base-color;
    }

    .close {
        flex: 0 0 auto;
        background: none;
        border: none;
    }
}
