.InventoryLock {
  font-size: 1.5rem;
  text-align: center;

  &__illustration {
    width: 25em;
    opacity: .2;
  }

  &__message {
    margin: 30px 0 20px;
    white-space: pre-line;
  }

  &__action {
    font-size: 1.2rem !important;
    padding: .75rem 1.5rem !important;
  }
}
