.InventoryLock {
    font-size: 1.5rem;
    text-align: center;

    &__illustration {
        width: 25em;
        opacity: 0.2;
    }

    &__message {
        margin: 30px 0 20px;
        white-space: pre-line;
    }

    &__action {
        // stylelint-disable declaration-no-important
        padding: 0.75rem 1.5rem !important;
        font-size: 1.2rem !important;
        // stylelint-enable declaration-no-important
    }
}
