body { position: relative; }

h1 { margin-top: 5px; }
h1, h2, h3, h4 { color: #2b2b2b; }
h2:after { content: ' '; }
h5 { font-weight: bold; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    display: none;
    position: absolute;
    margin-left: 8px;
}
h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
    color: #a5a5a5;
    display: initial;
}

.request-url {
    color: #e14406;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px 15px 15px 250px;
}

.nav.nav-tabs > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
}

.tab-content {
    padding-top: 8px;
    border: 1px solid #ddd;
    border-top: none;
}

.table { margin-bottom: 8px; }

pre {
    border-radius: 0px;
    border: none;
}
pre code {
    margin: -9.5px;
}

.endpoints-group {
    margin-bottom: 50px;
}

.request {
    margin-top: 20px;
    margin-bottom: 40px;
}
.response-text-sample { padding: 0px !important; }
.response-text-sample pre { margin-bottom: 0px; }
