@use '~@/themes/default/style/globals';

.CriticalError {
    font-size: 1.1rem;
    text-align: center;

    &__illustration {
        width: 80%;
        max-width: 25em;
        fill: currentColor;
        opacity: 0.2;
    }

    &__message {
        margin: globals.$spacing-medium 0;
        white-space: pre-line;
    }

    &__back-to-calendar,
    &__refresh {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        font-size: 1.2rem;
    }

    @media (min-width: globals.$screen-desktop) {
        font-size: 1.5rem;

        &__message {
            margin: globals.$spacing-large 0 globals.$spacing-medium;
            white-space: pre-line;
        }

        &__back-to-calendar,
        &__refresh {
            padding: 0.75rem 1.5rem;
            font-size: 1.2rem;
        }
    }
}
