@use '~@/themes/default/style/globals';

.ScheduleCalendarHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: globals.$spacing-medium;

    &__filters {
        order: 1;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: globals.$spacing-small globals.$spacing-large;

        &__timeline {
            display: flex;
            align-items: stretch;
            gap: globals.$spacing-small;

            &__center-date {
                width: 180px;
            }

            &__button {
                .Button__content {
                    display: none;
                }
            }

            &__loading {
                display: flex;
                justify-content: center;
                width: 40px;
            }
        }

        &__general {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: globals.$spacing-small;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: globals.$spacing-small;
    }

    &__filter {
        $sub-block: &;

        display: flex;
        align-items: center;

        &__label {
            width: 150px;
            margin-right: globals.$spacing-small;
        }

        &--parks,
        &--categories {
            #{$sub-block}__select {
                min-width: 165px;
            }
        }

        &--active {
            color: globals.$text-base-color;
        }
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        &__filters {
            &__timeline__button {
                .Button__content {
                    display: inline;
                }
            }

            &__general {
                flex-wrap: nowrap;
            }
        }
    }

    @media (min-width: globals.$screen-desktop) {
        flex-flow: row nowrap;

        &__filters {
            order: 0;

            &__general {
                flex-wrap: nowrap;
            }
        }
    }

    @media (min-width: globals.$screen-big-desktop) {
        &__filters {
            flex-flow: row wrap;
        }
    }

    @media (min-width: 1550px) {
        &__filters__general {
            justify-content: center;
        }
    }
}
