@use '~@/themes/default/style/globals';

.InventoryItemMaterial {
    $block: &;

    &__inventory {
        position: relative;
        width: 100%;
        min-height: 43px;
        border-radius: globals.$border-radius-normal;
        background: #323232;
        color: globals.$text-base-color;
        transition: background-color 300ms;

        // stylelint-disable-next-line
        padding: (
            globals.$spacing-small
            globals.$spacing-small
            globals.$spacing-small
            globals.$spacing-medium
        );

        &__main {
            display: flex;
            align-items: center;
            width: 100%;
            gap: globals.$spacing-medium;
        }

        &__error {
            margin-top: globals.$spacing-small;
            margin-bottom: 0;
            padding-top: globals.$spacing-small;
            border-top: 1px solid #3c3c3c;
            color: globals.$text-danger-color;
        }
    }

    &__comment {
        width: 97%;
        margin: 0 auto;
        padding: 10px 15px;
        border-bottom-left-radius: globals.$border-radius-normal;
        border-bottom-right-radius: globals.$border-radius-normal;
        background-color: globals.$bg-color-emphasis;

        &__content {
            @extend %reset-p;

            overflow: auto;
            max-height: 60px;
            font-size: 1.1rem;
            font-style: italic;
            white-space: pre-line;
        }

        &__label {
            margin-right: globals.$spacing-thin;
            font-weight: 600;
        }
    }

    //
    // - Meta-données du matériel.
    //

    &__title {
        flex: 1;
        overflow: hidden;
        font-weight: 600;
        white-space: nowrap;

        &__name,
        &__reference {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__reference {
            color: globals.$text-light-color;
            font-weight: 400;
        }
    }

    &__awaited-quantity {
        display: none;
        justify-content: flex-end;
        width: 140px;
        color: globals.$text-soft-color;

        &__count {
            margin-left: 0.3rem;
            color: globals.$text-base-color;
            font-size: 1.1rem;
        }
    }

    &__actual-quantity,
    &__quantity-broken {
        width: 105px;
        text-align: center;
    }

    &__actions {
        width: 36px;
    }

    //
    // - States
    //

    &--with-comment {
        #{$block}__inventory {
            box-shadow: 1px 3px 6px #1a1a1a;
        }
    }

    &--read-only-quantity {
        #{$block}__actual-quantity,
        #{$block}__quantity-broken {
            flex: 0 0 104px;
            color: globals.$text-light-color;
            font-size: 1.1rem;
        }
    }

    &--complete {
        #{$block}__inventory {
            background: rgba(globals.$text-success-color, 0.25);

            &__error {
                border-top-color: rgba(globals.$text-success-color, 0.1);
            }
        }

        #{$block}__actual-quantity {
            color: globals.$text-base-color;
            font-weight: 600;
        }
    }

    &--warning {
        #{$block}__inventory {
            background: rgba(globals.$text-warning-color, 0.25);

            &__error {
                border-top-color: rgba(globals.$text-warning-color, 0.1);
            }
        }

        #{$block}__actual-quantity {
            color: globals.$text-warning-color;
            font-weight: 600;
        }

        #{$block}__quantity-broken {
            color: globals.$text-danger-color;
            font-weight: 600;
        }
    }

    &--error {
        #{$block}__inventory {
            background: rgba(globals.$text-danger-color, 0.25);

            &__error {
                border-top-color: rgba(globals.$text-danger-color, 0.1);
            }
        }

        #{$block}__actual-quantity {
            color: globals.$text-danger-color;
            font-weight: 600;
        }
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-mobile) {
        &__awaited-quantity {
            display: flex;
        }
    }

    @media (min-width: globals.$screen-desktop) {
        &__awaited-quantity {
            width: 170px;
        }
    }
}
