.Materials {
  &__create {
    width: 15rem;
  }

  &__main-view {
    position: relative;
  }

  &__secondary-actions {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    top: 4px;
    max-width: calc(100% - 280px);
    right: $content-padding-large-vertical;
    z-index: 1;

    &__button {
      margin: 0 $content-padding-small-vertical;
    }
  }

  &__quantities-date {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $text-base-color;
    font-weight: 600;

    &__label {
      flex: 1;
    }
  }

  &__ref,
  &__park,
  &__category,
  &__description,
  &__rental-price,
  &__replacement-price,
  &__quantity-out,
  &__tags {
    display: none;
  }

  &__category {
    white-space: nowrap;
  }

  &__rental-price,
  &__replacement-price {
    text-align: right !important;
  }

  &__quantity,
  &__remaining-quantity,
  &__quantity-out {
    text-align: center !important;
  }

  &__remaining-quantity {
    color: $text-warning-color !important;
    font-weight: 800;
  }

  &__tags-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: -.35rem;
    cursor: pointer;

    &:hover {
      color: $link-hover-color;
    }
  }

  &__add-tags {
    flex: 1;
    margin-bottom: .35rem;
    padding: .4rem .55rem;
    font-size: 0.85rem;
  }

  &__actions {
    min-width: 110px;
  }
}

@media(min-width: $screen-tablet) {
  .Materials {
    &__ref,
    &__rental-price,
    &__replacement-price,
    &__category {
      display: table-cell;
    }

    &__create {
      width: auto;
      margin-left: 1.5rem !important;
    }
  }
}

@media(min-width: $screen-desktop) {
  .Materials {
    &__quantity-out,
    &__tags {
      display: table-cell;
    }

    &__secondary-actions {
      right: calc(#{$content-padding-large-vertical} + 45px + #{$content-padding-small-vertical});
      max-width: 100%;
    }
  }
}

@media(min-width: $screen-big-desktop) {
  .Materials {
    &__park,
    &__description {
      display: table-cell;
    }
  }
}
