$dropdown-min-width: 220px;
$dropdown-background-color: #262626;
$dropdown-border: 1px solid $dropdown-background-color;
$dropdown-box-shadow: 0 4px 15px #1b1b1b;

//
// - État: Survolé.
//

$dropdown-item-hover-background-color: #333;
