@use '~@/style/globals';
@use 'sass:color';

$size: 1.7rem;

.SwitchToggle {
    $block: &;

    display: inline-flex;
    align-items: center;

    &__slide {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: $size * 2.2;
        height: $size;
        border-radius: $size;
        background: globals.$bg-color-side-nav;
        cursor: pointer;
    }

    &__button {
        flex: 0 0 auto;
        width: $size;
        height: $size;
        border-radius: 50%;
        background: globals.$bg-color-button-default;
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    &:hover {
        #{$block}__slide {
            background-color: color.adjust(globals.$bg-color-side-nav, $lightness: 5%);
        }

        #{$block}__button {
            background-color: color.adjust(globals.$bg-color-button-default, $lightness: 8%);
        }
    }

    &__label {
        flex: 1;
        margin-left: 0.5rem;

        &__disabled-reason {
            margin-left: globals.$content-padding-small-horizontal;
            font-style: italic;
        }
    }

    &--toggled {
        #{$block}__slide {
            flex-direction: row-reverse;
        }

        #{$block}__button {
            background-color: globals.$bg-color-button-success;
        }

        &:hover {
            #{$block}__button {
                background-color: color.adjust(globals.$bg-color-button-success, $lightness: 5%);
            }
        }
    }

    &--disabled {
        #{$block}__slide,
        #{$block}__button {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &:hover {
            #{$block}__slide {
                background: globals.$bg-color-side-nav;
            }

            #{$block}__button {
                background: globals.$bg-color-button-default;
            }
        }
    }
}
