@use '~@/themes/default/style/globals';
@use 'sass:color';

.InvoiceEditorExtras {
    &__item {
        &__cell {
            &--name {
                min-width: 200px;
            }

            &--unit-price {
                width: 300px;
            }

            &--quantity {
                width: 130px;

                // stylelint-disable-next-line declaration-no-important -- Pour surcharger le `<th>`.
                text-align: center !important;
            }

            &--taxes {
                width: 200px;
            }

            &--total-without-taxes {
                width: 110px;

                // stylelint-disable-next-line declaration-no-important -- Pour surcharger le `<th>`.
                text-align: right !important;
            }

            &--actions {
                width: 1%;
                min-width: 57px;
            }
        }

        &__obsolete-tax {
            text-align: center;

            &__title,
            &__details {
                display: block;
            }

            &__title {
                margin-bottom: 5px;
                font-weight: 500;
                text-decoration: underline;
                text-underline-offset: 3px;
                text-decoration-style: wavy;
                text-decoration-color: globals.$primary-color;
            }

            &__details {
                color: globals.$text-soft-color;
                font-size: 0.9rem;
                font-style: italic;
            }
        }

        &__tax {
            padding: 1px;
            border-radius: 4px;

            &__input {
                width: 100%;
            }

            &--unsynced {
                outline: 1px dashed color.adjust(globals.$primary-color, $alpha: -0.3);
            }
        }
    }

    &__add-button {
        margin-top: globals.$spacing-small;
        margin-left: 10px;
    }

    //
    // - État: Vide.
    //

    &--empty {
        border-radius: globals.$border-radius-large;
        background-color: globals.$bg-color-emphasis-light;
    }

    //
    // - Responsive
    //

    @media (min-width: 1600px) {
        &__item {
            &__cell {
                &--unit-price {
                    width: 310px;
                }

                &--taxes {
                    width: 300px;
                }
            }
        }
    }
}
