.ImportFromEventSelectedSummaryCategory {
    &__title {
        margin: 0 0 5px;
        font-size: 1.2rem;
    }

    &__list {
        margin: 0 0 5px;
        padding: 0;
        border-collapse: collapse;

        &__table {
            width: 100%;
            border-collapse: collapse;
        }
    }
}
