@use '~@/themes/default/style/globals';

.BeneficiaryEditForm {
    $block: &;

    &__name {
        display: flex;
        margin-bottom: globals.$spacing-medium;

        #{$block}__first-name,
        #{$block}__last-name {
            flex: 1;
            width: 50%;
            margin: 0;
        }

        #{$block}__first-name {
            margin-right: 5px;
        }

        #{$block}__last-name {
            margin-left: 5px;
        }
    }

    &__locality {
        display: flex;
        margin: globals.$spacing-medium 0;

        #{$block}__postal-code {
            flex: unset;
            width: 120px;
        }

        #{$block}__city {
            flex: 1;
            margin: 0 0 0 10px;
        }
    }

    &__existing-user {
        display: flex;
        margin-top: globals.$spacing-medium;
        text-align: center;
        gap: 10px;

        &__pseudo,
        &__email {
            flex: 1;
            width: 50%;
        }

        &__email {
            margin-left: 10px;
        }

        &__label {
            padding: 5px 0;
        }

        &__value {
            overflow: hidden;
            padding: 9px 0;
            color: #fff;
            line-height: 1.4;
            text-overflow: ellipsis;
            word-break: break-all;
        }
    }

    &__existing-user-help,
    &__create-user-help {
        margin-top: globals.$spacing-medium;
        font-style: italic;
    }

    &__create-user {
        display: flex;
        margin: globals.$spacing-medium 0;

        #{$block}__pseudo {
            flex: 1;
            margin: 0;
        }

        #{$block}__user-email {
            flex: 1;
            margin: 0 0 0 10px;
        }
    }
}
