@use '~@/themes/default/style/globals';
@use 'sass:color';

.Select {
    $block: &;

    display: inline-block;

    &__input {
        width: 100%;
    }

    &__option {
        &--new {
            color: color.adjust(globals.$input-text-color, $lightness: -5%);
            font-style: italic;
        }
    }

    &__no-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: globals.$spacing-small;

        &__message {
            margin: 0;
        }
    }

    //
    // - Statut: Highlight
    //

    &--highlight {
        // stylelint-disable-next-line selector-class-pattern
        .v-select:not(.vs--open) .vs__dropdown-toggle {
            border-color: color.adjust(globals.$primary-color, $lightness: -7%);
            box-shadow: 0 0 6px color.adjust(globals.$primary-color, $alpha: -0.5);
        }
    }

    //
    // - Statut: Invalide
    //

    &--invalid {
        // stylelint-disable-next-line selector-class-pattern
        .v-select:not(.vs--open) .vs__dropdown-toggle {
            border-color: globals.$input-error-border-color;
            background-color: globals.$input-error-background-color;
            color: globals.$input-error-text-color;
        }
    }
}
