.EventDetailsMaterials {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 250px);

    &__missing {
        margin-bottom: 20px;
    }

    &__list {
        flex: 1;
        overflow-y: auto;
        margin-bottom: 20px;
        padding-right: 10px;
    }

    &__totals {
        padding-right: 15px;
    }
}
