.EventDetailsMaterials {
    $block: &;

    display: flex;
    flex-direction: column;

    &__missing {
        margin-bottom: 20px;
    }

    &__list {
        flex: 1;
        overflow-y: auto;
        margin-bottom: 20px;
    }

    &--with-sub-lists {
        #{$block}__totals {
            padding: 0 25px 0 10px;
        }
    }
}
