@import '../../themes/default/index';

$timeline-group-border-color: #636363 !default;
$group-item-max-height: 65px !default;

.Timeline {
    &--grouped {
        .vis-timeline {
            background-color: scale-color($calendar-main-background-color, $alpha: -30%);
        }

        .vis-vertical {
            background-color: $calendar-main-background-color;
        }

        .vis-labelset {
            max-width: 280px;
            min-width: 180px;

            .vis-label {
                box-sizing: content-box;
                border-bottom: 1px solid $timeline-group-border-color;
            }
        }

        .vis-foreground .vis-group {
            box-sizing: content-box;
            border-bottom: 1px solid $timeline-group-border-color;
        }

        .vis-item {
            &.vis-range {
                max-height: $group-item-max-height;
            }

            .vis-item-overflow {
                align-items: flex-start;
                overflow: hidden;
                max-height: calc(#{$group-item-max-height} - 1.2rem - 1.2rem);
            }
        }
    }
}
