@use '~@/themes/default/style/globals';

.EventStep3AssignmentCreation {
    &__header {
        display: flex;
        align-items: center;
        padding: 0.7rem 1rem;
        background-color: globals.$bg-color-emphasis;
        gap: globals.$spacing-medium;

        &__title {
            flex: 1;
            overflow: hidden;
            margin: 0;
            font-size: 1.3rem;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__close-button {
            flex: 0 0 auto;
        }
    }

    &__body {
        padding: globals.$spacing-large globals.$spacing-medium;
    }

    &__footer {
        display: flex;
        justify-content: center;
        padding: 1.5rem globals.$spacing-medium;
        background-color: rgba(0, 0, 0, 0.1);
        gap: globals.$spacing-small;
    }

    //
    // - Content
    //

    &__form {
        max-width: 360px;
        margin: 0 auto;
    }
}
