.AttributeEditForm {
  width: 100%;
  min-width: 800px;
  margin: 0;
  background-color: $bg-color-table-td;
  color: $text-base-color;
  border-collapse: collapse;

  &__name,
  &__type,
  &__unit,
  &__max-length,
  &__categories {
    padding: .8rem .5rem;
    vertical-align: top;
  }

  &__name {
    width: 305px;
  }

  &__type {
    width: 170px;
  }

  &__unit {
    width: 100px;
    text-align: center;
  }

  &__max-length {
    display: none;
    width: 100px;
    text-align: center;
  }

  &__categories {
    width: auto;

    &__item {
      margin-top: 4px;
      opacity: .6;

      &--selected,
      &--selected:hover,
      &--selected:focus {
        opacity: 1;
        background-color: $bg-color-button-info;
      }
    }
  }

  &__input,
  &__select {
    width: 100%;
  }

  &__error {
    color: $text-danger-color;
    padding: 0;

    li {
      list-style: inside;
    }
  }

  @media(min-width: $screen-big-desktop) {
    &__max-length {
      display: table-cell;
    }
  }
}
