.AttributeEditForm {
  display: flex;
  min-width: 800px;
  background-color: $bg-color-table-td;

  &__name {
    flex: 0 0 220px;
    padding: .8rem .5rem;
  }

  &__type {
    flex: 0 0 170px;
    padding: .8rem .5rem;
  }

  &__unit {
    flex: 0 0 80px;
    padding: .8rem .5rem;
    text-align: center;
  }

  &__max-length {
    flex: 0 0 115px;
    padding: .8rem .5rem;
    text-align: center;
  }

  &__categories {
    flex: 1;
    padding: .8rem .5rem;

    &__item {
      margin-top: 4px;
      opacity: .6;

      &--selected,
      &--selected:hover,
      &--selected:focus {
        opacity: 1;
        background-color: $bg-color-button-info;
      }
    }
  }

  &__input,
  &__select {
    width: 100%;
  }

  &__error {
    color: $text-danger-color;
    padding: 0;

    li {
      list-style: inside;
    }
  }
}
