@use '~@/style/globals';

.Technician {
    display: flex;
    flex-flow: column-reverse wrap;

    .PersonForm {
        flex: 2;
    }

    .Help {
        flex: 1;
        min-width: 150px;
        margin: 0 0 globals.$content-padding-large-vertical;
    }

    @media screen and (min-width: globals.$screen-tablet) {
        flex-direction: row;

        .Help {
            margin: 30px 0 0;
        }
    }
}
