.Login {
  &__message {
    background-color: $bg-color-emphasis;
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;

    &--default {
      color: $text-light-color;
    }

    &--error {
      color: $text-danger-color;
    }

    &--success {
      color: $text-success-color;
    }
  }

  &__body {
    padding: 30px 20px;
  }

  &__alternatives {
    max-width: 460px;
    margin: 0 auto;
  }

  &__divider {
    position: relative;
    display: block;
    border-top: 1px solid #333;
    line-height: 1px;
    margin: 35px 0;
    text-align: center;

    &__label {
      background: $bg-color-body;
      font-size: .9rem;
      letter-spacing: 1px;
      padding: 0 20px;
      text-transform: uppercase;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__button {
    display: block;
    background: #eee;
    color: $bg-color-body !important;
    text-align: center;
    font-weight: 500;
    min-width: 280px;
    padding: 1.2rem 2rem 1rem;
    line-height: 1.25;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 300ms;
    letter-spacing: .07rem;

    &:hover, &:focus {
      background-color: #fff;
      outline: 0;
    }

    &:active {
      background-color: #dadada;
    }

    &--cas {
      $background: #153e50;

      background-color: $background;
      color: #fff !important;

      &:hover, &:focus {
        background-color: lighten($background, 8%);
      }

      &:active {
        background-color: darken($background, 8%);
      }

      &::before {
        display: inline-block;
        margin-right: 10px;
        content: url('./assets/cas-logo.svg');
        width: 26px;
        opacity: .8;
      }
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    &__input {
      width: 200px;
      margin-right: 10px;
      margin-bottom: 1rem;
    }

    &__submit {
      padding: $input-padding-vertical $input-padding-horizontal;
    }

    @media(min-width: 600px) {
      flex-flow: row nowrap;
      justify-content: center;

      &__input {
        margin-bottom: 0;
      }
    }
  }
}
