.Login {
  &__message {
    background-color: $bg-color-emphasis;
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;

    &--default {
      color: $text-light-color;
    }

    &--error {
      color: $text-danger-color;
    }

    &--success {
      color: $text-success-color;
    }
  }

  &__body {
    padding: 30px 20px;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    &__input {
      width: 200px;
      margin-right: 10px;
      margin-bottom: 1rem;
    }

    &__submit {
      padding: $input-padding-vertical $input-padding-horizontal;
    }

    @media(min-width: 600px) {
      flex-flow: row nowrap;
      justify-content: center;

      &__input {
        margin-bottom: 0;
      }
    }
  }
}
