@use '~@/style/globals';
@use '~@/components/Button/variables' as button;
@use 'sass:math';

.MaterialsFilters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__item,
    &__reset {
        margin-right: math.div(globals.$content-padding-small-vertical, 2);
        margin-bottom: globals.$content-padding-large-horizontal;
        margin-left: 0;
    }

    &__item {
        padding: 8px 10px;

        &--tags {
            height: 35px;
            min-width: 160px;
            margin-right: math.div(globals.$content-padding-small-vertical, 2);
            padding: 0 globals.$content-padding-small-horizontal;
        }

        &--is-active {
            background-color: button.$warning-variant-background;
        }
    }

    &__reset {
        height: 35px;
    }
}
