.MaterialsFilters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__park,
  &__category,
  &__sub-category {
    flex: 0 0 auto;
    padding: 6px 10px;
  }

  .v-select {
    flex: 0 0 auto;
    max-height: 31px;
    min-width: 150px;
    max-width: 300px;

    .vs__selected-options {
      padding: .2rem 0;
      font-size: .9rem;

      .vs__selected {
        padding: .1rem .5rem;
        margin: 0 .2rem .2rem 0;

        .vs__deselect {
          padding: .3rem .4rem;
          margin: 0 .2rem;
        }
      }
    }

    .vs__search {
      padding: .3rem 0;
    }
  }
}
