@use '~@/themes/default/style/globals';

.MaterialsSelectorFilters {
    display: flex;
    flex-direction: column;
    gap: globals.$spacing-small;

    &__search {
        flex: 1;
        width: auto;
        min-width: 400px;
    }

    &__selected-only {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: globals.$spacing-medium;

        &__label {
            white-space: nowrap;
        }
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        flex-direction: row;

        &__selected-only {
            flex-direction: column;
            justify-content: unset;
            width: auto;
            padding: 0 5px;
            gap: globals.$spacing-thin;
        }
    }
}
