@use '~@/themes/default/style/globals';
@use 'sass:math';

.MaterialsSelectorFilters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: globals.$spacing-small;

    &__search {
        flex: 1;
        width: auto;
        max-width: 650px;
        min-width: 230px;
    }

    &__filters {
        display: flex;
        flex-wrap: wrap;
        gap: globals.$spacing-small;
    }

    &__selected-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px;
        gap: 3px;

        &__label {
            white-space: nowrap;
        }
    }
}
