.MaterialUnit {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem;

  .Form {
    flex: 2;
    min-width: $form-min-width;
    max-width: $form-max-width;
    margin-right: 1rem;
  }

  .Help {
    flex: 1;
    margin-top: 3.8rem;
    min-width: 150px;
  }
}
