@use '~@/style/globals';

.EventReturnMaterialsList {
    &__missing,
    &__all-returned,
    &__has-broken {
        margin-bottom: globals.$content-padding-large-horizontal;
        font-size: 1.2rem;
        text-align: center;
    }

    &__all-returned,
    &__has-broken {
        margin-top: globals.$content-padding-large-vertical;
    }

    &__all-returned {
        color: globals.$text-success-color;
    }

    &__missing {
        color: globals.$text-danger-color;
    }

    &__has-broken {
        color: globals.$text-warning-color;
    }
}
