@import '../../../themes/default/index';

.EventReturnMaterialsList {
  &__missing,
  &__all-returned,
  &__has-broken {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: $content-padding-large-horizontal;
  }

  &__all-returned {
    color: $text-success-color;
  }

  &__missing {
    color: $text-danger-color;
  }

  &__has-broken {
    color: $text-warning-color;
  }
}
