@use './variables' as *;

.Button {
    // - Icône
    &::before,
    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.1em;
        height: 1.1em;
        font-size: 1.1em;
        line-height: 1.35em;
        text-align: center;
        vertical-align: -0.05rem;
    }

    &__icon + &__content {
        margin-left: $icon-margin;
    }
}
