@use '~@/style/globals';

.BeneficiaryEditForm {
    max-width: globals.$form-max-width;
    min-width: globals.$form-min-width;
    margin-right: 1rem;

    &__phone .FormField__input {
        max-width: 120px;
    }

    &__postal-code .FormField__input {
        max-width: 70px;
    }

    &__notes {
        .FormField__label {
            padding-top: 0.6rem;
            align-self: flex-start;
        }

        .FormField__textarea {
            min-height: 120px;
        }
    }

    @media screen and (min-width: globals.$screen-tablet) {
        &__company__edit-btn {
            margin-top: 0;
        }

        &__add-company {
            margin-left: globals.$form-label-width;
        }
    }
}
