@use '~@/themes/default/style/globals';

.TechnicianViewSchedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    /* stylelint-disable declaration-no-important */
    &__item {
        &--not-confirmed {
            opacity: globals.$calendar-event-not-confirmed-opacity;
        }

        &--past {
            background-color: globals.$calendar-event-past-color !important;
            color: globals.$calendar-event-past-text-color !important;
        }
    }
    /* stylelint-enable declaration-no-important */
}
