/* stylelint-disable selector-max-type */

@use '~@/themes/default/style/globals';

.Table {
    > .row:first-child {
        display: none;
    }

    .table-responsive {
        margin-top: 0;
    }

    &__cell {
        $sub-block: &;

        &--actions {
            width: 1%;
            text-align: right;
            white-space: nowrap;

            #{$sub-block}__actions {
                display: flex;
                gap: globals.$spacing-thin;
            }
        }
    }

    //
    // - Variantes
    //

    &--minimalist {
        border-radius: 0;

        th,
        td {
            &:first-child {
                padding-left: 8px;
            }

            &:last-child {
                padding-right: 8px;
            }
        }

        td {
            border-bottom-color: transparent;
            background: none;
        }
    }

    &--light {
        border-radius: 0;

        th,
        td {
            &:first-child {
                padding-left: 8px;
            }

            &:last-child {
                padding-right: 8px;
            }
        }

        th {
            border-bottom: 2px solid #383838;
            color: globals.$text-soft-color;
        }

        td {
            border-bottom-color: #383838;
            background: none;
        }
    }
}
