@use '~@/style/globals';

.EventStep3 {
    display: flex;
    flex-direction: column;

    &__header {
        flex: 0;
        display: flex;
        align-items: center;

        .Loading {
            flex: 1;
        }

        .Help {
            flex: 0 0 auto;
        }
    }

    &__title {
        flex: 1;
        font-size: 1.5rem;
        font-weight: 200;
    }

    &__content {
        flex: 1;
    }

    &__timeline {
        min-height: 100%;
    }

    &__no-technician {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        &__message {
            margin-bottom: globals.$content-padding-large-vertical;
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: center;
            white-space: pre-line;
        }
    }

    &__footer {
        flex: 0;
        padding: globals.$content-padding-large-vertical 0;
    }
}
