@import '../../../themes/default/index';

.CalendarCaption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 0.8;

    &__title {
        font-weight: 400;
        color: $text-light-color;
        margin: 10px 0;
        text-align: center;
    }

    .timeline-event {
        margin: 3px;
        padding: 7px 10px;
        border-radius: 5px;
        background-color: $calendar-event-normal-color;
        color: $calendar-event-text-color;
        box-shadow: 1px 2px 3px rgba(#000, 0.5);
        font-size: 0.9rem;
    }
}
