:root {
    font-size: 12px;
    font-family: sans-serif;
}

@media(min-width: 600px) {
    :root {
        font-size: 14px;
    }
}

@media(min-width: 1200px) {
    :root {
        font-size: 16px;
    }
}

html,
body {
    height: 100%;
    margin: 0;
}
