@use '~@/themes/default/style/globals';

$spacing: 1.5rem;

.EventStep5Overview {
    $block: &;

    color: globals.$text-base-color;

    &__title {
        margin: 0 0 $spacing;
        font-size: 1.5rem;
    }

    &__dates,
    &__location,
    &__duration {
        margin: 0;
        font-size: 1.2rem;
    }

    &__description {
        margin: 0 0 $spacing 22px;
        padding-left: 5px;
        border-left: 3px solid globals.$divider-color;
        font-size: 1.1rem;
        line-height: 1.5;
        white-space: pre-wrap;

        .Icon {
            margin-left: -30px;
        }
    }

    &__dates,
    &__location,
    &__duration,
    &__description {
        .Icon {
            width: 1.5rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    &__technician-periods {
        margin-bottom: globals.$spacing-medium;
        padding: 0;

        &__item {
            padding-left: 20px;
            color: globals.$text-soft-color;
            list-style: none;
        }
    }

    &__header,
    &__main {
        display: flex;
        flex-wrap: wrap;
    }

    &__main,
    &__materials,
    &__billing {
        margin-bottom: $spacing;
        border-bottom: 1px solid globals.$list-left-border-color;
    }

    &__missing-materials {
        margin-bottom: $spacing;
    }

    &__section {
        flex: 1;
        min-width: 200px;
        margin-right: $spacing;
        margin-bottom: $spacing;
    }

    &__info__term,
    &__materials__title,
    &__billing-title {
        margin: 0 0 $spacing;
        font-size: 1.2rem;
        font-weight: 600;

        .Icon {
            width: 1.5rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            text-align: center;
        }
    }

    &__info {
        margin: 0;

        & + & {
            margin-top: $spacing;
        }

        &__term {
            margin-bottom: 0.5rem;

            &::after {
                content: ':';
            }
        }

        &__value {
            display: block;
            margin: 0;
            font-size: 1.1rem;
        }

        &__list {
            margin: 0;
            padding: 0;
        }

        &__list-item {
            margin-left: 0.2rem;
            line-height: 1.4;
            list-style: inside;
        }

        &--vertical {
            flex-direction: column;
            align-items: flex-start;

            #{$block}__info__value {
                margin-top: 0.5rem;
                margin-left: 0;
            }
        }
    }

    &__materials {
        &__list {
            margin-bottom: 20px;
        }

        &__totals {
            padding-right: 5px;
        }

        &__empty {
            color: globals.$text-danger-color;

            .Icon {
                margin-right: 0.3rem;
            }
        }
    }

    &__billing {
        display: flex;
        flex-direction: column;
        padding-bottom: $spacing;

        .Help {
            margin-bottom: globals.$spacing-medium;
        }
    }

    @media (min-width: globals.$screen-desktop) {
        &__billing {
            flex-direction: row;
        }
    }
}
