@use '~@/themes/default/style/globals';

.Page--users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .Users {
        flex: 1;
    }
}

.Users {
    display: flex;
    flex-direction: column;

    &__table {
        flex: 1;
    }

    &__cell {
        &--group,
        &--email,
        &--phone {
            display: none;
        }

        &--actions {
            width: 1%;
            text-align: right;
            white-space: nowrap;
        }

        //
        // - Responsive
        //

        @media (min-width: globals.$screen-mobile) {
            &--group {
                display: table-cell;
            }
        }

        @media (min-width: globals.$screen-tablet) {
            &--email {
                display: table-cell;
            }
        }

        @media (min-width: globals.$screen-desktop) {
            &--phone {
                display: table-cell;
            }
        }
    }

    &__name {
        display: flex;
        align-items: center;
        gap: globals.$spacing-small;
    }

    &__full-name {
        font-weight: 600;
    }

    &__pseudo {
        display: block;
        color: #a7a7a7;
        font-weight: 400;
    }
}
