@use '~@/themes/default/style/globals';

.CalendarHeader {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &__timeline-actions {
        display: flex;
        align-items: stretch;
        margin-right: globals.$content-padding-small-horizontal;
        margin-bottom: globals.$content-padding-large-horizontal;
    }

    &__loading-container {
        display: flex;
        justify-content: center;
        width: 230px;
        margin: 0 0 globals.$content-padding-large-horizontal;

        .Loading__text {
            display: none;
        }
    }

    &__filters {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-width: 380px;
        margin-bottom: globals.$content-padding-large-horizontal;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: globals.$content-padding-large-horizontal;
    }

    &__center-date {
        width: 180px;
        margin-right: 5px;
    }

    &__button {
        flex: 0 0 auto;

        &__title {
            display: none;
        }
    }

    &__filter {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        margin-right: 1rem;

        &__label {
            max-width: 150px;
            margin-right: globals.$content-padding-small-horizontal;
        }

        &--active {
            color: globals.$text-warning-color;

            .CalendarHeader__filter__label {
                color: globals.$text-warning-color;
            }

            .SwitchToggle__button {
                background-color: globals.$bg-color-button-warning;
            }
        }
    }

    @media (min-width: globals.$screen-tablet) {
        &__button__title {
            display: inline-block;
        }

        &__loading-container {
            .Loading__text {
                display: block;
            }
        }
    }
}
