.MaterialViewDocumentsItem {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    padding: 0;
    border-radius: $input-border-radius;
    background: $bg-color-emphasis;
    color: $text-base-color;
    list-style: none;

    &__link,
    &__no-link {
        display: block;
        padding: $content-padding-small-vertical;
    }

    &__icon {
        flex: 0 0 auto;
        font-size: 1.8rem;

        .MaterialViewDocumentsItem__link,
        .MaterialViewDocumentsItem__no-link {
            margin-left: $content-padding-small-vertical;
        }
    }

    &__name {
        flex: 1;
    }

    &__size {
        flex: 0 0 auto;
        margin-right: $content-padding-small-vertical;
        color: $text-light-color;
    }

    &__actions {
        flex: 0 0 auto;
        padding-right: $content-padding-small-vertical;
    }

    &--with-link {
        .MaterialViewDocumentsItem {
            &__link,
            &__no-link {
                color: $text-base-color;
            }
        }

        &:hover {
            background-color: lighten($bg-color-emphasis, 5%);

            .MaterialViewDocumentsItem {
                &__link,
                &__no-link {
                    color: $link-hover-color;
                }
            }
        }
    }
}
