@use '~@/themes/default/style/globals';

.EventDetailsReturnSummaryItem {
    display: flex;
    margin-bottom: globals.$spacing-medium;
    padding-bottom: 2px;
    border-bottom: 1px dashed globals.$list-left-border-color;
    list-style: none;

    &__name {
        flex: 1;

        /* stylelint-disable selector-max-type */
        a:not(button),
        a:not(button):active {
            color: globals.$text-base-color;
        }

        a:not(button):hover {
            color: globals.$link-hover-color;
        }
        /* stylelint-enable selector-max-type */
    }

    &__missing {
        flex: 0 0 250px;
        margin: 0;
        color: globals.$text-danger-color;
    }

    &__broken {
        flex: 0 0 150px;
        color: globals.$text-warning-color;
    }
}
