@use '~@/themes/default/style/globals';

.MaterialViewInfosAttributes {
    &__attribute {
        display: flex;
        margin: 0 0 0.3rem;

        &__name {
            &::after {
                content: ':';
            }
        }

        &__value {
            flex: 1;
            margin-left: 0.5rem;
            font-weight: 700;
        }
    }
}
