.EventBilling {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $content-padding-large-vertical;

    &__no-bill,
    &__regenerate {
        margin: 0 0 $content-padding-large-horizontal;
        color: $text-light-color;
        font-style: italic;
        text-align: center;
    }

    &__regenerate {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__text {
            margin: 0 0 $content-padding-large-horizontal;
        }

        &__button {
            border: none;
            background: none;
            color: $link-base-color;

            &:hover {
                background: none;
                color: $link-hover-color;
            }
        }
    }

    &__list-title {
        text-align: center;
    }

    &__list {
        width: 100%;
        max-width: 500px;
        margin: 0 0 1rem;
        padding: 0;
        font-size: 1.1rem;

        &__item {
            width: 100%;
            list-style: none;

            .DisplayBill {
                flex-direction: row;
                align-items: center;
                opacity: 0.66;

                &__text {
                    margin-right: $content-padding-large-horizontal;
                    font-size: 0.98rem;
                }

                &__actions {
                    max-width: 140px;
                    margin: 0;
                    text-align: center;
                }

                &__download {
                    font-size: 1rem;
                }
            }

            &--current {
                .DisplayBill {
                    display: none;
                }
            }
        }
    }

    &__warning-no-estimate {
        margin: 0 0 $content-padding-large-horizontal;
        color: $text-warning-color;
        font-size: 1.1rem;
        text-align: center;
    }

    &__not-billable {
        color: $text-danger-color;

        &__text {
            margin: 0;
            font-style: italic;
        }
    }

    .BillEstimateCreationForm {
        padding-right: $form-label-width;
    }
}
