.EventBilling {
  margin-bottom: $content-padding-large-vertical;

  &__no-bill,
  &__regenerate__text {
    margin: 0 0 $content-padding-large-horizontal;
    color: $text-light-color;
    font-style: italic;
  }

  &__no-estimate {
    margin: 0 0 $content-padding-large-horizontal;
    color: $text-warning-color;
    font-size: 1.1rem;
  }

  &__not-billable {
    color: $text-danger-color;

    &__text {
      margin: 0;
      font-style: italic;
    }
  }

  &__download {
    font-size: 1.1rem;
    margin-bottom: 1rem;

    &__text {
      margin: 0 0 .5rem;
    }

    &__link {
      display: inline-block;
      margin-top: .5rem;
      padding: 1rem 1rem 1rem .5rem;
      border: 1px solid;
      border-radius: $input-border-radius;
    }
  }
}
