.Breadcrumb {
  &__step {
    padding: 1rem .8rem;
    border: 1px solid $text-muted-color;
    border-radius: 1.5rem;
    text-align: left;
    font-size: 1.1rem;
    color: $text-muted-color;
    cursor: default;

    &__name {
      font-weight: 800;
    }

    &--active {
      color: $text-nav-color;
      border-color: $text-nav-color;
      cursor: pointer;
    }

    &--current {
      color: $text-base-color;
      border-color: $text-base-color;
    }

    &--validated {
      color: $text-success-color;
      border-color: $text-success-color;
      cursor: pointer;
    }
  }

  &__step + &__step {
    margin-top: 1rem;
  }
}
