.Breadcrumb {
    &__step {
        padding: 1rem 0.8rem;
        border: 1px solid $text-muted-color;
        border-radius: 1.5rem;
        color: $text-muted-color;
        font-size: 1.1rem;
        text-align: left;
        cursor: default;

        &__name {
            font-weight: 800;
        }

        &--active {
            border-color: $text-nav-color;
            color: $text-nav-color;
            cursor: pointer;
        }

        &--current {
            border-color: $text-base-color;
            color: $text-base-color;
        }

        &--validated {
            border-color: $text-success-color;
            color: $text-success-color;
            cursor: pointer;
        }
    }

    &__step + &__step {
        margin-top: 1rem;
    }
}
