@use '~@/themes/default/style/globals';
@use 'sass:color';

$group-border-color: #636363 !default;
$group-item-max-height: 65px !default;

.Timeline {
    position: relative;
    display: flex;
    flex-direction: column;

    &__loading {
        position: absolute;
        z-index: 0;
        top: calc(50% - 40px);
        left: calc(50% - 90px);
        width: 180px;
        height: 80px;
    }

    &__content {
        z-index: 1;
        flex: 1;
    }

    &__item {
        $sub-block: &;
        $border-radius: 10px;

        margin: 0;
        padding: 1.2rem 1.1rem;
        border: none;
        font-size: 1rem;

        &.vis-range {
            border: none;
            border-radius: $border-radius;
            background-color: globals.$calendar-event-normal-color;
            color: globals.$calendar-event-normal-text-color;
            box-shadow: 1px 2px 3px rgba(#000, 0.5);

            &.vis-selected {
                filter: brightness(110%);
            }
        }

        &.vis-background {
            padding: 0.5rem 0.8rem;
            background-color: rgba(31, 31, 31, 0.6);
            color: rgba(255, 255, 255, 0.5);
        }

        &:not(.vis-readonly):not(.vis-background) {
            cursor: pointer;

            .vis-drag-left {
                left: 0;
                border-radius: $border-radius 0 0 $border-radius;
            }

            .vis-drag-right {
                right: 0;
                border-radius: 0 $border-radius $border-radius 0;
            }
        }

        &.vis-readonly {
            .vis-drag-center {
                cursor: no-drop;
            }
        }

        &--with-custom-color {
            &.vis-range {
                background-color: var(--timeline-item-color);

                &#{$sub-block}--with-dark-color {
                    color: globals.$calendar-event-text-color-light;
                }

                &#{$sub-block}--with-light-color {
                    color: globals.$calendar-event-text-color-dark;
                }
            }
        }

        .vis-item-overflow {
            display: flex;
            align-items: center;
        }

        .vis-item-content {
            overflow: hidden;
            padding: 0;
            text-overflow: ellipsis;
        }

        // stylelint-disable-next-line selector-class-pattern
        .vis-onUpdateTime-tooltip {
            border-radius: 3px;
            background-color: globals.$bg-color-tooltip;
            line-height: 1.5;
            white-space: pre-wrap;
        }

        .vis-delete {
            right: -32px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 100%;
            border-radius: 3px;

            &::after {
                content: '\f1f8';
                color: globals.$text-danger-color;
                // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
                font-family: 'Font Awesome 5 Free';
                font-size: 1.7rem;
                font-weight: 900;
            }

            &:hover {
                &::after {
                    color: #fff;
                }
            }
        }
    }

    .vis-timeline {
        border: none;
        background-color: globals.$calendar-main-background-color;

        .vis-panel {
            &.vis-bottom,
            &.vis-center,
            &.vis-left,
            &.vis-right,
            &.vis-top {
                border: none;
            }
        }

        .vis-time-axis {
            &.vis-foreground {
                background: rgba(#fff, 0.05);
                box-shadow: 0 0 5px rgba(#000, 0.25);
            }

            // stylelint-disable-next-line selector-max-compound-selectors
            .vis-text {
                color: globals.$text-soft-color;
                text-align: center;

                // stylelint-disable-next-line selector-max-compound-selectors
                &.vis-major {
                    margin-left: 0.5rem;
                    font-weight: 800;
                    text-transform: capitalize;
                }
            }
        }

        .vis-grid {
            &.vis-vertical {
                border-color: globals.$calendar-cells-border-color;
            }

            &.vis-today {
                background-color: globals.$calendar-current-date-background-color;
            }
        }

        .vis-current-time {
            max-height: calc(100% - 42px);
            margin-top: 42px;
            background-color: globals.$calendar-time-cursor-color;
        }

        .vis-label {
            color: globals.$text-base-color;
        }
    }

    .vis-tooltip {
        overflow: hidden;
        max-width: 50%;
        margin: 30px 0 0 15px;
        padding: globals.$content-padding-small-horizontal globals.$content-padding-small-vertical;
        border: none;
        border-radius: 3px;
        background-color: globals.$bg-color-tooltip;
        color: globals.$text-base-color;
        font-family: globals.$text-base-font-family;
        white-space: pre-wrap;
        text-overflow: ellipsis;

        .fas,
        .far {
            width: 1.5rem;
            margin-bottom: 3px;
            text-align: center;
        }

        .fa-exclamation-triangle {
            color: globals.$text-danger-color;
        }

        .fa-check {
            color: globals.$text-success-color;
        }
    }

    &--grouped {
        .vis-timeline {
            background-color: color.scale(globals.$calendar-main-background-color, $alpha: -30%);
        }

        .vis-vertical {
            background-color: globals.$calendar-main-background-color;
        }

        .vis-labelset {
            max-width: 280px;
            min-width: 180px;

            .vis-label {
                box-sizing: content-box;
                border-bottom: 1px solid $group-border-color;
                color: globals.$text-base-color;
            }

            .vis-inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px;

                // Faux positif, @see https://github.com/stylelint-scss/stylelint-scss/issues/486
                // stylelint-disable-next-line scss/no-global-function-names, order/properties-order
                min-height: max(100%, 55px);
            }
        }

        .vis-foreground .vis-group {
            box-sizing: content-box;
            border-bottom: 1px solid $group-border-color;
        }

        .vis-item {
            &.vis-range {
                max-height: $group-item-max-height;
            }

            .vis-item-overflow {
                align-items: flex-start;
                overflow: hidden;
                max-height: calc(#{$group-item-max-height} - 1.2rem - 1.2rem);
            }
        }
    }
}
