@use './variables' as *;
@use '~@/themes/default/style/globals';
@use 'sass:color';

.Timeline {
    position: relative;
    display: flex;
    flex-direction: column;

    &__loading {
        position: absolute;
        z-index: 0;
        top: calc(50% - 40px);
        left: calc(50% - 90px);
        width: 180px;
        height: 80px;
    }

    &__content {
        z-index: 1;
        flex: 1;
    }

    &__item {
        $sub-block: &;

        height: 49px;
        margin: 0;
        border: none;
        font-size: 1rem;

        &.vis-range {
            --background-color: #{$range-item-background-color};
            --color: #{$range-item-text-color};

            border: none;
            border-radius: $item-border-radius;
            background-color: var(--background-color);
            color: var(--color);
            box-shadow: $range-item-box-shadow;

            &.vis-selected {
                filter: brightness(110%);
            }
        }

        &.vis-background {
            padding: 0.5rem 0.8rem;
            background-color: $background-item-background-color;
            color: $background-item-text-color;
        }

        &:not(.vis-readonly):not(.vis-background) {
            cursor: pointer;

            .vis-drag-left {
                left: 0;
                border-radius: $item-border-radius 0 0 $item-border-radius;
            }

            .vis-drag-right {
                right: 0;
                border-radius: 0 $item-border-radius $item-border-radius 0;
            }
        }

        &.vis-readonly {
            .vis-drag-center {
                cursor: no-drop;
            }
        }

        &--actual {
            &.vis-range {
                z-index: 1;

                // - `!important` pour désactiver tout `background` qui viendrait à
                //   être appliqué sur cet éléments dont le fond est géré dans le `::before`.
                // stylelint-disable-next-line declaration-no-important
                background: none !important;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: $item-border-radius;
                    background-color: var(--background-color);
                    opacity: 0.8;
                }
            }
        }

        &--expected {
            &.vis-range {
                z-index: 0;

                // - `!important` pour désactiver tout `box-shadow` qui viendrait à
                //   être appliqué sur cet éléments qui doit rester un élément "fantôme".
                // stylelint-disable-next-line declaration-no-important
                box-shadow: none !important;
            }
        }

        &--with-custom-color {
            &.vis-range {
                --background-color: var(--timeline-item-color);

                &#{$sub-block}--with-dark-color {
                    --color: #{globals.$calendar-event-text-color-light};
                }

                &#{$sub-block}--with-light-color {
                    --color: #{globals.$calendar-event-text-color-dark};
                }
            }
        }

        .vis-item-overflow {
            display: flex;
            align-items: center;
            padding: 1.2rem 1.1rem;
        }

        .vis-item-content {
            overflow: hidden;
            padding: 0;
            text-overflow: ellipsis;
        }

        // stylelint-disable-next-line selector-class-pattern
        .vis-onUpdateTime-tooltip {
            border-radius: globals.$border-radius-normal;
            background-color: globals.$bg-color-tooltip;
            line-height: 1.5;
            white-space: pre-wrap;
        }

        .vis-delete {
            right: -32px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 100%;
            border-radius: globals.$border-radius-normal;

            &::after {
                content: '\f00d';
                color: globals.$text-danger-color;
                // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
                font-family: 'Font Awesome 5 Free';
                font-size: 1.4rem;
                font-weight: 800;
            }

            &:hover {
                background-color: transparent;

                &::after {
                    color: globals.$text-danger-color;
                }
            }
        }
    }

    .vis-timeline {
        border: none;
        border-radius: $border-radius;
        background-color: $background-color;

        .vis-panel {
            &.vis-bottom,
            &.vis-center,
            &.vis-left,
            &.vis-right,
            &.vis-top {
                border: none;
            }
        }

        .vis-time-axis {
            &.vis-foreground {
                background: $header-background-color;
                box-shadow: $header-box-shadow;
            }

            // stylelint-disable-next-line selector-max-compound-selectors
            .vis-text {
                color: $header-text-color;
                text-align: center;

                // stylelint-disable-next-line selector-max-compound-selectors
                &.vis-major {
                    margin-left: 0.5rem;
                    font-weight: 800;
                    text-transform: capitalize;
                }
            }
        }

        .vis-grid {
            &.vis-vertical {
                border-color: $separator-color;

                &.vis-monday {
                    border-left: 3px solid $separator-color;
                }
            }

            &.vis-today {
                border-color: $today-border-color;
                background-color: $today-background-color;

                // stylelint-disable-next-line selector-max-compound-selectors
                + .vis-vertical {
                    border-left-color: $today-border-color;
                }
            }
        }

        .vis-current-time {
            max-height: calc(100% - 42px);
            margin-top: 42px;
            background-color: $today-time-cursor-color;
        }

        .vis-label {
            color: globals.$text-base-color;
        }
    }

    .vis-tooltip {
        overflow: hidden;
        max-width: 50%;
        margin: 30px 0 0 15px;
        padding: globals.$spacing-medium globals.$spacing-large;
        border: none;
        border-radius: globals.$border-radius-large;
        background-color: globals.$bg-color-tooltip;
        color: globals.$text-base-color;
        font-family: globals.$base-font-family;
        white-space: pre-wrap;
        text-overflow: ellipsis;

        .fas,
        .far {
            width: 1.5rem;
            margin-bottom: 3px;
            text-align: center;
        }

        .fa-exclamation-triangle {
            color: globals.$text-danger-color;
        }

        .fa-check {
            color: globals.$text-success-color;
        }
    }

    &--grouped {
        $group-item-max-height: 65px;

        .vis-timeline {
            background-color: color.scale(globals.$calendar-background-color, $alpha: -30%);

            .vis-grid {
                &.vis-today {
                    border-color: $separator-color;
                    background-color: transparent;

                    // stylelint-disable-next-line selector-max-compound-selectors
                    + .vis-vertical {
                        border-left-color: $separator-color;
                    }
                }
            }
        }

        .vis-vertical {
            background-color: globals.$calendar-background-color;
        }

        .vis-labelset {
            max-width: 280px;
            min-width: 180px;

            .vis-label {
                box-sizing: content-box;
                border-bottom: 1px solid $separator-color;
                color: globals.$text-base-color;
            }

            .vis-inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: max(100%, 55px);
                padding: 10px;
            }
        }

        .vis-foreground .vis-group {
            box-sizing: content-box;
            border-bottom: 1px solid $separator-color;
        }

        .vis-item {
            &.vis-range {
                max-height: $group-item-max-height;
            }

            .vis-item-overflow {
                align-items: flex-start;
                overflow: hidden;
                max-height: calc(#{$group-item-max-height} - 1.2rem - 1.2rem);
            }
        }
    }

    &__group-content {
        display: flex;
        align-items: center;
        gap: globals.$spacing-small;

        &__name {
            flex: 1;
        }

        &__actions {
            &__item {
                $horizontal-padding: 7px;

                display: inline-flex;
                align-items: center;
                justify-content: center;
                min-width: 33px;
                padding: 7px $horizontal-padding;
                border: 2px solid transparent;
                border-radius: globals.$border-radius-normal;
                background: transparent;
                color: globals.$color-base-button;
                font-size: 1.05rem;
                line-height: 1;
                text-decoration: none;
                text-align: center;
                white-space: nowrap;
                user-select: none;
                cursor: pointer;
                transition: all 300ms;
                gap: globals.$spacing-thin;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.06);
                    color: globals.$color-hover-button;
                }

                &:active {
                    background: transparent;
                    color: globals.$color-hover-button;
                }

                & + & {
                    margin-left: -($horizontal-padding * 0.66);
                }
            }
        }
    }
}
