@use '~@/themes/default/style/globals';

.DefaultLayoutSidebar {
    position: absolute;
    z-index: 100;
    top: globals.$main-header-height;
    left: -(globals.$sidebar-full-width);
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    width: globals.$sidebar-full-width;
    height: calc(100% - #{globals.$main-header-height});
    background-color: globals.$bg-color-emphasis;
    transition: left 300ms cubic-bezier(0, 0.72, 0.43, 1);

    &__main-menu {
        flex: 1 0 auto;
    }

    &__user-menu {
        flex: 0 0 auto;
    }

    &__footer {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;
        padding: globals.$spacing-small;
        font-size: 0.74rem;
    }

    &--opened {
        left: 0;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-mobile) {
        position: initial;
        left: 0;
        display: flex;
        height: auto;
    }

    @media (min-width: globals.$screen-mobile) and (max-width: globals.$screen-desktop) {
        flex: 0 0 globals.$sidebar-width;
        max-width: globals.$sidebar-width;

        &__footer {
            display: none;
        }
    }

    @media (min-width: globals.$screen-desktop) {
        flex: 0 0 globals.$sidebar-full-width;
    }
}
