@use '~@/themes/default/style/globals';

.EventBeneficiaries {
    font-size: 1.2rem;

    &__icon {
        width: 1.5rem;
        margin-right: 0.3rem;
        text-align: center;
    }

    &__list {
        margin-left: 5px;
    }
}
