@use '~@/themes/default/style/globals';

.EventBeneficiaries {
    font-size: 1.2rem;

    &__icon {
        width: 1.5rem;
        margin-right: globals.$spacing-thin;
        text-align: center;
    }

    &__list {
        margin-left: globals.$spacing-thin;
    }
}
