<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--[if IE]><link rel="icon" href="/favicon.ico"><![endif]-->

    <title>Robert2</title>

    <link href="/webclient/css/chunk-vendors.0.9.0.css" rel="preload" as="style">
    <link href="/webclient/css/app.0.9.0.css" rel="preload" as="style">

    <link href="/webclient/js/chunk-vendors.0.9.0.js" rel="preload" as="script">
    <link href="/webclient/js/app.0.9.0.js" rel="preload" as="script">

    <link href="/webclient/css/chunk-vendors.0.9.0.css" rel="stylesheet">
    <link href="/webclient/css/app.0.9.0.css" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">

    <link rel="manifest" href="/webclient/manifest.json">
    <meta name="theme-color" content="#4DBA87">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="robert2-client">
    <meta name="msapplication-TileImage" content="/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">

    <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#4DBA87">
</head>
<body>
    <noscript><strong>Please enable JavaScript to continue.</strong></noscript>
    <div id="app"></div>
    <script type="text/javascript">
//<![CDATA[
var __SERVER_CONFIG__ = {{serverConfig() | raw}};
//]]>
    </script>
    <script src="/webclient/js/chunk-vendors.0.9.0.js"></script>
    <script src="/webclient/js/app.0.9.0.js"></script>
</body>
</html>
