.CalendarEventDetailsHeader {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: .7rem 1rem;
  background-color: $bg-color-main-header;

  &__status {
    flex: 0 0 auto;
    padding: 0 1rem 0 0;
    font-size: 2rem;

    .fa-check {
      color: $text-success-color;
    }
  }

  &__details {
    flex: 1;
    color: $text-nav-color;

    &__title {
      margin: 0 0 .4rem;
      font-size: 1.4rem;
      font-weight: 800;
      color: $text-base-color;
    }

    &__location-dates {
      margin-bottom: .2rem;
      font-size: 1.2rem;
    }

    &__in-progress {
      color: $text-success-color;
      font-size: 1rem;
    }
  }

  &__actions {
    flex: 0 0 auto;
    margin: 0 1rem;
  }

  .close {
    flex: 0 0 auto;
    background: none;
    border: none;
  }
}
