.Beneficiary {
  &__main {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
  }

  .PersonForm {
    flex: 2;
    min-width: $form-min-width;
    max-width: $form-max-width;
    margin-right: 1rem;
  }

  .Help {
    display: none;
    flex: 1;
    margin-top: 3.8rem;
    min-width: 150px;
  }

  @media screen and (min-width: $screen-mobile) {
    .Help {
      display: block;
    }
  }
}
