{% extends "pdf/base.twig" %}

{% block style %}
@page {
    size: 50mm 25mm;
    margin: 0;
}

html {
    background: #000;
    color: #fff;
}

html {
    margin: 0;
    font-size: 3mm;
}

.bar-code {
    position: fixed;
    top: 0;
    left: 0;
    height: 25mm;
    width: 50mm;
    box-sizing: border-box;
    padding: 2mm 0;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 1;
}

.bar-code * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bar-code__header {
    height: 7.378mm;
    padding: 0 2mm;
    margin-bottom: 2mm;
}

.bar-code__title {
    font-size: 4mm;
    font-weight: bold;
    margin-bottom: .5mm;
}

.bar-code__barcode {
    height: 8mm;
    width: 100%;
}

.bar-code__reference {
    margin-top: .8mm;
    padding: 0 2mm;
    font-size: 3.5mm;
    letter-spacing: .1mm;
}
{% endblock %}
{% block content %}
<div class="bar-code">
    <div class="bar-code__header">
        <div class="bar-code__title">{{ name|u.truncate(23) }}</div>
        <div class="bar-code__reference">{{ translate('park-value', [park|u.truncate(10)]) }}</div>
    </div>
    <div class="bar-code__body">
        <div class="bar-code__barcode">
            <img class="bar-code__barcode__image" src="{{ barcode }}" />
        </div>
        <div class="bar-code__reference">{{ reference|u.truncate(20) }}</div>
    </div>
</div>
{% endblock %}