{% extends "pdf/base.twig" %}

{% block style %}
@page {
    size: 50mm 25mm;
    margin: 0;
}

html {
    margin: 0;
    background: #000;
    font-family: 'DejaVu Sans Mono', monospace;
    font-weight: 400;
    font-size: 3mm;
    color: #fff;
}

.bar-code {
    position: fixed;
    top: 0;
    left: 0;
    height: 25mm;
    width: 50mm;
    box-sizing: border-box;
    padding: 1.5mm 0;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 1;
}

.bar-code * {
    white-space: nowrap;
    overflow: hidden;
}

.bar-code__header {
    height: 8.8mm;
    padding: 0 2mm;
    margin-bottom: 1.5mm;
}

.bar-code__title {
    font-size: 4mm;
    font-weight: bold;
    margin-bottom: .5mm;
}

.bar-code__reference {
    margin-top: .8mm;
    padding: 0 2mm;
    font-size: 3.5mm;
    letter-spacing: .1mm;
}

.bar-code__barcode {
    height: 7mm;
    width: 100%;
}
{% endblock %}
{% block content %}
<div class="bar-code">
    <div class="bar-code__header">
        <div class="bar-code__title">{{ name|u.truncate(23, '...') }}</div>
        <div class="bar-code__park">{{ translate('park-value', [park|u.truncate(18, '...')]) }}</div>
    </div>
    <div class="bar-code__body">
        <div class="bar-code__barcode">
            <img class="bar-code__barcode__image" src="{{ barcode }}" />
        </div>
        <div class="bar-code__reference">{{ reference|u.truncate(20, '...') }}</div>
    </div>
</div>
{% endblock %}