parameters:
    level: 1
    tmpDir: ./src/var/tmp/phpstan

    paths:
        - ./src
        - ./tests

    excludePaths:
        - ./data
        - ./src/var/*

    bootstrapFiles:
        - ./src/App/Config/constants.php
