parameters:
    level: 2
    tmpDir: ./src/var/tmp/phpstan

    paths:
        - ./src
        - ./tests

    excludePaths:
        - ./data
        - ./src/var/*

    bootstrapFiles:
        - ./src/App/Config/constants.php

    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Model::\$.+#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Model::.+\(\)#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::.+\(\)\.#'
        - '#Cannot call method .+\(\) on array<Illuminate\\Database\\Eloquent\\Builder>\|Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Collection\|Illuminate\\Database\\Eloquent\\Model\.#'
        - '#Cannot access property \$.+ on array<Illuminate\\Database\\Eloquent\\Builder>\|Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Collection\|Illuminate\\Database\\Eloquent\\Model\.#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\(HasMany|BelongsToMany|MorphToMany|MorphMany|BelongsTo)::.+\(\)\.#'
        - '#Call to an undefined method Illuminate\\Support\\HigherOrderCollectionProxy::.+\(\)\.#'
        - '#Call to an undefined method Illuminate\\Database\\Query\\Builder::.+\(\)\.#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::.+#'
        - '#Access to an undefined property Loxya\\Models\\.+::\$pivot\.#'

        # - À cause du getter `attributes` dans le modèle `Material` qui entre en collision avec le `$attributes` d'Eloquent.
        - '#Access to protected property Illuminate\\Database\\Eloquent\\Model::\$attributes\.#'
