parameters:
    level: 1
    tmpDir: ./src/var/tmp/phpstan

    paths:
        - ./src
        - ./tests

    excludePaths:
        - ./data
        - ./src/var/*

    bootstrapFiles:
        - ./src/App/Config/constants.php

    ignoreErrors:
        -
            # @see https://github.com/phpstan/phpstan/issues/1267
            message: '#Call to an undefined static method static\([a-zA-Z0-9\\_]+\)::_formatOne\(\)#'
            path: ./src/App/Controllers/Traits/Crud/*
