<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="tests/bootstrap.php"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
    </php>

    <testsuites>
        <testsuite name="other">
            <directory>tests/other</directory>
        </testsuite>
        <testsuite name="libs">
            <directory>tests/libs</directory>
        </testsuite>
        <testsuite name="models">
            <directory>tests/models</directory>
        </testsuite>
        <testsuite name="api">
            <directory>tests/endpoints</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/App</directory>
        </include>
        <exclude>
            <file>src/App/Config/settings.dist.php</file>
            <file>src/App/Config/constants.php</file>
            <file>src/App/Controllers/EntryController.php</file>
            <file>src/App/Controllers/SetupController.php</file>
        </exclude>
    </coverage>
</phpunit>
