<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    cacheResultFile="./src/var/cache/.phpunit.result.cache"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="2G" />
        <server name="APP_ENV" value="test" force="true" />
    </php>

    <testsuites>
        <testsuite name="other">
            <directory>tests/other</directory>
        </testsuite>
        <testsuite name="supports">
            <directory>tests/supports</directory>
        </testsuite>
        <testsuite name="models">
            <directory>tests/models</directory>
        </testsuite>
        <testsuite name="api">
            <directory>tests/endpoints</directory>
        </testsuite>
        <testsuite name="events">
            <directory>tests/events</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true" />
    <source>
        <include>
            <directory suffix=".php">src/App</directory>
        </include>
    </source>
</phpunit>
