.Page--inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > .InventoryPageInventory {
        flex: 1;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }
}
