.Page--inventory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > .InventoryPageInventory {
    flex: 1;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
}
