@use '~@/themes/default/style/globals';

.EventReturnNotStarted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__content {
        margin: 0;
        padding: 20px 0;
    }

    &__message {
        display: block;
        margin-bottom: 20px;
        color: globals.$text-warning-color;
        font-size: 1.2rem;
    }
}
