@use '~@/themes/default/style/globals';

.AttributesItem {
    $block: &;

    &__cell {
        height: 60px;
        padding: 0.8rem 0.5rem;
        border-bottom: 1px solid globals.$bg-color-body;

        &--empty {
            color: globals.$text-light-color;
            font-style: italic;
        }

        //
        // - Cellules spécifiques
        //

        &--name {
            font-weight: 700;
        }

        &--unit {
            text-align: center;
        }

        &--max-length {
            display: none;
            text-align: center;

            @media (min-width: globals.$screen-big-desktop) {
                display: table-cell;
            }
        }
    }

    &__name {
        display: flex;
        align-items: center;

        &__text {
            flex: 1;
        }

        &__edit-button {
            margin-left: 10px;
            padding: 5px 8px;
            font-size: 0.9rem;
            visibility: hidden;
            transition: none;
        }
    }

    &__name-edit {
        &__form {
            display: flex;
            align-items: center;

            &__input {
                flex: 1;
            }

            &__actions {
                margin-left: 10px;
            }
        }

        &__error {
            margin: 5px 0 0;
            color: globals.$text-danger-color;
            font-weight: 400;
        }
    }

    &__delete-button {
        visibility: hidden;
        transition: none;

        &--visible {
            visibility: visible;
        }
    }

    //
    // - Hover
    //

    &:hover {
        #{$block}__name__edit-button,
        #{$block}__delete-button {
            visibility: visible;
        }
    }
}
