@use '~@/style/globals';

.Page--park-edit {
    display: flex;
    flex-flow: column wrap;

    .ParkForm {
        flex: 2;
    }

    @media screen and (min-width: globals.$screen-tablet) {
        flex-direction: row;
    }
}

.Park {
    &__sidebar {
        flex: 1;
    }

    &__totals {
        margin: globals.$content-padding-small-vertical globals.$content-padding-large-horizontal;

        &__stock {
            color: globals.$text-light-color;
        }

        &__amount {
            margin-top: globals.$content-padding-small-horizontal;

            &__title {
                padding: 7px 0;
            }

            .ParkTotalAmount {
                display: inline-block;

                &__amount {
                    font-weight: 600;
                }
            }
        }
    }

    @media screen and (min-width: globals.$screen-tablet) {
        &__sidebar {
            margin-top: 30px;
        }
    }
}
