@use '~@/style/globals';

.Page--park-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .ParkEdit {
        flex: 1;
        align-self: center;
    }
}

.ParkEdit {
    width: 600px;
    max-width: 100%;
}
