.Park {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem;

  .Form {
    flex: 2;
    min-width: $form-min-width;
    max-width: $form-max-width;
    margin-right: 1rem;
  }

  &__sidebar {
    flex: 1;

    .Help {
      margin-top: 40px;
      min-width: 150px;
    }
  }

  &__postal-code .FormField__input {
    max-width: 70px;
  }

  &__totals {
    margin: $content-padding-small-vertical $content-padding-large-horizontal;

    &__stock {
      color: $text-light-color;
    }

    &__amount {
      margin-top: $content-padding-small-vertical;
    }
  }
}
