.Calendar {
  position: relative;
  display: flex;
  flex-direction: column;

  &__loading {
    position: absolute;
    top: 50px;
    left: 50%;
  }

  &__timeline {
    flex: 1;
  }

  .Help {
    flex: 0 0 50px;
  }

  .Help {
    margin: 1rem 0;
  }
}

@keyframes animBackground {
  from { background-position: 0 0; }
	to { background-position: 40px 0; }
}
