@use '~@/style/globals';

.Calendar {
    &__timeline {
        flex: 1;
    }

    &__footer {
        flex: 0 0 50px;
        display: flex;
        flex-wrap: wrap;

        .Help {
            flex: 1;
            min-width: 300px;
            padding: globals.$content-padding-small-vertical globals.$content-padding-small-horizontal;
        }

        .CalendarCaption {
            flex: 0 0 auto;
            max-width: 100%;
            padding: globals.$content-padding-small-vertical 0;
        }
    }
}
