//
// - Variantes
//

$warning-variant: (
    icon: 'exclamation-triangle',
    background: #644a2b,
    color: #fff,
) !default;

$info-variant: (
    icon: 'info',
    background: #2d3348,
    color: #fff,
) !default;
