@use '~@/style/globals';

.LoginLayout {
    position: relative;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-bottom: calc(60px + 0.1vh);

    &__logo {
        position: relative;
        flex: 0 0 auto;
        padding: 30px 20px;
        text-align: center;

        .Logo {
            max-width: 100%;
            max-height: 80px;
        }
    }

    &__body {
        flex: 0 0 auto;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        display: none;
        width: 100%;
        padding: 10px 15px;
        background-color: globals.$bg-color-emphasis;
        color: globals.$text-muted-color;
        font-size: 0.8rem;
        line-height: 1.52rem;
        text-align: center;
    }

    @media (min-width: globals.$screen-mobile) {
        &__logo {
            .Logo {
                max-height: 120px;
            }
        }
    }

    @media (min-width: globals.$screen-tablet) {
        justify-content: center;

        &__logo {
            .Logo {
                max-height: 200px;
            }
        }

        &__footer {
            display: block;
        }
    }
}
