@use 'sass:math';
@import '../../themes/default/';

.SelectSearch {
    flex: 1;

    &__label {
        display: block;
        padding: math.div($input-padding-vertical, 1.8) 0;
    }

    .v-select {
        flex: 1;
        margin-right: 10%;
    }

    &__hidden-field {
        display: none;
    }

    &__error {
        flex: 0 0 100%;
        margin-top: 4px;
        color: $text-danger-color;

        &__text {
            padding-left: $form-label-width;
        }
    }

    .vs__selected-options .vs__selected {
        background: none;
        padding: 0;
    }

    @media screen and (min-width: $screen-tablet) {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        align-items: center;

        &__label {
            flex: 0 0 $form-label-width;
            text-align: right;
            padding: 0 $input-padding-horizontal;
        }

        &__label + .v-select + &__error {
            margin-left: $form-label-width;
        }

        .v-select {
            margin-right: 0;
        }
    }
}
