@use '~@/themes/default/style/globals';

.CategoriesItem {
    $block: &;

    max-width: 550px;
    margin: 5px;
    padding: globals.$content-padding-large-vertical;
    border-radius: 10px;
    background: globals.$bg-color-emphasis;
    list-style: none;

    &__subcategories {
        margin: 0;
        padding: 0;
    }

    &__category,
    &__subcategory {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        &__name {
            flex: 1;
            color: globals.$text-base-color;
        }

        &__actions {
            display: flex;
        }

        &__dropdown-action {
            min-width: 250px;
            margin: 0 0 3px;
            list-style: none;

            .Button {
                width: 100%;
                text-align: left;
            }
        }
    }

    &__category {
        &__name {
            font-size: 1.4rem;
        }
    }

    &__subcategory {
        list-style: none;

        &__name {
            @include globals.icon('arrow-right') {
                margin-right: 8px;
            }
        }

        &__actions {
            min-height: 25px;
        }
    }

    @media (min-width: globals.$screen-desktop) {
        margin: globals.$content-padding-small-vertical;
    }
}
