.Parks {
  &__address,
  &__opening-hours,
  &__note {
    display: none;
  }

  &__total-amount {
    display: block;
    color: $text-light-color;
  }

  @media(min-width: $screen-mobile) {
    &__address {
      display: table-cell;
    }
  }

  @media(min-width: $screen-tablet) {
    &__opening-hours,
    &__note {
      display: table-cell;
    }
  }
}
