.Event {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    &__panel {
        position: fixed;
        padding: 7px 0;
        text-align: right;
        width: 160px;

        &__help {
            display: flex;
            justify-content: center;

            .Help {
                margin: 1rem 0.5rem;
                line-height: 1.5;

                &__error {
                    text-align: center;
                }

                &__loading {
                    justify-content: center;
                }
            }
        }
    }

    .EventMiniSummary {
        width: 100%;
        margin-top: 1rem;
    }

    .EventStep1,
    .EventStep2,
    .EventStep3,
    .EventStep4,
    .EventStep5 {
        width: 100%;
        min-width: 250px;
        max-width: 600px;
        margin-left: 180px;
    }

    .EventStep3,
    .EventStep4 {
        max-width: none;
    }

    .EventStep5 {
        max-width: 900px;
    }
}

@media (min-width: $screen-desktop) {
    .Event {
        &__panel {
            width: 200px;
        }

        .EventStep1,
        .EventStep2,
        .EventStep3,
        .EventStep4,
        .EventStep5 {
            margin-left: 220px;
        }
    }
}
