@import '../../themes/default';

.ReturnInventorySummary {
  margin-bottom: $content-padding-large-horizontal;
  padding-bottom: $content-padding-large-vertical;
  border-bottom: 1px solid $tabs-bottom-border-color;
  text-align: center;

  &__title {
    font-size: 1.3rem;
    color: $text-danger-color;
  }

  &__link {
    display: inline-block;
    padding: .55rem .78rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: $color-base-button !important;
    line-height: 1.25;
    font-size: 1rem;
    background-color: $bg-color-button-info;

    &:hover, &:focus {
      background-color: lighten($bg-color-button-info, 8%);
      color: $color-hover-button;
      outline: 0;
    }
  }

  &__all-ok {
    margin-bottom: $content-padding-large-horizontal;
    color: $text-success-color;
    font-size: 1.1rem;
  }

  &__list {
    padding: 0;
    text-align: left;
  }
}
