@import '../../themes/default';

.ReturnInventorySummary {
    margin-bottom: $content-padding-large-horizontal;
    padding-bottom: $content-padding-large-vertical;
    border-bottom: 1px solid $tabs-bottom-border-color;
    text-align: center;

    &__title {
        color: $text-danger-color;
        font-size: 1.3rem;
    }

    &__link {
        display: inline-block;
        padding: 0.55rem 0.78rem;
        border: none;
        border-radius: 2px;
        background-color: $bg-color-button-info;
        // stylelint-disable-next-line declaration-no-important
        color: $color-base-button !important;
        font-size: 1rem;
        line-height: 1.25;
        cursor: pointer;

        &:hover,
        &:focus {
            outline: 0;
            background-color: lighten($bg-color-button-info, 8%);
            color: $color-hover-button;
        }
    }

    &__all-ok {
        margin-bottom: $content-padding-large-horizontal;
        color: $text-success-color;
        font-size: 1.1rem;
    }

    &__list {
        padding: 0;
        text-align: left;
    }
}
