@use '~@/themes/default/style/globals';

.InvoiceEditor {
    $block: &;

    overflow-y: auto;
    min-width: 1050px;

    &__lists {
        display: flex;
        flex-direction: column;
        gap: globals.$spacing-large;

        &__item {
            $sub-block: &;

            &__title {
                margin: 0 0 globals.$spacing-small;
                color: globals.$text-base-color;
            }
        }
    }

    &__totals {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: globals.$spacing-large;
        margin-right: 25px;
        color: globals.$text-base-color;
        gap: globals.$spacing-small;

        &__item {
            $sub-block: &;

            @extend %reset-dl;

            display: flex;
            align-items: center;
            gap: globals.$spacing-medium;

            &__label,
            &__value {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                font-size: 1.1rem;
                gap: globals.$spacing-thin;
            }

            &__value {
                @extend %reset-dd;

                width: 160px;
                min-height: 25px;
                padding-right: 43px;

                &--editable {
                    padding-right: 0;
                }
            }

            //
            // - Variantes
            //

            &--grand-total {
                #{$sub-block}__label,
                #{$sub-block}__value {
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                #{$sub-block}__value {
                    &--editable {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    //
    // - État: Avec extras
    //

    &--with-extras {
        #{$block}__totals {
            margin-top: -20px;
        }
    }
}
