.PersonsList {
  font-size: 1.2rem;

  &__nobody {
    color: $text-danger-color;
  }

  &__item {
    display: inline-block;
  }

  &__item + &__item {
    margin-left: .5rem;

    &::before {
      content: '|';
      margin-right: .3rem;
      color: $text-base-color;
    }
  }

  .fas {
    width: 1.5rem;
    margin-right: .5rem;
    text-align: center;
  }
}
