@import '../../themes/default/index';

.Page--technicians {
    display: flex;
    flex-direction: column;

    .VueTables {
        flex: 1;
    }
}

.Technicians {
    &__filters {
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        left: 240px;
        right: calc(#{$content-padding-large-vertical} + 45px + #{$content-padding-small-vertical});
        z-index: 1;

        &__clear-button {
            margin-left: $content-padding-small-horizontal;
        }
    }

    &__nickname,
    &__email,
    &__address,
    &__note {
        display: none;
    }

    &__note {
        white-space: pre-wrap;
    }

    &__actions {
        min-width: 115px;
        text-align: right;
    }

    @media (min-width: $screen-mobile) {
        &__email {
            display: table-cell;
        }
    }

    @media (min-width: $screen-tablet) {
        &__nickname {
            display: table-cell;
        }
    }

    @media (min-width: $screen-desktop) {
        &__address,
        &__note {
            display: table-cell;
        }
    }
}
