$primary-color: #c35022;

// -----------------------------------------
// -
// - Backgrounds colors
// -
// -----------------------------------------

$bg-color-body: #242424;
$bg-color-main-header: #333;
$bg-color-side-nav: #333;
$bg-color-emphasis: #1f1f1f;

$bg-color-table-th: #2e2e2e;
$bg-color-table-td: #363636;

$bg-color-side-menu-item-hover: #262626;
$bg-color-side-menu-item-active: #242424;

$bg-color-tooltip: rgba(3, 3, 3, 0.75);

$bg-color-input-normal: #454545;
$bg-color-input-disabled: #242424;

$bg-color-button-default: #616161;
$bg-color-button-info: #116f49;
$bg-color-button-success: #477000;
$bg-color-button-warning: #b4320e;
$bg-color-button-danger: #911d0a;

$bg-color-dropdown-menu: #262626;
$bg-color-dropdown-menu-item-hover: #333;
$bg-color-dropdown-menu-item-active: #333;

// -----------------------------------------
// -
// - Text colors
// -
// -----------------------------------------

$text-base-color: #e3e3e3;
$text-soft-color: #a3a3a3;
$text-light-color: #8a8a8a;
$text-muted-color: #636363;
$text-success-color: #5ebd00;
$text-info-color: #1db97b;
$text-danger-color: #fd423f;
$text-warning-color: #fd935e;

$help-text-color: #757575;

$link-base-color: #fb6418;
$link-hover-color: #fc864a;
$link-active-color: #fff;

$color-input: #ededed;
$color-input-disabled: #999;

$color-base-button: #e0e0e0;
$color-hover-button: #fff;
$color-active-button: #e04406;

// -----------------------------------------
// -
// - Borders colors
// -
// -----------------------------------------

$divider-color: #454545;
$list-left-border-color: #383838;
$input-focus-border-color: #943b0e;
$input-error-border-color: #ad0101;

// -----------------------------------------
// -
// - Calendar specific colors
// -
// -----------------------------------------

$calendar-main-background-color: #363636;
$calendar-current-date-background-color: #5b382a;

$calendar-cells-border-color: #545454;
$calendar-time-cursor-color: #bb481b;

$calendar-event-text-color: #fff;
$calendar-event-archived-text-color: #a3a3a3;

$calendar-event-normal-color: #b13f13;
$calendar-event-past-color: #565656;
$calendar-event-no-return-inventory-color: #65260e;
$calendar-event-archived-color: #2b2b2b;

$calendar-event-not-confirmed-opacity: 0.58;
