@use 'sass:color';

$primary-color: #0077b6;

//
// - Couleurs des backgrounds.
//

$bg-color-body: #2a282a;
$bg-color-emphasis: #252325;
$bg-color-emphasis-light: #2e2d2e;
$bg-color-emphasis-danger: #552d2e;
$bg-color-emphasis-warning: #644a2b;
$bg-color-emphasis-success: #2b2d29;

$bg-color-table-th: #2e2e2e;
$bg-color-table-td: #363636;

$bg-color-list-item: #2e2e2e;
$bg-color-list-item-emphasis: #363636;

$bg-color-side-menu-item-hover: #262626;
$bg-color-side-menu-item-active: #242424;

$bg-color-tooltip: rgba($bg-color-emphasis, 0.9);

$bg-color-button-default: #616161;
$bg-color-button-success: #2c7d43;
$bg-color-button-warning: #b4320e;
$bg-color-button-danger: #911d0a;

$bg-color-highlighted-item: #7a2b0d;

//
// - Couleurs des textes.
//

$text-base-color: #e3e3e3;
$text-soft-color: #a3a3a3;
$text-light-color: #8a8a8a;
$text-muted-color: #636363;
$text-success-color: #5ebd00;
$text-danger-color: #fd423f;
$text-warning-color: #ff9729;

$help-text-color: #757575;

$link-base-color: #fff;
$link-hover-color: color.adjust($primary-color, $lightness: 10%);
$link-active-color: #fff;

$color-base-button: #e0e0e0;
$color-hover-button: #fff;

// - Couleurs utilisées avec une couleur de fond `$bg-color-emphasis-danger`.
$color-emphasis-danger-base: #f7eded;
$color-emphasis-danger-soft: #dfb8b8;
$color-emphasis-danger-emphasis: #ff644d;

// - Couleurs utilisées avec une couleur de fond `$bg-color-emphasis-warning`.
$color-emphasis-warning-base: #fff;

//
// - Couleurs des bordures.
//

$divider-color: #454545;

$list-left-border-color: #383838;

/// Diviseur utilisé avec une couleur de fond `$bg-color-emphasis`.
$divider-emphasis: #423e42;

/// Diviseur utilisé avec une couleur de fond `$bg-color-emphasis-danger`.
$divider-emphasis-danger: #753e3f;
