// -----------------------------------------
// -
// - Text sizes
// -
// -----------------------------------------

$base-font-size: 13px;

// -----------------------------------------
// -
// - Nav sizes
// -
// -----------------------------------------

$sidebar-width: 50px;
$sidebar-full-width: 130px;
$sidebar-font-size: 1rem;
$sidebar-icon-size: 1.5rem;
$main-header-height: 50px;
$table-search-input: 206px;

// -----------------------------------------
// -
// - Spacing
// -
// -----------------------------------------

/// Très petit espace pour les éléments d'interface.
/// (Équivalent à un espace de ~3.5px)
/// @type Number
$spacing-thin: 0.27rem;

/// Petit espace pour les éléments d'interface.
/// (Équivalent à un espace de ~7.5px)
/// @type Number
$spacing-small: 0.568rem;

/// Espace moyen pour les éléments d'interface.
/// (Équivalent à un espace de ~15px)
/// @type Number
$spacing-medium: 1.154rem;

/// Grand espace pour les éléments d'interface.
/// (Équivalent à un espace de ~25px)
/// @type Number
$spacing-large: 1.923rem;

// -----------------------------------------
// -
// - Forms and inputs sizes
// -
// -----------------------------------------

$form-min-width: 200px;
$form-max-width: 600px;
$form-label-width: 140px;

$form-fixed-actions-margin-bottom: 90px;

$input-min-height: 38px;
$input-padding-horizontal: 10px;
$input-padding-vertical: 9px;
$input-border-size: 1px;
$input-border-radius: 4px;

$input-font-size: 1rem;
$input-line-height: 1.4;

$dropdown-min-width: 220px;

// -----------------------------------------
// -
// - Screens sizes variables
// -
// -----------------------------------------

$screen-mobile: 580px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-big-desktop: 1400px;
