@use '~@/themes/default/style/globals';
@use 'sass:color';

.InvoiceEditorResyncMaterialDataModal {
    &__header {
        display: flex;
        align-items: center;
        padding: 0.7rem 1rem;
        background-color: globals.$bg-color-emphasis;
        gap: globals.$spacing-medium;

        &__title {
            flex: 1;
            overflow: hidden;
            margin: 0;
            font-size: 1.3rem;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__close-button {
            flex: 0 0 8px;
        }
    }

    &__body {
        padding: globals.$spacing-medium;
    }

    &__footer {
        display: flex;
        justify-content: center;
        padding: 1.5rem globals.$spacing-medium;
        background-color: rgba(0, 0, 0, 0.1);
        gap: globals.$spacing-small;
    }

    //
    // - Content.
    //

    &__list {
        $sub-block: &;

        width: 100%;
        border-collapse: separate;

        &__item {
            cursor: pointer;

            &__col {
                padding: 10px 8px;
                vertical-align: middle;
                transition: background linear 250ms;

                &--checkbox {
                    width: 1%;
                    white-space: nowrap;
                    vertical-align: top;
                }

                &--name {
                    font-weight: 500;
                    user-select: none;
                    vertical-align: top;
                }

                &--current-value,
                &--revert-value {
                    width: 190px;
                    background: globals.$bg-color-emphasis;
                    text-align: center;
                    user-select: none;
                }

                &--current-value {
                    padding-right: 20px;
                    color: globals.$text-base-color;
                }

                &--revert-value {
                    position: relative;
                    padding-left: 20px;
                    color: globals.$text-soft-color;

                    @include globals.icon('arrow-left') {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        display: block;
                        color: globals.$text-base-color;
                        font-size: 15px;
                        transform: translateX(-50%) translateY(-50%);
                    }
                }
            }

            &__value {
                &--list {
                    padding-left: 20px;
                    text-align: left;
                }

                &--empty {
                    color: globals.$text-muted-color;
                    font-style: italic;
                }
            }

            & + & {
                #{$sub-block}__item__col {
                    border-top: 1px solid globals.$bg-color-emphasis-light;
                }
            }

            //
            // - State: Hover.
            //

            &:hover {
                #{$sub-block}__item__col {
                    background-color: globals.$bg-color-emphasis-light;

                    &--current-value,
                    &--revert-value {
                        background: color.scale(globals.$bg-color-emphasis-light, $lightness: 5%);
                    }
                }
            }

            //
            // - State: Selected.
            //

            &--selected {
                // stylelint-disable-next-line selector-list-comma-newline-after
                &, &:hover {
                    #{$sub-block}__item__col {
                        background-color: globals.$bg-color-emphasis-success;

                        &--current-value,
                        &--revert-value {
                            background: color.scale(globals.$bg-color-emphasis-success, $lightness: 5%);
                        }

                        &--current-value {
                            color: globals.$text-soft-color;
                        }

                        &--revert-value {
                            @include globals.icon('arrow-right');

                            color: globals.$text-base-color;
                        }
                    }
                }
            }
        }
    }
}
