@use './variables' as *;
@use '~@/themes/default/style/globals';

.Link {
    //
    // - Custom properties
    //

    --color: var(--Link--color, #{$color});
    --hover-color: var(--Link--hover-color, #{$hover-color});

    //
    // - Règles
    //

    @extend %reset-button;
    @extend %reset-link;

    display: inline-flex;
    align-items: baseline;
    color: var(--color);
    touch-action: auto;
    cursor: pointer;
    gap: $internal-spacing;

    &:hover {
        color: var(--hover-color);
    }
}
