.EventDetails {
  display: flex;
  flex-direction: column;

  &__loading {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    background: $bg-color-side-nav;
    color: $text-nav-color;

    .fas {
      margin-right: .5rem;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 520px;
    max-height: 100vh;
    overflow-y: auto;

    &__body {
      flex: 1;
      padding: 1.5rem;
      background-color: $bg-color-body;

      .Help {
        margin-bottom: $content-padding-small-vertical;
      }

      .vue-tablist {
        .fa-exclamation-triangle {
          color: $text-danger-color;
        }
      }
    }
  }

  &__base-infos {
    display: flex;
    flex-wrap: wrap;

    .LocationText,
    .PersonsList {
      flex: 1 0 auto;
      max-width: 100%;
      margin-right: $content-padding-small-horizontal;
      margin-bottom: $content-padding-large-vertical;
    }
  }

  &__description,
  &__confirmation,
  &__materials-empty {
    font-size: 1.2rem;
    margin-bottom: $content-padding-large-vertical;

    .fas {
      width: 1.5rem;
      margin-right: .5rem;
      text-align: center;
    }
  }

  &__description {
    margin-top: 0;
    color: $text-nav-color;
    white-space: pre-wrap;
    line-height: 1.5;
  }

  &__confirmation {
    color: $text-warning-color;

    &--confirmed {
      color: $text-success-color;
    }
  }

  &__materials-empty {
    color: $text-danger-color;

    .fas {
      margin-right: .3rem;
    }
  }

  &__not-billable {
    font-size: 1.2rem;
    color: $text-warning-color;
  }

  .EventTotals {
    padding: 0;
    text-align: left;
  }
}
