.TopMenu {
  position: relative;
  z-index: 100;

  &__item {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding: 0 $content-padding-small-vertical;
  }

  &__welcome {
    display: none;
  }

  &__dropdown-btn {
    padding: 0 $content-padding-large-vertical;
    text-transform: capitalize;
  }

  &__dropdown {
    position: absolute;
    top: $main-header-height;
    right: 0;
    width: $main-header-dropdown-width;
    z-index: 99;
    background: $bg-color-main-header;
    box-shadow: -2px 6px 6px rgba(0, 0, 0, 0.25);
    transform-origin: 50% 0%;
    transform: scaleY(0);
    transition: transform 150ms ease-in-out;

    &__nickname {
      padding: 0 $content-padding-large-vertical $content-padding-small-horizontal;
      text-align: center;
      font-size: 1.2rem;
      text-transform: capitalize;
    }

    &__item {
      padding: $content-padding-large-horizontal $content-padding-small-vertical;

      .fas {
        font-size: $side-nav-icon-size;
        margin-right: $content-padding-small-vertical;
      }
    }

    &--open {
      transform: none;
    }
  }

  &__dropdown-btn,
  &__dropdown__item {
    display: flex;
    align-items: center;
    font-size: $side-nav-font-size;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: $bg-color-top-menu-item-hover;
      color: $link-hover-color;
    }
  }

  @media(min-width: $screen-mobile) {
    &__welcome {
      display: inline-block;
    }

    &__dropdown-btn {
      padding: 0 $content-padding-small-vertical;

      .fas {
        margin-left: 1rem;
      }
    }

    &__dropdown {
      &__nickname {
        display: none;
      }
    }
  }
}
