@use '~@/themes/default/style/globals';

.Inventory {
    $block: &;

    display: flex;
    flex-direction: column;
    gap: globals.$spacing-large;

    &__section {
        &__header {
            display: flex;
            align-items: flex-end;
            margin-right: globals.$spacing-small;
            margin-bottom: globals.$spacing-small;
            gap: globals.$spacing-medium;
        }

        &__title {
            @include globals.line-clamp(2);

            flex: 1;
            margin: 0;
            font-size: 1.3rem;
        }

        &__columns {
            display: flex;
            margin-left: auto;
            gap: globals.$spacing-medium;

            &__item {
                overflow: hidden;
                width: 105px;
                font-size: 1rem;
                font-weight: 500;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &__items {
            display: flex;
            flex-direction: column;
            gap: globals.$spacing-small;
        }
    }

    //
    // - States
    //

    &--editable {
        #{$block}__section__columns {
            // - Colonne d'action + Gap.
            margin-right: calc(36px + #{globals.$spacing-medium});
        }
    }
}
