@use '~@/themes/default/style/globals';

.UpdateBookingMaterialsModal {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;

    &__header {
        display: flex;
        align-items: center;
        padding: 0.7rem 1rem;
        background-color: globals.$bg-color-main-header;
        gap: globals.$spacing-medium;

        &__title {
            flex: 1;
            overflow: hidden;
            margin: 0;
            font-size: 1.3rem;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__close-button {
            flex: 0 0 auto;
        }
    }

    &__body {
        flex: 1;
        overflow-y: auto;
        min-height: 0;
        padding: globals.$spacing-large globals.$spacing-medium;
    }

    &__footer {
        display: flex;
        justify-content: center;
        padding: 1.5rem globals.$spacing-medium;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
