@use '~@/themes/default/style/globals';

.ImportFromEventSelectedSummaryCategoryItem {
    &__col {
        padding: 5px;
        border-bottom: 1px dashed globals.$list-left-border-color;
        vertical-align: middle;

        &--label {
            padding-left: 0;
        }

        &--quantity {
            width: 50px;
        }

        &--price {
            color: globals.$text-light-color;
            text-align: right;
        }

        &--total {
            width: 65px;
            padding-right: 0;
            text-align: right;
        }
    }

    &__label {
        &__name {
            overflow: hidden;
            max-width: 590px;
            margin-bottom: 3px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__ref {
            display: inline-block;
            overflow: hidden;
            max-width: 220px;
            color: globals.$text-light-color;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__quantity {
        &__icon {
            margin-right: 10px;
            color: globals.$text-light-color;
            font-size: 0.8rem;
        }
    }
}
