@use '~@/themes/default/style/globals';

.ScheduleListingFilters {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: globals.$spacing-small;

    &__item {
        &--park,
        &--category,
        &--period,
        &--state {
            min-width: 190px;
        }

        &--period {
            width: 235px;
        }
    }

    &__reset {
        margin-left: globals.$spacing-small;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-mobile) {
        flex-flow: row wrap;
        align-items: center;
    }
}
