@use '~@/style/globals';
@use 'sass:color';

.MultiSwitchOption {
    padding: 0.55rem 0.78rem;
    background-color: rgba(globals.$bg-color-button-default, 1);
    color: globals.$color-base-button;
    cursor: pointer;
    transition: all 300ms;

    &__input {
        display: none;
    }

    &:first-child {
        border-radius: globals.$input-border-radius 0 0 globals.$input-border-radius;
    }

    &:last-child {
        border-radius: 0 globals.$input-border-radius globals.$input-border-radius 0;
    }

    &--active,
    &--active:hover,
    &--active:focus,
    &--active:active {
        background-color: rgba(globals.$bg-color-button-default, 0.6);
        color: color.adjust(globals.$color-active-button, $lightness: 20%);
        cursor: auto;
    }
}
