.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow: hidden;
    color: #333;
}

.body__header {
    flex: 0 0 auto;
}

.body__content {
    flex: 1;
}

.body__footer {
    flex: 0 0 auto;
}
