.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow: hidden;
    color: #333;
}

.layout__header {
    flex: 0 0 auto;
}

.layout__content {
    flex: 1;
}

.layout__footer {
    flex: 0 0 auto;
}
