.Categories {
  &__items {
    display: flex;
    flex-wrap: wrap;
    // !important: overwrite padding of .content__main-view
    padding-right: 0 !important;
  }

  &__category {
    flex: 1 0 220px;
    max-width: 500px;
    margin-bottom: 2rem;
    padding: .6rem 1rem;
    background: $bg-color-emphasis;
    border-radius: 10px;
    margin-right: 1rem;
  }

  &__sub-categories {
    margin-left: 2.3rem;
  }

  &__sub-category {
    margin-top: .5rem;
  }

  &__category,
  &__sub-category  {
    &__name {
      display: flex;
      align-items: center;
      min-height: 2.2rem;
      font-size: 1.2rem;
      color: $text-base-color;

      .fas {
        margin-right: .6rem;
        font-size: 1.3rem;
      }
    }

    &__actions {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 110px;
    }
  }

  &__edit-button {
    padding: 4px 8px;
    margin-left: .5rem;
    transition: visibility 10ms;

    .fas {
      margin: 0;
      font-size: 1rem;
    }
  }

  &__add-link {
    display: block;
    margin-top: .5rem;

    &:hover {
      color: $link-hover-color;
    }
  }
}

@media(min-width: $screen-mobile) {
  .Categories {
    &__category {
      margin-right: 2rem;
    }
  }
}

@media(min-width: $screen-desktop) {
  .Categories {
    &__edit-button,
    &__link-button {
      visibility: hidden;
    }

    &__category {
      margin-right: 2.5rem;
    }

    &__category,
    &__sub-category {
      &__name:hover {
        .Categories__edit-button,
        .Categories__link-button {
          visibility: visible;
        }
      }
    }
  }
}
