@use '~@/themes/default/style/globals';

.EventDetailsTechnicians {
    font-size: 1.1rem;

    &__nobody {
        color: globals.$text-danger-color;
    }

    &__list {
        &__label {
            margin-right: globals.$spacing-thin;

            &__icon {
                width: 30px;
                margin-right: globals.$spacing-thin;
                text-align: center;
            }
        }

        &__item {
            color: #fff;

            & + & {
                padding-left: globals.$spacing-thin;

                &::before {
                    content: '|';
                    margin-right: globals.$spacing-thin;
                    color: globals.$text-base-color;
                }
            }
        }
    }
}
