.EventMiniSummary {
    position: relative;
    padding: 1rem 0.8rem;
    border: 1px solid $text-muted-color;
    border-radius: 8px;
    color: $text-nav-color;
    text-align: center;

    &__not-saved {
        position: absolute;
        color: $text-warning-color;
    }

    &__title {
        font-size: 1.1rem;
        font-weight: 800;
    }

    &__detail,
    &__total {
        margin-top: 0.8rem;
        line-height: 1.4rem;
        text-transform: capitalize;
    }

    &__total {
        color: $text-base-color;
        font-size: 1.4rem;
    }

    &--not-saved {
        border-color: $text-warning-color;
    }

    &--confirmed {
        .fa-check {
            color: $text-success-color;
        }
    }
}
