@use '~@/themes/default/style/globals';

.Categories {
    @extend %reset-list;

    display: flex;
    flex-direction: column;
    height: 100%;

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-mobile) {
        flex-flow: row wrap;

        &__item {
            flex: 1 0 350px;
        }
    }
}
