@use '~@/themes/default' as theme;
@use 'sass:math';

.FormField {
    flex: 1;

    &__label {
        display: block;
        padding: math.div(theme.$input-padding-vertical, 1.8) 0;

        &__required {
            color: theme.$text-danger-color;
        }
    }

    &__input-wrapper {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
    }

    &__input,
    &__textarea,
    &__datepicker {
        width: 90%;
    }

    &__addon {
        display: inline-block;
        min-width: 2.7rem;
        padding: theme.$input-padding-vertical theme.$input-padding-horizontal;
        border: theme.$input-border-size solid theme.$bg-color-input-normal;
        border-left: 0;
        border-radius: 0 theme.$input-border-radius theme.$input-border-radius 0;
        background-color: theme.$bg-color-input-normal;
        color: theme.$color-input;
    }

    &__textarea {
        min-height: 50px;
    }

    &__error {
        flex: 0 0 100%;
        margin-top: 0.3rem;
        color: theme.$text-danger-color;

        &__text {
            padding-left: theme.$form-label-width;
        }
    }

    &--with-addon {
        .FormField__input {
            display: inline-block;
            padding-right: 0;
            border-right: 0;
            border-radius: theme.$input-border-radius 0 0 theme.$input-border-radius;
        }
    }

    &--with-error {
        .FormField__input:not(:focus),
        .FormField__datepicker .mx-input:not(:focus),
        .FormField__select:not(:focus),
        .FormField__textarea:not(:focus),
        .FormField__addon {
            border-color: theme.$input-error-border-color;
        }
    }

    @media screen and (min-width: theme.$screen-tablet) {
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        align-items: center;

        &__label {
            flex: 0 0 theme.$form-label-width;
            padding: 0 theme.$input-padding-horizontal;
            text-align: right;
        }

        &__input,
        &__textarea,
        &__datepicker {
            flex: 1;
        }

        &__addon {
            flex: 0 0 auto;
        }
    }
}
