@use '~@/style/globals';

.CalendarCaption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 0.8;

    &__title {
        margin: 10px 0;
        color: globals.$text-light-color;
        font-weight: 400;
        text-align: center;
    }

    .Icon {
        margin-right: 5px;
    }

    .timeline-event {
        margin: 3px;
        padding: 7px 10px;
        border-radius: 5px;
        background-color: globals.$calendar-event-normal-color;
        color: globals.$calendar-event-text-color;
        font-size: 0.9rem;
        box-shadow: 1px 2px 3px rgba(#000, 0.5);
    }
}
