@use '~@/themes/default/style/globals';

.MaterialEditForm {
    $block: &;

    &__category {
        display: flex;
        margin: globals.$spacing-medium 0;

        #{$block}__main-category,
        #{$block}__sub-category {
            flex: 1;
            margin: 0;
        }

        &--with-sub-category {
            #{$block}__main-category,
            #{$block}__sub-category {
                width: 50%;
            }

            #{$block}__main-category {
                margin-right: 5px;
            }

            #{$block}__sub-category {
                margin-left: 5px;
            }
        }
    }

    &__park {
        display: flex;
        margin-top: globals.$spacing-medium;
        gap: 10px;

        #{$block}__park-selector {
            flex: 1;
            margin-top: 0;
        }
    }

    &__billing {
        display: flex;
        flex-direction: column;
        gap: globals.$spacing-medium;

        &__switches {
            display: flex;
            justify-content: space-around;
            gap: globals.$spacing-medium;

            &__item {
                // stylelint-disable-next-line declaration-no-important
                margin: 0 !important;
            }
        }

        &__parameters {
            display: flex;
            gap: globals.$spacing-medium;

            &__item {
                flex: 1;

                // stylelint-disable-next-line declaration-no-important
                margin: 0 !important;
            }
        }
    }

    &__quantities {
        display: flex;
        margin-top: globals.$spacing-medium;

        #{$block}__stock-quantity,
        #{$block}__out-of-order-quantity {
            flex: 1;
            width: 50%;
            margin: 0;
        }

        #{$block}__stock-quantity {
            margin-right: 5px;
        }

        #{$block}__out-of-order-quantity {
            margin-left: 5px;
        }
    }
}
