@import '../../../themes/default';

.TechnicianViewInfos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-bottom: 6rem;

  &__main {
    flex: 2;
    min-width: 250px;
    margin-right: 3rem;
  }

  &__actions {
    flex: 1;
    min-width: 120px;
    padding: 1rem 0 0;
  }

  &__name,
  &__reference {
    color: $text-base-color;
    margin-bottom: $content-padding-large-vertical;
  }

  &__section-title {
    margin: $content-padding-large-vertical 0 $content-padding-small-horizontal;
  }

  &__icon {
    margin-right: $content-padding-large-horizontal;
  }

  &__address,
  &__note,
  &__user {
    margin-top: 0;
    padding-left: $content-padding-large-vertical;
    color: $text-base-color;
  }

  &__note {
    white-space: pre-wrap;
  }

  @media screen and (min-width: $screen-tablet) {
    flex-direction: row;
    justify-content: flex-start;
  }
}
