@use '~@/style/globals';

.Progressbar {
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: globals.$input-border-radius;
    background: globals.$bg-color-tooltip;

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        border-radius: globals.$input-border-radius;
        background: globals.$bg-color-button-info;
        text-align: center;
    }
}
