.Progressbar {
    position: relative;
    height: 20px;
    width: 100%;
    background: $bg-color-tooltip;
    border-radius: $input-border-radius;

    &__progress {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: $bg-color-button-info;
        border-radius: $input-border-radius;
        text-align: center;
        overflow: hidden;
    }
}
