@use '~@/themes/default/style/globals';

.TechnicianViewInfos {
    color: globals.$text-base-color;

    &__name {
        margin: globals.$spacing-small 0 globals.$spacing-medium;
        font-size: 1.6rem;
    }

    &__main {
        display: flex;
        flex-direction: column;
        margin-bottom: globals.$spacing-medium;
        gap: globals.$spacing-large;

        &__contact,
        &__extras {
            flex: 1;
        }

        &__contact {
            padding-right: globals.$spacing-large;
        }
    }

    &__info {
        display: flex;
        align-items: baseline;
        margin: 0;
        padding: 5px 0;

        &__label {
            width: 150px;
            font-weight: 600;
        }

        &__value {
            flex: 1;
            margin: 0;
            line-height: 1.4;
            white-space: pre-line;
        }

        &__empty {
            color: globals.$text-light-color;
            font-style: italic;
        }
    }

    &__pseudo {
        &__at {
            color: globals.$text-soft-color;
        }
    }

    &__user-group {
        margin-left: globals.$spacing-thin;
        color: globals.$text-soft-color;
        text-transform: lowercase;
    }

    &__user-edit-button {
        margin-left: globals.$spacing-small;
    }

    &__roles {
        @extend %reset-list;

        display: flex;
        flex-wrap: wrap;
        gap: globals.$spacing-thin;

        &__item {
            overflow: hidden;
            max-width: 200px;
            padding: 0.3rem 1rem;
            border-radius: globals.$border-radius-large;
            background: globals.$bg-color-emphasis;
            text-overflow: ellipsis;
            white-space: nowrap;

            @include globals.icon('tools') {
                margin-right: 0.3rem;
            }
        }
    }

    //
    // - Responsive
    //

    @media screen and (min-width: globals.$screen-tablet) {
        &__main {
            flex-direction: row;
            justify-content: flex-start;
        }
    }
}
