@use '~@/themes/default/style/globals';

.TechnicianViewInfos {
    $icon-width: 25px;
    font-size: 1.1rem;

    &__name,
    &__reference {
        margin-bottom: globals.$spacing-large;
        color: globals.$text-base-color;
    }

    &__reference {
        @include globals.icon('hashtag') {
            width: $icon-width;
        }
    }

    &__email {
        @include globals.icon('at') {
            width: $icon-width;
        }
    }

    &__phone {
        @include globals.icon('phone') {
            width: $icon-width;
        }
    }

    &__section-title {
        margin: globals.$spacing-large 0 globals.$spacing-small;

        &--address {
            @include globals.icon('envelope') {
                width: $icon-width;
            }
        }

        &--notes {
            @include globals.icon('clipboard') {
                width: $icon-width;
            }
        }

        &--user {
            @include globals.icon('user') {
                width: $icon-width;
            }
        }

        &--preparer {
            @include globals.icon('dolly') {
                width: $icon-width;
            }
        }
    }

    &__address {
        white-space: pre-wrap;
    }

    &__address,
    &__note,
    &__user {
        margin-top: 0;
        padding-left: $icon-width;
        color: globals.$text-base-color;
    }

    &__note {
        white-space: pre-wrap;
    }

    @media screen and (min-width: globals.$screen-tablet) {
        flex-direction: row;
        justify-content: flex-start;
    }
}
