@use '~@/themes/default/style/globals';

.Totals {
    display: flex;
    align-items: flex-end;

    &__infos,
    &__billing {
        flex: 1;
    }

    &__infos {
        display: flex;
        flex-direction: column;
        gap: globals.$spacing-small;

        &__item {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    &__billing {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: globals.$spacing-small;

        &__line {
            $line: &;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.1rem;

            &__title {
                width: 240px;
                margin-right: 5px;
            }

            &__price {
                width: 120px;
                text-align: right;
            }

            &--grand-total {
                #{$line}__title,
                #{$line}__price {
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }

            &--secondary {
                color: globals.$text-light-color;
            }
        }
    }
}
