@use '~@/themes/default/style/globals';
@use 'sass:color';

.EventDetailsReturnSummary {
    margin-bottom: globals.$content-padding-large-horizontal;
    padding-bottom: globals.$content-padding-large-vertical;
    border-bottom: 1px solid globals.$divider-color;
    text-align: center;

    &__title {
        color: globals.$text-danger-color;
        font-size: 1.3rem;
    }

    &__link {
        display: inline-block;
        padding: 0.55rem 0.78rem;
        border: none;
        border-radius: 2px;
        background-color: globals.$bg-color-button-info;
        // stylelint-disable-next-line declaration-no-important
        color: globals.$color-base-button !important;
        font-size: 1rem;
        line-height: 1.25;
        cursor: pointer;

        &:hover,
        &:focus {
            outline: 0;
            background-color: color.adjust(globals.$bg-color-button-info, $lightness: 8%);
            color: globals.$color-hover-button;
        }
    }

    &__all-ok {
        margin-bottom: globals.$content-padding-large-horizontal;
        color: globals.$text-success-color;
        font-size: 1.1rem;
    }

    &__list {
        padding: 0;
        text-align: left;
    }
}
