@use '~@/style/globals';

.MaterialsCategoryItem {
    padding: 0 0.5rem;

    &__title {
        margin: 0 0 0.5rem;
        font-size: 1.2rem;
    }

    &__list {
        margin: 0 0 0.5rem;
        padding: 0;
    }

    &__material,
    &__subtotal {
        display: flex;
        list-style: none;

        &__name {
            flex: 1;
        }

        &__price {
            flex: 0 0 auto;
            margin-left: 0.8rem;
            color: globals.$text-light-color;
            text-align: right;
        }
    }

    &__material {
        padding: 0.7rem 0;
        border-bottom: 1px dashed globals.$list-left-border-color;

        &__quantity {
            flex: 0 0 3rem;
            margin: 0 0.8rem;

            .fa-times {
                margin-right: 0.2rem;
                color: globals.$text-light-color;
                font-size: 0.8rem;
            }
        }

        &__total {
            flex: 0 0 5rem;
            margin-left: 0.8rem;
            text-align: right;
        }
    }

    &__subtotal {
        padding: 0.5rem 0 0;
        font-size: 1.1rem;

        &__name {
            color: globals.$text-light-color;
            text-align: right;
        }

        &__price {
            flex: 0 0 auto;
            color: globals.$text-base-color;
            font-weight: 600;
        }
    }
}
