@use '~@/themes/default/style/globals';

.EventReturnFooter {
    padding: globals.$spacing-medium 0;
    background-color: globals.$bg-color-body;
    text-align: center;

    &__done {
        display: inline-block;
        padding: globals.$spacing-medium globals.$spacing-large;
        color: globals.$text-success-color;
    }

    &__warning {
        margin-top: globals.$spacing-medium;
        color: globals.$text-warning-color;
        font-size: 1.1rem;
    }
}
