{% extends "errors/base.twig" %}

{% block title %}La licence Robert2&nbsp;/&nbsp;Loxya est invalide{% endblock %}

{% block content %}
    <p>
        Pour pouvoir utiliser Robert2&nbsp;/&nbsp;Loxya, <strong>l'installation doit disposer d'une licence valide</strong>. Il est possible d'en
        acquérir une via le <a href="https://robert2.org">site de Robert2&nbsp;/&nbsp;Loxya</a> ou bien en nous contactant
        directement à l'adresse <a href="mailto:contact@loxya.com">contact@loxya.com</a>.
    </p>
    <p>
        Si une licence a été souscrite et que cette erreur survient quand même, assurez-vous que cette
        installation utilise bien les fichiers qui ont été fournis. Ceux-ci sont spécifiques à chaque installation de Robert2.
        <br /><br />
        Si malgré tout vous n'arrivez pas à faire fonctionner cette installation, veuillez contacter directement le
        support Robert2&nbsp;/&nbsp;Loxya à l'adresse <a href="mailto:support@loxya.com">support@loxya.com</a>.
    </p>
{% endblock %}