{% extends "errors/base.twig" %}

{% block title %}Impossible de vérifier la licence{% endblock %}

{% block content %}
    <p>Impossible de vérifier la licence car aucune connexion internet n'est disponible.</p>
    <p>
        S'il s'avère qu'il n'y a pas de souci à ce niveau et que l'erreur survient quand même, veuillez contacter
        directement le support Robert2&nbsp;/&nbsp;Loxya à l'adresse <a href="mailto:support@loxya.com">support@loxya.com</a>.
    </p>
{% endblock %}