{% extends "errors/base.twig" %}

{% block title %}Une erreur s'est produite avec la licence Robert2&nbsp;/&nbsp;Loxya{% endblock %}

{% block content %}
    <p>
        Veuillez contacter le support à l'adresse <a href="mailto:support@loxya.com">support@loxya.com</a>
        en spécifiant le code de l'erreur ({{ code }}).
    </p>
{% endblock %}