@import '../../themes/default/index';

.CompanyForm {
  min-width: $form-min-width;
  max-width: $form-max-width;
  margin-right: 1rem;

  &__phone .FormField__input {
    max-width: 120px;
  }

  &__postal-code .FormField__input {
    max-width: 70px;
  }

  &__notes {
    .FormField__label {
      align-self: flex-start;
      padding-top: .6rem;
    }

    .FormField__textarea {
      min-height: 120px;
    }
  }
}
