@import '../../themes/default/index';

.CompanyForm {
    max-width: $form-max-width;
    min-width: $form-min-width;
    margin-right: 1rem;

    &__phone .FormField__input {
        max-width: 120px;
    }

    &__postal-code .FormField__input {
        max-width: 70px;
    }

    &__notes {
        .FormField__label {
            padding-top: 0.6rem;
            align-self: flex-start;
        }

        .FormField__textarea {
            min-height: 120px;
        }
    }
}
