@use '~@/themes/default/style/globals';

.Page--calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Calendar {
        flex: 1;
    }
}

.Calendar {
    display: flex;
    flex-direction: column;

    &__timeline {
        flex: 1;
    }

    &__footer {
        flex: 0 0 50px;
        display: flex;
        flex-wrap: wrap;

        &__help {
            flex: 1;
            min-width: 300px;
            padding: globals.$content-padding-small-vertical globals.$content-padding-small-horizontal;
            white-space: pre-line;
        }

        .CalendarCaption {
            flex: 0 0 auto;
            max-width: 100%;
        }
    }
}
