.ParkSelector {
  font-size: 1.2rem;
  text-align: center;

  &__empty {
    text-align: center;
    font-size: 1.4rem;

    &__message {
      display: block;
    }

    &__button {
      margin-top: 10px;
      font-size: 1.2rem !important;
      padding: .75rem 1.4rem !important;

      > i {
        margin-right: .6rem;
      }
    }
  }
}
