.ParkSelector {
    font-size: 1.2rem;
    text-align: center;

    &__empty {
        font-size: 1.4rem;
        text-align: center;

        &__message {
            display: block;
        }

        &__button {
            margin-top: 10px;
            // stylelint-disable declaration-no-important
            padding: 0.75rem 1.4rem !important;
            font-size: 1.2rem !important;
            // stylelint-enable declaration-no-important

            &__icon {
                margin-right: 0.6rem;
            }
        }
    }
}
