@use '~@/themes/default/style/globals';

.EventDepartureInventory {
    &__summary {
        margin: 0;
        margin-bottom: globals.$spacing-large;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;

        &::after {
            content: '';
            display: block;
            width: 60%;
            height: 1px;
            margin: globals.$spacing-medium auto;
            background-color: globals.$divider-color;
        }
    }

    &__complete {
        margin-top: globals.$spacing-large;
        color: globals.$text-success-color;
        font-size: 1.2rem;
        text-align: center;
        white-space: pre-line;
    }
}
