@use '~@/themes/default/style/globals';

.EventDepartureInventory {
    &__summary {
        margin-bottom: globals.$spacing-large;

        &::after {
            content: '';
            display: block;
            width: 60%;
            height: 1px;
            margin: globals.$spacing-medium auto;
            background-color: globals.$divider-color;
        }

        &__message {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: globals.$spacing-small;

            &__text {
                margin: 0;
                color: #fff;
                font-size: 1.1rem;
                font-weight: 600;
                text-align: center;
            }
        }
    }

    &__complete {
        margin-top: globals.$spacing-large;
        color: globals.$text-success-color;
        font-size: 1.2rem;
        text-align: center;
        white-space: pre-line;
    }
}
