@use '~@/themes/default/style/globals';

.EventDetailsHeader {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: globals.$bg-color-emphasis;
    gap: globals.$spacing-medium;

    &__icon {
        font-size: 2rem;

        &--warning {
            color: globals.$text-danger-color;
        }
    }

    &__title {
        flex: 1;
        color: globals.$text-soft-color;

        &__primary {
            @include globals.line-clamp(2);

            margin: 0;
            color: globals.$text-base-color;
            font-size: 1.4rem;
            font-weight: 600;
            word-break: break-word;
        }

        &__secondary {
            margin: 0;
            color: globals.$text-soft-color;
            font-size: 1.2rem;
        }

        &__in-progress {
            margin-left: globals.$spacing-small;
            color: globals.$text-success-color;
            font-size: 1.1rem;
        }
    }

    &__actions {
        display: flex;
        gap: globals.$spacing-small;
    }

    &__close-button {
        flex: 0 0 auto;
    }
}
