@use '~@/themes/default/style/globals';
@use 'sass:math';
@use 'sass:color';

.Technicians {
    $block: &;

    display: flex;
    flex-direction: column;
    height: 100%;

    &__filters {
        position: absolute;
        z-index: 1;
        left: globals.$table-search-input;
        right: calc(#{globals.$spacing-large} + 45px + #{globals.$spacing-medium});
        flex: none;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: math.div(globals.$spacing-medium, 2);

        &__period {
            width: 235px;
        }

        &__clear-button {
            margin-left: globals.$spacing-small;
        }
    }

    &__table {
        flex: 1;
    }

    &:not(&--trashed) {
        #{$block}__row {
            cursor: pointer;

            &:hover > #{$block}__cell {
                background-color: color.adjust(globals.$bg-color-table-td, $lightness: 5%);
            }
        }
    }

    &__cell {
        &__empty {
            color: globals.$text-light-color;
            font-style: italic;
        }

        &--nickname,
        &--email,
        &--schedule-access,
        &--address,
        &--note {
            display: none;
        }

        &--address {
            white-space: pre-line;
        }

        &--schedule-access {
            // - Important pour surcharger la définition du <th> de `.VueTables`.
            // stylelint-disable-next-line declaration-no-important
            text-align: center !important;
        }

        &--note {
            max-width: 200px;
            white-space: pre-line;
        }

        //
        // - Responsive
        //

        @media (min-width: globals.$screen-tablet) {
            &--email {
                display: table-cell;
            }
        }

        @media (min-width: globals.$screen-desktop) {
            &--nickname,
            &--schedule-access {
                display: table-cell;
            }
        }

        @media (min-width: globals.$screen-big-desktop) {
            &--address,
            &--note {
                display: table-cell;
            }
        }
    }
}
