// -----------------------------------------
// -
// - Text sizes
// -
// -----------------------------------------

$base-font-size: 13px;

// -----------------------------------------
// -
// - Nav sizes
// -
// -----------------------------------------

$side-nav-width: 50px;
$side-nav-full-width: 130px;
$side-nav-font-size: 1rem;
$side-nav-icon-size: 1.5rem;
$main-header-height: 50px;
$main-header-dropdown-width: 180px;

// -----------------------------------------
// -
// - Spacing
// -
// -----------------------------------------

$content-padding-small-horizontal: .5rem;
$content-padding-small-vertical: 1rem;
$content-padding-large-horizontal: 1rem;
$content-padding-large-vertical: 2rem;

// -----------------------------------------
// -
// - Forms and inputs sizes
// -
// -----------------------------------------

$form-min-width: 200px;
$form-max-width: 600px;
$form-label-width: 140px;

$input-padding-horizontal: 10px;
$input-padding-vertical: 9px;
$input-border-size: 1px;
$input-border-radius: 4px;

$input-font-size: 1rem;

// -----------------------------------------
// -
// - Screens sizes variables
// -
// -----------------------------------------

$screen-mobile: 580px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-big-desktop: 1400px;
