@use '~@/themes/default/style/globals';
@use './variables' as *;

.EmptyMessage {
    $block: &;

    padding: globals.$spacing-large;
    color: $color;
    font-size: 1.1rem;
    text-align: center;

    &__illustration {
        display: block;
        width: 9rem;
        margin: 0 auto;
    }

    &__message {
        margin: globals.$spacing-small 0 0;
        white-space: pre-line;
    }

    &__action {
        margin-top: globals.$spacing-small;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        &:not(&--small) {
            font-size: 1.2rem;
        }
    }

    @media (min-width: globals.$screen-desktop) {
        &:not(&--small) {
            font-size: 1.4rem;

            #{$block}__illustration {
                width: 12rem;
            }

            #{$block}__message {
                margin-top: globals.$spacing-medium;
            }
        }

        &--small {
            font-size: 1.2rem;
        }
    }
}
