@use 'sass:color';
@use '~@/themes/default/style/globals';

/// Couleur de fond du notepad.
/// @type Color
$background-color: rgba(51, 51, 51, 0.65) !default;

/// Couleur du texte du notepad.
/// @type Color
$color: globals.$color-input !default;

/// Border-radius du notepad.
/// @type Color
$border-radius: globals.$border-radius-normal !default;

/// Nombre de lignes à afficher par défaut dans le notepad.
/// @type Number
$rows: 8 !default;

/// Taille de la police dans le notepad.
/// @type Number
$font-size: 15px !default;

/// Hauteur de chaque ligne (en pixels).
/// @type Number
$line-height: 33px !default;

/// Épaisseur de la ligne de guide en bas de chaque ligne.
/// @type Number
$line-rule-width: 1px !default;

/// Couleur de la ligne de guide en bas de chaque ligne.
/// @type Color
$line-rule-color: rgba(255, 255, 255, 0.11) !default;

//
// - Désactivé.
//

/// Couleur de fond du notepad lorsqu'il est désactivé.
/// @type Color
$disabled-background-color: color.adjust($background-color, $lightness: -8%) !default;

/// Couleur du texte du notepad lorsqu'il est désactivé.
/// @type Color
$disabled-color: color.adjust($color, $lightness: -30%, $alpha: -0.2) !default;

/// Couleur de la ligne de guide en bas de chaque ligne lorsque le notepad est désactivé.
/// @type Color
$disabled-line-rule-color: color.adjust($line-rule-color, $lightness: -30%, $alpha: -0.05) !default;
