@use './variables' as *;
@use '~@/themes/default/style/globals';

.Notepad {
    $block: &;

    //
    // - Custom properties
    //

    --notepad-rows: var(--Notepad--rows, #{$rows});

    //
    // - Règles
    //

    padding: 15px 15px $line-height;
    border-radius: $border-radius;
    background: $background-color;
    color: $color;

    &__input {
        width: 100%;
        min-height: calc(var(--notepad-rows) * #{$line-height});
        padding: 0 5px;
        border: none;
        background-color: transparent;
        background-size: auto $line-height;
        background-attachment: local;
        color: inherit;
        font-size: $font-size;
        line-height: $line-height;
        resize: none;

        // stylelint-disable-next-line declaration-colon-newline-after, order/properties-order
        background-image: linear-gradient(
            transparent,
            transparent calc(#{$line-height} - #{$line-rule-width}),
            $line-rule-color calc(#{$line-height} - #{$line-rule-width}),
        );

        &:focus,
        &:disabled {
            border-color: none;
            background-color: transparent;
            color: inherit;
        }
    }

    //
    // - Désactivé.
    //

    &--disabled {
        background-color: $disabled-background-color;
        color: $disabled-color;

        #{$block}__input {
            cursor: not-allowed;

            // stylelint-disable-next-line declaration-colon-newline-after, order/properties-order
            background-image: linear-gradient(
                transparent,
                transparent calc(#{$line-height} - #{$line-rule-width}),
                $disabled-line-rule-color calc(#{$line-height} - #{$line-rule-width}),
            );
        }
    }
}
