@import '../../themes/default/index';

.Dropdown {
  position: relative;
  align-self: stretch;

  &__button,
  &__item  {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 0 $content-padding-small-vertical;
    border-radius: 2px;
    transition: all 300ms;
  }

  &__button {
    height: 100%;
    background-color: $bg-color-button-default;
    color: $color-base-button;

    &__icon {
      font-size: 1.2rem;
    }

    &__text {
      display: inline-block;
    }

    &__chevron {
      margin-left: 5px;
    }

    &:hover {
      background-color: lighten($bg-color-button-default, 8%);
      color: $color-hover-button;
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: $dropdown-min-width;
    z-index: 2;
    background: $bg-color-dropdown-menu;
    box-shadow: -2px 6px 6px rgba(0, 0, 0, 0.25);
    transform-origin: 50% 0%;
    transform: scaleY(0);
    transition: transform 150ms ease-in-out;

    &__title {
      margin: 0;
      padding: $content-padding-small-vertical $content-padding-small-horizontal;
      text-align: center;
      font-size: 1.2rem;
      text-transform: capitalize;
    }

    &__items {
      margin: 0;
      padding: 0;

      .fas {
        font-size: $side-nav-icon-size;
        margin-right: $content-padding-small-vertical;
      }
    }
  }

  &__item {
    flex: 0 0 auto;
    list-style: none;
    padding: $content-padding-large-horizontal $content-padding-small-vertical;
    color: $text-base-color !important;

    &:hover {
      background-color: $bg-color-dropdown-menu-item-hover;
      color: $link-hover-color !important;
    }

    &--active,
    &--active:hover {
      background-color: $bg-color-dropdown-menu-item-active;
      color: $link-active-color !important;
    }
  }

  &--open {
    .Dropdown{
      &__menu {
        transform: none;
      }

      &__button {
        background-color: lighten($bg-color-button-default, 15%);
      }
    }
  }

  @media(min-width: $screen-mobile) {
    &__menu__title {
      display: none;
    }
  }
}
