## Prohibit autoindex
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    ## Restrict access to `var/`, `vendor/` folders
    RewriteRule ^var/(.*)?$ / [F,L]
    RewriteRule ^vendor/(.*)?$ / [F,L]

    ## Redirect all requests to `public/` folder
    RewriteRule ^$ public/ [QSA,NC,L]
    RewriteRule ^(.*)$ public/$1 [QSA,NC,L]
</IfModule>
