@import '../../../themes/default';

.EventStep5 {
  $info-spacing: 1.5rem;

  .EventOverview {
    margin-bottom: $info-spacing;
  }

  .EventMissingMaterials {
    border-bottom: 1px solid $list-left-border-color;
  }

  &__confirmation {
    padding-bottom: $info-spacing;
    margin-bottom: $info-spacing;
    border-bottom: 1px solid $list-left-border-color;

    &__icon {
      margin-right: $content-padding-small-horizontal;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0 0 $info-spacing;
      color: $text-base-color;
    }

    &__help {
      margin-bottom: $info-spacing;
      color: $text-warning-color;

      &--confirmed {
        color: $text-success-color;
      }
    }
  }
}
