.EventStep5 {
  $info-spacing: 1.5rem;

  .EventOverview {
    margin-bottom: $info-spacing;
  }

  .EventMissingMaterials {
    border-bottom: 1px solid $list-left-border-color;
  }

  &__confirmation {
    padding-bottom: $info-spacing;
    margin-bottom: $info-spacing;
    border-bottom: 1px solid $list-left-border-color;

    .fas {
      margin-right: .3rem;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0 0 $info-spacing;
      color: $text-base-color;
    }

    &__help {
      margin-bottom: $info-spacing;
      color: $text-warning-color;

      p {
        margin: 0;
        padding-right: .5rem;
        line-height: 1.4;
      }

      &--confirmed {
        color: $text-success-color;
      }
    }

    &__actions {
      &__print {
        flex: 0 0 auto;
        display: inline-block;
        margin-left: 5px;
        padding: .55rem .78rem;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        background-color: $bg-color-button-default;
        color: $color-base-button;
        line-height: 1.25;
        font-size: 1rem;
        transition: all 300ms;

        &:hover, &:focus, &:visited {
          background-color: lighten($bg-color-button-default, 8%);
          color: $color-hover-button;
          outline: 0;
        }

        &:active {
          background-color: darken($bg-color-button-default, 8%);
        }
      }
    }
  }
}
