@use '~@/themes/default/style/globals';
@use 'sass:color';

.BeneficiaryViewBookingsItem {
    $block: &;

    display: flex;
    align-items: center;
    margin-bottom: globals.$spacing-small;
    padding: globals.$spacing-small 0;
    border-radius: globals.$input-border-radius;
    background-color: globals.$bg-color-table-th;
    color: globals.$text-soft-color;
    list-style: square;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
        background-color: globals.$bg-color-table-td;
    }

    &__booking {
        flex: 1;
        display: flex;
        align-items: center;
        overflow: hidden;
        min-width: 0;
        margin: 0 25px 0 15px;

        &__icon {
            margin-right: 15px;
            font-size: 1.2rem;
            text-align: center;
        }

        &__infos {
            flex: 1;
            min-width: 0;
        }

        &__title {
            @include globals.line-clamp(2);

            margin: 0;
            color: globals.$text-base-color;
        }

        &__periods {
            display: inline-flex;
            flex-wrap: wrap;
            width: 100%;
            color: color.adjust(globals.$text-base-color, $lightness: -5%);
            gap: 0 globals.$spacing-small;

            &__item {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &::before {
                    margin-right: globals.$spacing-thin;
                }

                &__duration {
                    margin-left: 5px;
                }

                //
                // - Variantes.
                //

                &--operation {
                    @include globals.icon('calendar-alt');
                }

                &--mobilization {
                    @include globals.icon('clock');
                }
            }
        }
    }

    &__readable-state {
        flex: 0 0 310px;
        padding: 0 globals.$spacing-medium;
        text-align: left;
    }

    &__actions {
        padding: 0 globals.$spacing-medium;
    }

    //
    // - États.
    //

    &--current,
    &--future {
        color: globals.$text-base-color;
        opacity: 1;
    }

    &--future {
        #{$block}__booking__title {
            color: globals.$link-base-color;
        }

        #{$block}__readable-state {
            @include globals.icon('binoculars') {
                margin-right: 0.5rem;
            }
        }
    }

    &--future + &:not(#{$block}--future) {
        margin-top: globals.$spacing-large;
    }

    &--current {
        background-color: #7a2b0d;

        #{$block}__readable-state {
            @include globals.icon('sign-out-alt') {
                margin-right: 0.5rem;
            }
        }

        &:hover {
            background-color: #913410;
        }
    }

    &--warning {
        #{$block}__booking__icon {
            color: globals.$text-danger-color;
        }
    }
}
