@use '~@/themes/default/style/globals';

.EventStep5 {
    $spacing: 1.5rem;

    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;

    .EventStep5Overview {
        margin-bottom: $spacing;
    }

    .EventMissingMaterials {
        border-bottom: 1px solid globals.$list-left-border-color;
    }

    &__confirmation {
        margin-bottom: $spacing;
        padding-bottom: $spacing;
        border-bottom: 1px solid globals.$list-left-border-color;

        &__icon {
            margin-right: globals.$spacing-small;
        }

        &__title {
            margin: 0 0 $spacing;
            color: globals.$text-base-color;
            font-size: 1.2rem;
            font-weight: 600;
        }

        &__help {
            margin-bottom: $spacing;
            color: globals.$text-warning-color;

            &--confirmed {
                color: globals.$text-success-color;
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
    }
}
