@use '~@/themes/default/style/globals';

.EventStep5 {
    $spacing: 1.5rem;

    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;

    &__confirmation {
        margin-top: globals.$spacing-large;
        padding: globals.$spacing-large;
        border-radius: globals.$border-radius-normal;
        background: globals.$bg-color-emphasis-light;

        &__title {
            margin: 0 0 globals.$spacing-small;
            color: globals.$text-base-color;
            font-size: 1.4rem;
            font-weight: 600;
        }

        &__help {
            margin-bottom: globals.$spacing-medium;
            color: globals.$text-warning-color;
            font-size: 1.1rem;

            &--confirmed {
                color: globals.$text-success-color;
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        margin-top: globals.$spacing-large;
        padding-top: globals.$spacing-large;
        border-top: 1px solid globals.$divider-color;
        gap: globals.$spacing-small;

        &__right {
            display: flex;
            gap: globals.$spacing-small;
        }
    }
}
