@import '../../themes/default/index';

$default-color: $text-base-color;
$primary-color: $link-base-color;

$border-color: $bg-color-input-normal;

$input-border-color: $bg-color-input-normal;
$input-color: $color-input;
$input-hover-border-color: $bg-color-input-normal;

$calendar-hover-color: $text-base-color;
$calendar-hover-background-color: $calendar-time-cursor-color;
$calendar-in-range-color: $text-base-color;
$calendar-in-range-background-color: $calendar-time-cursor-color;
$time-hover-color: $text-base-color;
$time-hover-background-color: $calendar-time-cursor-color;

@import '~vue2-datepicker/scss/index';

.#{$namespace} {
    &-calendar {
        min-width: 310px;
    }

    &-range-wrapper &-calendar {
        min-width: 250px;
    }

    &-input {
        height: auto;
        padding: $input-padding-vertical $input-padding-horizontal;
        background-color: $bg-color-input-normal;
        font-size: $input-font-size;
        line-height: 1.2;
        box-shadow: none;

        &:focus {
            border-color: $input-focus-border-color;
        }
    }

    &-icon-calendar,
    &-icon-clear {
        color: $text-nav-color;
    }

    &-datepicker-main {
        background-color: $bg-color-input-normal;
    }

    &-time {
        background-color: $bg-color-input-normal;
    }

    &-table-date {
        .cell.not-current-month {
            color: $text-nav-color;
        }

        .cell.disabled {
            color: $text-muted-color;
            background-color: $bg-color-input-normal;
        }
    }
}
