@use '~@/themes/default/style/globals';
@use 'sass:color';

.MaterialViewDocumentsItem {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    padding: 0;
    border-radius: globals.$input-border-radius;
    background: globals.$bg-color-emphasis;
    color: globals.$text-base-color;
    list-style: none;

    &__link {
        flex: 1;
        display: flex;
        align-items: center;
        padding: globals.$content-padding-small-vertical;
        color: globals.$text-base-color;
    }

    &__icon {
        margin-right: globals.$content-padding-small-vertical;
        font-size: 1.8rem;
    }

    &__size {
        flex: 0 0 auto;
        margin-right: globals.$content-padding-small-vertical;
        color: globals.$text-light-color;
    }

    &__actions {
        flex: 0 0 auto;
        padding-right: globals.$content-padding-small-vertical;
    }
}
