@use '~@/style/globals';

.CompanyEditForm {
    $block: &;

    &__locality {
        display: flex;
        margin: globals.$content-padding-small-vertical 0;

        #{$block}__postal-code {
            flex: unset;
            width: 120px;
        }

        #{$block}__city {
            /* stylelint-disable declaration-no-important -- Pour surcharger `.FormField`. */
            flex: 1 !important;
            margin: 0 0 0 10px !important;
            /* stylelint-enable declaration-no-important -- Pour surcharger `.FormField`. */
        }
    }

    &__notes {
        .FormField__textarea {
            min-height: 120px;
        }
    }
}
