@use '~@/style/globals';

// - Les !important sont là pour surcharger le style injecté par VueTables sur les tds.
/* stylelint-disable declaration-no-important */
.MaterialsListEditorUnit {
    user-select: none;
    cursor: pointer;

    &__col {
        padding: 0.8rem 0.45rem !important;
        border: 0 !important;
        background: rgba(0, 0, 0, 0.2) !important;
        color: inherit !important;

        &:first-child {
            padding-left: 1rem !important;
            border-top-left-radius: 0.8rem;
            border-bottom-left-radius: 0.8rem;
        }

        &:last-child {
            padding-right: 1rem !important;
            border-top-right-radius: 0.8rem;
            border-bottom-right-radius: 0.8rem;
        }

        //
        // - Colonnes
        //

        &--selector {
            width: 5rem;
        }

        &--is-broken,
        &--is-lost {
            width: 100px;
            color: globals.$text-light-color !important;
            text-align: center;
        }

        &--park,
        &--state {
            width: 20%;
        }
    }

    //
    // - États
    //

    &--broken {
        .MaterialsListUnit__col--is-broken {
            color: globals.$text-warning-color !important;
            font-weight: 600;
        }
    }

    &--lost {
        .MaterialsListUnit__col {
            &--reference {
                color: globals.$text-danger-color !important;
            }

            &--is-lost {
                color: globals.$text-danger-color !important;
                font-weight: 600;
            }
        }

        &.MaterialsListUnit--selected {
            .MaterialsListUnit__col {
                border-top: 1px solid globals.$text-danger-color !important;
                border-bottom: 1px solid globals.$text-danger-color !important;

                &:first-child {
                    border-left: 1px solid globals.$text-danger-color !important;
                }

                &:last-child {
                    border-right: 1px solid globals.$text-danger-color !important;
                }
            }
        }
    }

    &--unavailable {
        opacity: 0.3;

        &:not(.MaterialsListUnit--selected) {
            cursor: default;
        }
    }

    &--selected {
        opacity: 1 !important;

        .MaterialsListUnit__col {
            background: rgba(0, 0, 0, 0.4) !important;
        }
    }
}
/* stylelint-enable declaration-no-important */
