@use '~@/style/globals';

.EventSummarySettings {
    &__section {
        margin-top: globals.$content-padding-large-vertical;

        .FormField {
            &__textarea {
                min-height: 200px;
            }

            + .FormField {
                margin-top: globals.$content-padding-small-vertical;
            }

            @media screen and (min-width: globals.$screen-tablet) {
                $label-width: 200px;

                &__label {
                    flex-basis: $label-width;
                }

                &__help,
                &__error__text {
                    padding-left: $label-width;
                }
            }
        }
    }

    &__actions {
        margin-top: globals.$content-padding-large-vertical;
        text-align: center;
    }
}
