@use '~@/themes/default/style/globals';

.AssignTagsHeader {
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    background-color: globals.$bg-color-main-header;

    &__title {
        flex: 1;
        margin: 0;
        color: globals.$text-base-color;
        font-size: 1.1rem;
        font-weight: 800;
    }

    .close {
        flex: 0 0 auto;
        border: none;
        background: none;
    }
}
