@use '~@/themes/default/style/globals';

.EventReturnInventory {
    &__missing,
    &__not-saved,
    &__all-returned,
    &__has-broken {
        margin-bottom: globals.$content-padding-large-horizontal;
        font-size: 1.2rem;
        text-align: center;
    }

    &__not-saved,
    &__all-returned,
    &__has-broken {
        margin-top: globals.$content-padding-large-vertical;
    }

    &__not-saved {
        color: globals.$text-warning-color;
    }

    &__all-returned {
        color: globals.$text-success-color;
        white-space: pre-line;
    }

    &__missing {
        color: globals.$text-danger-color;
    }

    &__has-broken {
        color: globals.$text-warning-color;
    }
}
