.Page--user-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .UserEdit {
        flex: 1;
        align-self: center;
    }
}

.UserEdit {
    width: 600px;
    max-width: 100%;
}
