@use '~@/themes/default/style/globals';
@use 'sass:color';

.Login {
    &__message {
        padding: 20px;
        background-color: globals.$bg-color-emphasis;
        font-size: 1.2rem;
        text-align: center;

        &--default {
            color: globals.$text-light-color;
        }

        &--error {
            color: globals.$text-danger-color;
        }

        &--success {
            color: globals.$text-success-color;
        }
    }

    &__body {
        padding: 30px 20px;
    }

    &__divider {
        position: relative;
        display: block;
        margin: 35px 0;
        border-top: 1px solid #333;
        line-height: 1px;
        text-align: center;

        &__label {
            padding: 0 20px;
            background: globals.$bg-color-body;
            font-size: 0.9rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    &__button {
        display: block;
        min-width: 280px;
        padding: 1.2rem 2rem 1rem;
        border: none;
        border-radius: 30px;
        background: #eee;
        /* stylelint-disable-next-line declaration-no-important */
        color: globals.$bg-color-body !important;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.25;
        letter-spacing: 0.07rem;
        cursor: pointer;
        transition: all 300ms;

        &:hover,
        &:focus {
            outline: 0;
            background-color: #fff;
        }

        &:active {
            background-color: #dadada;
        }
    }

    &__form {
        $element-vertical-padding: 10px;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;

        &__input {
            width: 200px;
            margin-right: 10px;
            margin-bottom: 1rem;
            padding: $element-vertical-padding 15px;
        }

        &__submit {
            // stylelint-disable-next-line declaration-no-important -- Overwrite the .Button definition.
            padding: $element-vertical-padding 14px !important;
        }

        @media (min-width: 600px) {
            flex-flow: row nowrap;
            justify-content: center;

            &__input {
                margin-bottom: 0;
            }
        }
    }
}
