<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # - Fait fonctionner l'authentification sur php-fcgi, même si
    #   l'en-tête `Authorization` n'est pas supporté.
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    # - Redirige toutes les requêtes vers `index.php`.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
