@use '~@/themes/default/style/globals';
@use 'sass:color';

.DefaultLayoutHeaderDropdown {
    $block: &;

    position: relative;
    align-self: stretch;

    &__button {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 globals.$spacing-medium;
        background-color: globals.$bg-color-emphasis;
        color: globals.$color-base-button;
        text-transform: capitalize;
        transition: all 300ms;
        user-select: none;
        cursor: pointer;
        gap: globals.$spacing-small;

        &__text {
            display: inline-block;
            line-height: 1.25;
        }

        &:hover {
            background-color: color.adjust(globals.$bg-color-emphasis, $lightness: 8%);
            color: globals.$color-hover-button;
        }
    }

    &__menu {
        @extend %reset-list;

        position: absolute;
        z-index: 2;
        top: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        min-width: globals.$dropdown-min-width;
        border-radius: 0 0 globals.$border-radius-normal globals.$border-radius-normal;
        background-color: globals.$bg-color-emphasis;
        box-shadow: -2px 6px 6px rgba(0, 0, 0, 0.25);
        transform-origin: 50% 0%;
        transform: scaleY(0);
        transition: transform 150ms ease-in-out;

        &__item {
            flex: 0 0 auto;

            &:hover {
                background-color: color.adjust(globals.$bg-color-emphasis, $lightness: 8%);
            }

            &:last-child {
                border-radius: 0 0 globals.$border-radius-normal globals.$border-radius-normal;
            }
        }
    }

    &--open {
        #{$block}__menu {
            transform: none;
        }

        #{$block}__button {
            background-color: color.adjust(globals.$bg-color-emphasis, $lightness: 8%);
        }
    }
}
