@use '~@/style/globals';

.MaterialViewDocuments {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 10px);

    &__main {
        flex: 1;
        min-width: 300px;

        .Help {
            margin-top: globals.$content-padding-large-vertical;
            text-align: center;
        }
    }

    &__no-document {
        margin: 30px 0 0;
        color: globals.$text-light-color;
        font-size: 1.2rem;
        font-style: italic;
        text-align: center;
    }

    &__list {
        margin: 0;
        padding: 0 globals.$content-padding-small-vertical 0 0;
    }

    .MaterialViewDocumentsUpload {
        flex: 1;
    }
}
