.Form {
  &__fieldset {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 1.1rem;
      margin: 0 0 15px;
    }
  }

  &__fieldset + &__fieldset {
    margin-top: 40px;
  }

  &__actions {
    margin-top: 40px;
    text-align: left;
    padding-bottom: 40px;
  }

  .FormField + .FormField {
    margin-top: $content-padding-small-vertical;;
  }

  input + input {
    margin-left: $content-padding-large-horizontal;;
  }

  &--fixed-actions {
    .Form__actions {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      z-index: 2;
      padding: 20px 0;
      text-align: center;
      background: $bg-color-body;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    }
  }

  @media screen and (min-width: $screen-mobile) {
    &--fixed-actions {
      .Form__actions {
        left: $side-nav-width;
      }
    }
  }

  @media screen and (min-width: $screen-tablet) {
    &__fieldset {
      &__title {
        margin-left: $form-label-width;
      }
    }

    &__actions {
      padding-left: $form-label-width;
    }
  }

  @media screen and (min-width: $screen-desktop) {
    &--fixed-actions {
      .Form__actions {
        left: $side-nav-full-width;
      }
    }
  }
}
