/* stylelint-disable selector-max-type */

.Form {
    &__fieldset {
        flex: 1;
        display: flex;
        flex-direction: column;

        &__title {
            margin: 0 0 15px;
            font-size: 1.1rem;
        }
    }

    &__fieldset + &__fieldset {
        margin-top: 40px;
    }

    &__actions {
        margin-top: 40px;
        padding-bottom: 40px;
        text-align: left;
    }

    .FormField + .FormField,
    .SelectSearch + .SelectSearch,
    .FormField + .SelectSearch,
    .SelectSearch + .FormField {
        margin-top: $content-padding-small-vertical;
    }

    input + input {
        margin-left: $content-padding-large-horizontal;
    }

    &--fixed-actions {
        margin-bottom: $form-fixed-actions-margin-bottom;

        .Form__actions {
            position: fixed;
            z-index: 2;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0;
            padding: 20px 0;
            background: $bg-color-body;
            text-align: center;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        }
    }

    @media screen and (min-width: $screen-mobile) {
        &--fixed-actions {
            .Form__actions {
                left: $sidebar-width;
            }
        }
    }

    @media screen and (min-width: $screen-tablet) {
        &__fieldset {
            &__title {
                margin-left: $form-label-width;
            }
        }

        &__actions {
            padding-left: $form-label-width;
        }
    }

    @media screen and (min-width: $screen-desktop) {
        &--fixed-actions {
            .Form__actions {
                left: $sidebar-full-width;
            }
        }
    }
}
