/* stylelint-disable selector-max-type, selector-max-universal */

* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $text-base-font-family;
    font-size: $base-font-size;
}

body {
    flex: 1 1 auto;
    background-color: $bg-color-body;
}
