/* stylelint-disable selector-max-type */

a {
    text-decoration: none;

    &,
    &:visited,
    &:active {
        color: $link-base-color;
        cursor: pointer;
    }

    &:hover {
        color: $link-hover-color;
    }
}
