@use '~@/themes/default/style/globals';

.MultiSwitchOption {
    padding: 5px 10px;
    border-radius: globals.$border-radius-normal;
    cursor: pointer;
    transition: all 300ms;
    user-select: none;

    &__input {
        display: none;
    }

    &--active {
        background-color: rgba(97, 97, 97, 0.6);
        color: globals.$text-base-color;
        cursor: auto;

        box-shadow:
            0 1px 2px 0 rgba(0, 0, 0, 0.03),
            0 1px 6px -1px rgba(0, 0, 0, 0.02),
            0 2px 4px 0 rgba(0, 0, 0, 0.02);
    }
}
