.MultipleItem {
    $block: &;

    &__item-pivot-field {
        width: 150px;
        margin-left: 0.6rem;
    }

    &__item-action-btn {
        height: 35px;
        margin-left: 0.6rem;
    }

    &__value-field {
        flex: 1;
        min-height: 2.7rem;
        padding: $input-padding-vertical $input-padding-horizontal;
        border: $input-border-size solid $bg-color-input-normal;
        border-radius: $input-border-radius;
        color: $color-input;

        &--loading {
            color: $text-light-color;
        }

        &--error {
            color: $text-danger-color;
            font-style: italic;
        }
    }

    // stylelint-disable-next-line selector-class-pattern
    .v-select {
        flex: 1;
    }

    &__actions {
        margin-left: $form-label-width;
        padding: 1rem 0;

        // stylelint-disable-next-line selector-max-type
        button {
            padding: 5px 10px;
        }
    }

    //
    // - Empty state
    //

    &--empty {
        #{$block}__actions {
            margin-left: 0;
        }
    }
}
