@use '~@/themes/default/style/globals';

.MaterialsSortedCategory {
    &__title {
        margin: 0 0 5px;
        font-size: 1.2rem;
    }

    &__list {
        width: 100%;
        margin: 0 0 5px;
        padding: 0;
        border-collapse: collapse;
    }

    &__subtotal {
        display: flex;
        padding: 10px 0 0;
        list-style: none;

        &__name {
            flex: 1;
            color: globals.$text-light-color;
            text-align: right;
        }

        &__price {
            flex: 0 0 auto;
            margin-left: 0.8rem;
            color: globals.$text-base-color;
            font-weight: 600;
            text-align: right;
        }
    }
}
