.EventStep2 {
    max-width: 800px;
    min-width: 250px;
    margin: 0 auto;

    &__title {
        margin-top: 0;
        font-size: 1.5rem;
        font-weight: 200;
    }

    &__help {
        margin-top: 0;

        .fas {
            margin-right: 0.3rem;
            font-size: 1.2rem;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0 0.5rem;
    }
}
