@use '~@/themes/default/style/globals';

.EventStep2 {
    max-width: 800px;
    min-width: 250px;
    margin: 0 auto;

    &__title {
        margin-top: 0;
        font-size: 1.5rem;
        font-weight: 200;
    }

    &__help {
        margin-top: 0;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        padding: globals.$spacing-large 0;
        gap: globals.$spacing-small;
    }
}
