.ErrorDetails {
  font-size: 1.1rem;
  font-weight: 400;

  &__header {
    display: flex;
    align-items: center;
    padding: .7rem 1rem;
    background-color: $bg-color-main-header;
  }

  &__title {
    flex: 1;
    font-size: 1.5rem;
    color: $text-danger-color;
  }

  &__btn-close {
    flex: 0 0 auto;
    background: none;
    border: none;
  }

  &__main {
    padding: .7rem 1rem 2rem;
  }

  &__no-details-info {
    font-weight: 600;
    color: $text-warning-color;
  }

  hr {
    opacity: .15;
  }

  &__content {
    color: $text-nav-color;
  }

  &__subtitle {
    font-size: 1.3rem;
  }

  &__message,
  &__file {
    font-family: monospace;
    font-weight: 600;
  }

  &__trace {
    max-height: 150px;
    overflow-y: auto;
    color: $bg-color-body;
  }

  &__traceItem {
    margin-bottom: .5rem;
    color: $text-nav-color;

    &__index {
      display: inline-block;
      width: 3rem;
      font-weight: 600;
    }

    &__info {
      font-family: monospace;
      color: $text-nav-color;
    }

    &__info:not(:nth-child(2)) {
      margin-left: 3rem;
    }
  }

  &__footer {
    padding: 1.5rem 1rem 0;
    text-align: center;
  }

  &__is-copied {
    margin-top: 0;
    color: $text-success-color;
  }
}
