@use '~@/style/globals';

.MaterialViewUnits {
    display: flex;
    flex-wrap: wrap;

    .VueTables__actions {
        width: 8.7rem;
    }

    &__yes-warning {
        color: globals.$text-warning-color;
        font-weight: 600;
    }

    &__yes-danger {
        color: globals.$text-danger-color;
        font-weight: 600;
    }

    &__no-ok {
        color: globals.$text-light-color;
    }

    &__used-by {
        margin: 0;
        padding: 0;

        &__item {
            color: globals.$text-nav-color;
            list-style: none;
        }
    }
}
