<!DOCTYPE html>
<html class="root">
    <head>
        {% block head %}
    	<title>Robert2 {% block title %}{% endblock %}</title>
    	<link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        {% endblock %}
    </head>
    <body class="body">
        <header class="body__header header">
            {% block header %}
            <img src="/img/logo.svg" class="header__logo" />
            <h3 class="header__title">{% block pageTitle %}{% endblock %}</h3>
            {% endblock %}
        </header>
        <div class="body__content page">
            {% block content %}{% endblock %}
        </div>
        <footer class="body__footer footer">
            <div class="footer__version">
                Robert2 API, version <strong>{{version()}}</strong>
            </div>
            <div class="footer__licence">
                &copy; Pulsanova 2017-{{ 'now'|date('Y') }} - Tous droits réservés.
            </div>
        </footer>
    </body>
</html>
