@use '~@/themes/default/style/globals';
@use 'sass:color';

.Page--beneficiaries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .Beneficiaries {
        flex: 1;
    }
}

.Beneficiaries {
    $block: &;

    display: flex;
    flex-direction: column;

    &__table {
        flex: 1;
    }

    &:not(&--trashed) {
        #{$block}__row {
            cursor: pointer;

            &:hover > #{$block}__cell {
                background-color: color.adjust(globals.$bg-color-table-td, $lightness: 5%);
            }
        }
    }

    &__cell {
        &--reference,
        &--email,
        &--company,
        &--can-make-reservation,
        &--address,
        &--note {
            display: none;
        }

        &--address {
            white-space: pre-line;
        }

        &--note {
            max-width: 200px;
            white-space: pre-line;
        }

        &--actions {
            width: 1%;
            text-align: right;
            white-space: nowrap;
        }

        //
        // - Responsive
        //

        @media (min-width: globals.$screen-mobile) {
            &--company {
                display: table-cell;
            }
        }

        @media (min-width: globals.$screen-tablet) {
            &--email,
            &--reference {
                display: table-cell;
            }
        }

        @media (min-width: globals.$screen-big-desktop) {
            &--address,
            &--note {
                display: table-cell;
            }
        }
    }
}
