@use 'sass:color';
@use '~@/themes/default/style/globals';

.QuantityInput {
    display: inline-flex;
    width: auto;
    height: 28px;

    &__button {
        $sub-block: &;

        flex: 0 0 auto;
        display: inline-block;
        padding: 6px 8px;
        border: none;
        font-size: 1rem;
        line-height: 1.25;
        text-decoration: none;
        cursor: pointer;
        transition: all 300ms;

        &:hover,
        &:focus {
            outline: 0;
        }

        &--disabled {
            &,
            &:hover,
            &:active,
            &:focus {
                cursor: not-allowed;
                opacity: 0.3;
            }
        }

        &--decrement {
            border-radius: globals.$input-border-radius 0 0 globals.$input-border-radius;
            background-color: #616161;
            color: #e0e0e0;

            &:hover,
            &:focus {
                background-color: color.adjust(#616161, $lightness: 8%);
                color: #fff;
            }

            &:active {
                background-color: color.adjust(#616161, $lightness: -8%);
                color: #fff;
            }

            &#{$sub-block}--disabled {
                &,
                &:hover,
                &:focus,
                &:active {
                    background-color: globals.$bg-color-input-normal;
                    color: globals.$text-light-color;
                }
            }
        }

        &--increment {
            border-radius: 0 globals.$input-border-radius globals.$input-border-radius 0;
            background-color: globals.$bg-color-button-info;
            color: #fff;

            &:hover,
            &:focus {
                background-color: color.adjust(globals.$bg-color-button-info, $lightness: 8%);
                color: #fff;
            }

            &:active {
                background-color: color.adjust(globals.$bg-color-button-info, $lightness: -8%);
                color: #fff;
            }

            &#{$sub-block}--disabled {
                &,
                &:hover,
                &:focus,
                &:active {
                    background-color: color.adjust(globals.$bg-color-button-info, $lightness: 8%);
                    color: #fff;
                }
            }
        }
    }

    &__input {
        flex: 0 0 auto;
        width: 49px;
        min-height: auto;
        margin: 0;
        padding: 5px 8px;
        border-radius: 0;
        text-align: center;
        appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            margin: 0;
            appearance: none;
        }
    }
}
