@use '~@/themes/default/style/globals';
@use 'sass:color';

//
// - Background
//

$background-color: globals.$bg-color-emphasis !default;

//
// - Header
//

$header-border-color: globals.$divider-color !default;
$header-border-color-active: globals.$primary-color !default;

//
// - Tab
//

$border-radius: globals.$border-radius-normal globals.$border-radius-normal 0 0 !default;
$icon-margin: 0.5rem !default;
$text-color: globals.$text-soft-color !default;
$text-color-active: globals.$text-base-color !default;
$text-color-disabled: globals.$text-muted-color !default;

//
// - Counter
//

$counter-background-color: globals.$badge-background-color !default;
$counter-text-color: globals.$badge-text-color !default;

//
// - Content panel
//

$panel-margin-top: globals.$spacing-medium !default;
