@use '~@/style/globals';

.ErrorMessage {
    color: globals.$text-danger-color;
    font-weight: 600;
    text-align: center;

    &__show-details {
        display: block;
        padding: 0 20px;
        font-size: 0.9rem;
        font-weight: 400;
        font-style: italic;
    }
}
