@use '~@/style/globals';

.ParkTotalAmount {
    text-align: center;

    &__calc-button {
        width: 100%;
        border: none;
        background: none;
        color: globals.$text-light-color;
    }

    &__amount {
        padding: 7px 10px;
        text-align: right;
    }
}
