@use '~@/themes/default/style/globals';

.Page {
    $block: &;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: auto;
    height: 100%;
    padding: globals.$spacing-small globals.$spacing-medium globals.$spacing-medium;
    gap: globals.$spacing-medium;

    &__header {
        flex: 0 0 auto;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: globals.$spacing-small globals.$spacing-large;

        &__content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;
            gap: globals.$spacing-small;
        }

        &__help {
            @extend %reset-p;

            @include globals.line-clamp(3);

            display: inline-flex;
            align-items: center;
            min-width: 250px;
            color: globals.$help-text-color;
            white-space: pre-line;

            @include globals.icon('info-circle') {
                margin-right: globals.$spacing-small;
                font-size: 1.2rem;
            }

            //
            // - Variantes
            //

            &--error {
                @include globals.icon('exclamation-triangle');

                color: globals.$text-danger-color;
                font-weight: 600;
            }
        }

        &__actions {
            flex-shrink: 0;
            display: flex;
            margin-left: auto;
            gap: globals.$spacing-small;
        }
    }

    &__body {
        flex: 1;
        width: 100%;
    }

    //
    // - Modifiers
    //

    &--centered {
        #{$block}__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        padding: globals.$spacing-medium;
        gap: globals.$spacing-medium;
    }
}
