.EventStep2 {
    &__title {
        font-size: 1.5rem;
        font-weight: 200;
    }

    &__help {
        margin-top: 0;

        .fas {
            margin-right: 0.3rem;
            font-size: 1.2rem;
        }
    }

    &__footer {
        padding: 1rem 0 0.5rem;
    }
}
