.EventStep2 {
  &__title {
    font-size: 1.5rem;
    font-weight: 200;
  }

  &__help {
    margin-top: 0;

    .fas {
      font-size: 1.2rem;
      margin-right: .3rem;
    }
  }

  &__footer {
    padding: 1rem 0 .5rem;
  }
}
