.Attributes {
  &__header {
    .Help {
      margin-top: $content-padding-small-horizontal;
      margin-right: $content-padding-small-vertical;
    }
  }

  &__back-button {
    margin-top: $content-padding-small-horizontal;
  }

  &__no-data {
    background-color: $bg-color-table-td;
    margin: 0;
    padding: 1.5rem .5rem;
    text-align: center;
    font-style: italic;
  }

  &__items {
    width: 100%;
    min-width: 800px;
    margin: 0;
    background-color: $bg-color-table-td;
    color: $text-base-color;
    border-collapse: collapse;

    &__header {
      font-weight: 600;
      background-color: $bg-color-table-th;
      color: $text-nav-color;
      text-align: left;
    }

    &__name,
    &__edit-name,
    &__type,
    &__unit,
    &__max-length,
    &__categories {
      padding: .8rem .5rem;
      border-bottom: 1px solid $bg-color-body;
    }

    &__name-error {
      color: $text-danger-color;
      font-weight: 400;
    }

    &__edit-name {
      height: 45px;
      text-align: center;

      &__edit-button {
        visibility: hidden;
        transition: none;
        padding: 5px 8px;
        font-size: .9rem;
      }
    }

    &__line:hover {
      .Attributes__items__edit-name__edit-button {
        visibility: visible;
      }
    }

    &__name {
      width: 220px;
      font-weight: bold;
    }

    &__edit-name {
      width: 85px;
    }

    &__type {
      width: 170px;
    }

    &__unit {
      width: 80px;
      text-align: center;
    }

    &__max-length {
      width: 125px;
      text-align: center;
    }

    &__categories {
      &__empty {
        color: $text-light-color;
        font-style: italic;
      }
    }
  }

  &__actions {
    display: flex;
    margin-top: 1rem;

    &--add {
      justify-content: flex-end;
    }
  }
}
