.Attributes {
    &__header {
        .Help {
            margin-top: $content-padding-small-horizontal;
        }
    }

    &__back-button {
        margin-top: $content-padding-small-horizontal;
        margin-right: $content-padding-small-vertical;
    }

    &__no-data {
        background-color: $bg-color-table-td;
        margin: 0;
        padding: 1.5rem 0.5rem;
        text-align: center;
        font-style: italic;
    }

    &__items {
        width: 100%;
        min-width: 800px;
        margin: 0;
        background-color: $bg-color-table-td;
        color: $text-base-color;
        border-collapse: collapse;

        &__header {
            font-weight: 600;
            background-color: $bg-color-table-th;
            color: $text-nav-color;
            text-align: left;
        }

        &__name,
        &__type,
        &__unit,
        &__max-length,
        &__categories,
        &__delete {
            height: 45px;
            padding: 0.8rem 0.5rem;
            border-bottom: 1px solid $bg-color-body;
        }

        &__name {
            width: 305px;
            font-weight: bold;

            &__content {
                display: flex;
                align-items: center;
            }

            &__text {
                flex: 1;
            }

            &__actions {
                margin-left: 10px;
            }

            &__input {
                width: 100%;
            }

            &__error {
                color: $text-danger-color;
                font-weight: 400;
            }

            &__edit-button {
                visibility: hidden;
                transition: none;
                padding: 5px 8px;
                font-size: 0.9rem;
            }
        }

        &__delete {
            width: 30px;

            &__button {
                visibility: hidden;
                transition: none;
                padding: 5px 8px;
                font-size: 0.9rem;

                &--show {
                    visibility: visible;
                }
            }
        }

        &__line:hover {
            .Attributes__items__name__edit-button,
            .Attributes__items__delete__button {
                visibility: visible;
            }
        }

        &__type {
            width: 170px;
        }

        &__unit {
            width: 100px;
            text-align: center;
        }

        &__max-length {
            display: none;
            width: 100px;
            text-align: center;
        }

        &__categories {
            &__empty {
                color: $text-light-color;
                font-style: italic;
            }
        }
    }

    &__actions {
        display: flex;
        margin-top: 1rem;

        &--add {
            justify-content: flex-end;
        }
    }

    @media (min-width: $screen-big-desktop) {
        &__items__max-length {
            display: table-cell;
        }
    }
}
