@use './variables' as *;

.Progressbar {
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: $border-radius;
    background: $background-color;

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        border-radius: $border-radius;
        background: $progress-background-color;
        text-align: center;
        transition: width 200ms linear;
    }

    //
    // - Variantes
    //

    &--minimalist {
        height: 7px;
    }
}
