.install__check {
    font-weight: 200;
}

.install__check-result {
    margin: 10px 0 20px 30px;
}

.install__check-success {
    color       : #0a0;
    font-weight : 400;
}

.install__check-info {
    color       : #06a;
    font-weight : 400;
}

.install__check-error {
    color       : #f00;
    font-weight : 400;
}

.install__table-toggle {
    font-size: .8rem;
}

.install__table-fields {
    display: none;
}

.install__table-fields--displayed {
    display: none;
}

.install__admin-names {
    display: flex;
    align-items: center;
}
.install__admin-names label {
    flex: 0 0 auto;
}
.install__admin-names input {
    flex: 1;
    margin: 0 .5rem;
}
