@use '~@/themes/default/style/globals';

.TechnicianEditForm {
    $block: &;

    &__name {
        display: flex;
        margin-bottom: globals.$spacing-medium;

        #{$block}__first-name,
        #{$block}__last-name {
            flex: 1;
            width: 50%;
            margin: 0;
        }

        #{$block}__first-name {
            margin-right: 5px;
        }

        #{$block}__last-name {
            margin-left: 5px;
        }
    }

    &__locality {
        display: flex;
        margin: globals.$spacing-medium 0;

        #{$block}__postal-code {
            flex: unset;
            width: 120px;
        }

        #{$block}__city {
            flex: 1;
            margin: 0 0 0 10px;
        }
    }
}
