@use '~@/themes/default/style/globals';

.IconMessage {
    display: inline-flex;
    align-items: flex-start;
    margin: 0;
    gap: globals.$spacing-small;

    &__icon {
        margin-top: 2px;
        font-size: 1.1rem;
    }
}
